<template>
    <!-- eslint-disable -->
    <div class="grid">
        <div class="col-12">
            <Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
        </div>
        <div class="col-12 p-fluid">
            <div class="card">
                <div class="grid formgrid mb-4" style="margin: 1em 0 0 0;">
                    <div class="col-6">
                        <div class="col-12 mb-5 lg:col-12 lg:mb-0">
                            <p>Type *</p>
                            <!-- <InputText type="text" v-model="inputType" /> -->
                            <AutoComplete v-model="inputType" :suggestions="filteredTypes" @complete="searchTypes($event)" field="" />
                        </div>
                        <div class="col-12 mb-5 lg:col-12 lg:mb-0">
                        </div>
                        <div class="col-12 mb-5 mt-3 lg:col-12 lg:mb-0">
                            <p>Name *</p>
                            <InputText type="text" v-model="inputName" />
                        </div>
                        <div class="col-12 mb-5 lg:col-12 lg:mb-0">
                        </div>
                        <div class="col-12 mb-5 mt-3 lg:col-12 lg:mb-0">
                            <p>Return</p>
                            <InputText type="text" v-model="inputReturn" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="col-12 mb-5 lg:col-12 lg:mb-0">
                            <p>Description</p>
                            <InputText type="text" v-model="inputDesc" />
                        </div>
                        <div class="col-12 mb-5 lg:col-12 lg:mb-0">
                        </div>
                        <div class="col-12 mb-1 mt-2 lg:col-12 lg:mb-0">
                            <br>
                            <p>Active *</p>
                            <InputSwitch v-model="inputActive" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 p-fluid">
        <div class="col-7 mt-2 lg:col-4 lg:mb-0">
                <Button icon="pi pi-arrow-left" class="p-button-warning" label="Return" @click="returnPage()"></Button>
            </div>
        </div>
        <div class="col-6 p-fluid">
            <div class="col-12 mt-2 lg:col-12 lg:mb-0">
                <Button icon="pi pi-check" label="Submit" @click="onSubmit()"></Button>
            </div>
        </div>
    </div>
</template>
<script>
/* eslint-disable */
import LovService from '../../service/LovService'
export default {
    data() {
        return {
            breadcrumbHome: {
                icon: 'pi pi-home',
                to: '/dashboard'
            },
            breadcrumbItems: [{
                    label: 'LOV Dynamic',
                    to: '/mgm/settings/lovdynamic'
                },
                {
                    label: 'Add LOV Data'
                },
            ],
            inputType: null,
            inputName: null,
            inputReturn: null,
            inputDesc: null,
            inputActive: true,
            valueActive: null,
            typevalue: [],
            filteredTypes: null

        }
    },
    mounted() {
        LovService.getAllData().then((respType) => {
            this.typevalue = [];
            var typeTmp = null;
            for (const i of respType.data.data) {
                // console.log(typeTmp + JSON.stringify(i["type"]));
                if (typeTmp != JSON.stringify(i["type"])) {
                    this.typevalue.push(i["type"]);
                    //console.log("typeValue: "+ this.typevalue);
                }
                typeTmp = JSON.stringify(i["type"]);
            }
            // console.log('Types:', JSON.stringify(this.typevalue));
        })
    },
    methods: {
        returnPage() {
            this.$router.push('lovdynamic')
        },
        showValues() {
            console.log(this.inputType, this.inputName);
        },
        searchTypes(event) {
            setTimeout(() => {
                if (!event.query.trim().length) {
                    this.filteredTypes = [...this.typevalue];
                } else {
                    this.filteredTypes = this.typevalue.filter((item) => {
                        return item.toLowerCase().startsWith(event.query.toLowerCase());
                    });
                }
            }, 250);
        },
        async onSubmit() {
            if (this.inputActive === true) {
                this.valueActive = 1;
            } else if (this.inputActive === false) {
                this.valueActive = 0;
            }
            if (this.inputType === null || this.inputActive === null || this.inputName === null) {
                window.alert("Harap isi kolom yang berbintang")
            }
            let payload = {
                id: this.inputType.toUpperCase() + "" + this.inputName.toUpperCase(),
                name: this.inputName.toUpperCase(),
                db_instance: this.inputDesc.toUpperCase(),
                value: this.inputReturn.toUpperCase(),
                type: this.inputType.toUpperCase(),
                active: this.valueActive
            };
            //console.log('>>>>>>>> payload ' + JSON.stringify(payload));
            LovService.insertValue(payload).then((result) => {
                    //   console.log("Result on save ", result);
                    if (result.status === 200) {
                        this.$router.push('lovdynamic');
                    } else {
                        //console.log("Data belum masuk");
                    }
                },
                // (err) => {
                //   console.log(err);
                //   this.showTopCenterErr(err.error.data);
                // }
            );
        }
    },
}
</script>