<template>
	<div class="grid">
		<Toast />
		<ConfirmDialog></ConfirmDialog>
		<ConfirmDialog group="positionDialog"></ConfirmDialog>
		<div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
		<!-- PO Header -->
		<div class="col-12 p-fluid">
			<div class="card">
				<div class="p-fluid grid formgrid" style="margin-top: 0.5em">
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="poSegment"
								disabled
							/>
							<label for="inputtext">PO Number</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="confirmDate"
								disabled
							/>
							<label for="inputtext">Confirm Date</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="status"
								disabled
							/>
							<label for="inputtext">Status</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="buyer"
								disabled
							/>
							<label for="inputtext">Buyer</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="revisionNum"
								disabled
							/>
							<label for="inputtext">Rev</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="shipTo"
								disabled
							/>
							<label for="inputtext">Ship To</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="currency"
								disabled
							/>
							<label for="inputtext">Currency</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="confirmBy"
								disabled
							/>
							<label for="inputtext">Confirm By</label>
						</span>
					</div>
				</div>

				<!-- Terms -->
				<div
					class="card"
					style="
						background-color: #ffecec;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: #da3831; margin-top: -10px">Terms</h5>
				</div>
				<div class="p-fluid grid formgrid">
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="top"
								disabled
							/>
							<label for="inputtext">ToP</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="freightTerms"
								disabled
							/>
							<label for="inputtext">Freight</label>
						</span>
					</div>
					<div class="col-12 mb-4 md:col-6 lg:col-4 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="incoterm"
								disabled
							/>
							<label for="inputtext">Incoterm</label>
						</span>
					</div>
				</div>

				<!-- Attachment File -->
				<div
					class="card"
					style="
						background-color: #ffecec;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: #da3831; margin-top: -10px">
						Attachment Document
					</h5>
				</div>
				<!-- Download File button -->
				<div class="p-fileupload">
					<div class="fileupload-buttonbar">
						<table>
							<tr v-if="attachmentFilePur">
								<td>
									<h5>PO File</h5>
								</td>
								<td>
									<h5>:</h5>
								</td>
								<td>
									<h5>
										<span
											class="inline-block mx-2 font-bold"
											v-if="!filePurIsEmpty"
											>{{
												attachmentFilePur.FILENAME
											}}</span
										>
									</h5>
								</td>
								<td>
									<h5>
										<a
											:href="this.linkFilePur"
											class="p-button-success"
											v-if="!filePurIsEmpty"
											_target="blank"
										>
											<i class="pi pi-download"></i
											><span class="ml-2">Download</span>
										</a>
									</h5>
								</td>
								<td>
									<h5>
										<Button
											label="Remove"
											class="p-button-danger"
											@click="
												onRemovePur(
													this.filePur.PO_HEADER_ID
												)
											"
											v-if="!filePurIsEmpty"
										>
											<i class="pi pi-times"></i>
											<span class="ml-2">Remove</span>
										</Button>
									</h5>
								</td>
							</tr>
							<tr v-if="attachmentFileSupp">
								<td>
									<h5>Confirm PO File</h5>
								</td>
								<td>
									<h5>:</h5>
								</td>
								<td>
									<h5>
										<span
											class="inline-block mx-2 font-bold"
											v-if="!fileSuppIsEmpty"
											>{{
												attachmentFileSupp.FILENAME
											}}</span
										>
									</h5>
								</td>
								<td>
									<h5>
										<a
											:href="this.linkFileSupp"
											class="p-button-success"
											_target="blank"
										>
											<i class="pi pi-download"></i
											><span class="ml-2">Download</span>
										</a>
									</h5>
								</td>
							</tr>
						</table>
					</div>
					<div class="p-fileupload-buttonbar"></div>
					<div class="p-fileupload-buttonbar"></div>
				</div>
				<div>
					<FileUpload
						id="uploadFile"
						mode="advanced"
						@select="onSelect"
						:multiple="false"
						:customUpload="true"
						accept="application/pdf"
						:maxFileSize="1000000"
						:showUploadButton="false"
						:showCancelButton="false"
						:fileLimit="1"
					>
					</FileUpload>
					<!-- <FileUpload
			id="uploadFile"
			fileLimit=1
			chooseLabel="Upload File"
			chooseIcon="pi pi-upload"
			:customUpload="true"
			@uploader="handleUploadFile"
				/> -->
				</div>
			</div>
		</div>

		<!-- Items -->
		<div class="col-12 p-fluid">
			<div class="card">
				<div
					class="card"
					style="
						background-color: #ffecec;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: #da3831; margin-top: -10px">Items</h5>
				</div>

				<div class="col-12 mb-5">
					<DataTable
						:value="detailItems"
						dataKey="LINE_NUM"
						:paginator="true"
						:rows="5"
						v-model:filters="filters"
						v-model:selection="selectedPo"
						:rowClass="rowClass"
						removableSort
						paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
						:rowsPerPageOptions="[5, 10, 25]"
						:loading="loading"
						selectionMode="multiple"
						:metaKeySelection="false"
						@rowSelect="onRowSelect"
						@rowUnselect="onRowUnselect"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
						responsiveLayout="scroll"
					>
						<Column
							field="line_num"
							header="Line"
							:sortable="true"
						></Column>
						<Column
							field="item_number"
							header="Item Number"
							headerStyle="min-width:12rem;"
							:sortable="true"
						></Column>
						<Column
							field="item_description"
							header="Item Description"
							headerStyle="min-width:20rem;"
							:sortable="true"
						></Column>
						<Column field="uom" header="UOM"> </Column>
						<!-- <Column field="currency_code" header="Currency">
						</Column> -->
						<Column
							field="unit_price"
							header="Unit Price"
							dataType="numeric"
							style="text-align: right"
							headerStyle="min-width:8rem;"
							:sortable="true"
						>
						</Column>
						<Column
							field="quantity"
							header="Quantity"
							dataType="numeric"
							style="text-align: right"
							:sortable="true"
						>
						</Column>
						<Column
							field="note_to_vendor"
							header="Note to Supplier"
							headerStyle="min-width:15rem;"
							:sortable="true"
						>
						</Column>
						<Column
							field="need_by_date"
							header="Arrival at Site (based at incoterm)"
							headerStyle="min-width:8rem;"
							:sortable="true"
						>
							<template #body="{ data }">
								{{ data.need_by_date }}
							</template>
						</Column>
						<Column
							field="estimate_supplier_date"
							header="Est. Arrival at Site (based at incoterm)"
							headerStyle="min-width:8rem;"
							:sortable="true"
						>
						</Column>
						<Column
							header="Reason for not on time"
							field="reason_not_on_time"
							headerStyle="min-width:20rem;"
						>
						</Column>
						<Column
							field="name"
							header="Line Status"
							:sortable="true"
						>
						</Column>
					</DataTable>
				</div>

				<div class="p-fluid grid formgrid">
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Back"
							class="p-button-secondary"
							@click="back()"
						/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button type="button" label="Save" @click="save()" />
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/* eslint-disable */
import PoFulfillment from '../../../service/PoFulfillment';
import AuthService from '../../../service/AuthService';
export default {
	name: 'po-fulfillment-detail',
	data() {
		return {
			idValue: this.$route.params.id,
			idDetail: null,
			poHeaderId: null,
			poSegment: null,
			confirmDate: null,
			status: null,
			buyer: null,
			revisionNum: null,
			currency: null,
			confirmBy: null,
			confirmReqId: null,
			confirmType: null,
			dbInstance: null,
			detailItems: null,
			detailTerms: null,
			detailFiles: null,
			filePur: null,
			filePurIsEmpty: false,
			fileSupp: null,
			fileSuppIsEmpty: false,
			location: null,
			isiLocation: null,
			filteredLocation: null,
			displayResponsive: false,
			changeTable: false,
			planningOrderTable: null,
			selectedPo: null,
			selectedTerms: null,
			termsTable: null,
			poType: null,
			isiPoType: null,
			filteredPoType: null,
			selectedPoType: null,
			uom: null,
			isiUom: null,
			freight: null,
			isiFreight: null,
			tablepopuppo: null,
			arrivalDate: null,
			top: null,
			isiTop: null,
			incoterm: null,
			isiIncoterm: null,
			status: null,
			changeStatus: null,
			unholdStatus: null,
			changeHold: false,
			changeUnhold: false,
			popUpPo: null,
			filteredPopUpPo: null,
			poNumber: null,
			qty: null,
			submitpo: false,
			isInvalid: true,
			displayValidasi: false,
			displayPilih: false,
			something: null,
			disabled: [],
			something: null,
			line: null,
			untukIndex: null,
			payloadNotAccept: null,
			displaySubmit: false,
			respondStatus: true,
			confOption: 'manual',
			idUser: null,
			breadcrumbHome: { icon: 'pi pi-home', to: '/' },
			breadcrumbItems: [
				{ label: 'Po Fulfillment', to: '/mgm/settings/sysparamslist' },
				{ label: 'Detail Po Fulfillment' },
			],
			linkFilePur: null,
			linkFileSupp: null,
			monthShortNames : ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
			"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
			],
		};
	},
	created() {
		if (this.idValue != 0) {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					this.idUser = response.data.data.id;
					const payload = this.idValue;
					// Get PO Header
					PoFulfillment.getDetailHeader(payload).then((response) => {
						console.log('PO Header Res:', response);
						this.poHeaderId = response.data.data.PO_HEADER_ID;
						this.poSegment = response.data.data.SEGMENT1;
						this.status = response.data.data.status || 'N/A';
						this.buyer = response.data.data.BUYER_NAME;
						this.revisionNum = response.data.data.REVISION_NUM;
						this.shipTo = response.data.data.SHIP_TO_NAME;
						this.currency = response.data.data.CURRENCY_CODE;
						this.confirmBy = response.data.data.CONFIRM_SP_NAME;
						this.confirmReqId = response.data.data.CONFIRM_REQ_ID;
						this.confirmType = response.data.data.CONFIRM_TYPE;
						this.dbInstance = response.data.data.DB_INSTANCE;
						this.confirmDate = new Date(
							response.data.data.CONFIRM_DATE
						).toLocaleString('id-ID', {
							day: 'numeric',
							month: 'short',
							year: 'numeric',
							hour: '2-digit',
							minute: '2-digit',
							second: '2-digit',
						});

						// Get others
						this.getTop(response.data.data.DB_INSTANCE);
						this.getIncoterm(response.data.data.DB_INSTANCE);
					});

					// Get PO Items
					if (this.idValue !== null) {
						const payload = this.idValue;
						PoFulfillment.getDetailItems(payload).then(
							(response) => {
								console.log('PO Items Res:', response);
								this.detailItems = response.data.data.map(
									(item) => {
										
										if (item.need_by_date == null ){
											item.need_by_date = ''
										}
										else{
											// item.need_by_date = new Date(item.need_by_date);
											item.need_by_date = new Date(item.need_by_date).toLocaleDateString('id-ID',{ day: 'numeric', month: 'short', year: 'numeric' ,hour: "2-digit",minute: "2-digit", second: "2-digit"});
											item.estimate_supplier_date = new Date(item.estimate_supplier_date).toLocaleDateString('id-ID',{ day: 'numeric', month: 'short', year: 'numeric' ,hour: "2-digit",minute: "2-digit", second: "2-digit"});
										}
										item.currency_code = this.currency;
										console.log('dwdadawd',item.need_by_date)
										return item;
									}
								);
							}
						);

						// Get PO Terms
						PoFulfillment.getDetailTerms(payload).then(
							(response) => {
								console.log('PO Terms Res:', response);
								this.detailTerms = response.data.data[0];
								this.freightTerms =
									response.data.data[0].FREIGHT_TERMS;
								// Make string capitalize
								this.freightTerms =
									this.freightTerms.toLowerCase();
								this.freightTerms =
									this.freightTerms.charAt(0).toUpperCase() +
									this.freightTerms.slice(1);
							}
						);

						// Get PO Files
						PoFulfillment.getDetailFiles(payload).then(
							(response) => {
								console.log('PO Files Res:', response);
								this.detailFiles = response.data.data;
							}
						);

						// PoFulfillment.getDetailFiles(payload).then(
						// 	(response) => {
						// 		console.log('PO Files Res:', response);
						// 		this.detailFiles = response.data.data;
						// 	}
						// );

						PoFulfillment.downloadFilePur(payload).then(
							(response) => {
								this.linkFilePur = response.data.data;
								console.log(
									'LINK Download Pur',
									this.linkFilePur
								);
							}
						);

						PoFulfillment.downloadFileSupp(payload).then(
							(response) => {
								this.linkFileSupp = response.data.data;
								console.log(
									'LINK Download Supp',
									this.linkFileSupp
								);
							}
						);
					}
				}
			});
		}
		// this.getLocation();
		// this.getPoType();
		// this.getUom();
		// this.getFreight();
		// this.getTablePoNumber();
	},
	watch: {},
	mounted() {},
	computed: {
		attachmentFilePur() {
			console.log('ini file');
			let files = this.detailFiles;
			let file = null;
			if (files === null) {
				console.log('List Files Checking on Purchase Is Empty');
				this.filePurIsEmpty = true;
			} else {
				for (const element of files) {
					console.log(element.PO_HEADER_ID);
					console.log(this.idValue);
					if (
						element.PO_HEADER_ID == this.idValue &&
						element.LEVEL_TENANT == 1
					) {
						file = element;
					}
				}
				if (file === null) {
					console.log('File Purchase Is Empty');
					this.filePurIsEmpty = true;
				} else {
					console.log('File Purchase Is Not Empty');
					this.filePurIsEmpty = false;
					this.filePur = file;
				}
			}

			console.log(file);
			return file;
		},
		dateFormat2(d) {
		var t = new Date(d);
		return t.getDate() + ' ' + this.monthShortNames[t.getMonth()] + ' ' + t.getFullYear() + ' ' + t.getHours() + ':' + t.getMinutes() + ':' + t.getSeconds();
		},
		attachmentFileSupp() {
			console.log('ini file');
			let files = this.detailFiles;
			let file = null;
			if (files == null) {
				console.log('List Files Checking on Supplier Is Empty');
				this.fileSuppIsEmpty = true;
			} else {
				for (const element of files) {
					console.log(element.PO_HEADER_ID);
					console.log(this.idValue);
					if (
						element.PO_HEADER_ID == this.idValue &&
						element.LEVEL_TENANT == 2
					) {
						file = element;
					}
				}
				if (file === null) {
					console.log('File Supplier Is Empty');
					this.fileSuppIsEmpty = true;
				} else {
					console.log('File Supplier Is Not Empty');
					this.fileSuppIsEmpty = false;
					this.fileSupp = file;
				}
			}
			console.log(file);
			return file;
		},

		topValue() {
			return (
				this.isiTop &&
				this.isiTop.find(
					(val) =>
						this.detailTerms &&
						val.term_id === this.detailTerms.TERMS_ID
				)
			);
		},
		incotermValue() {
			return (
				this.isiIncoterm &&
				this.isiIncoterm.find(
					(val) =>
						this.isiIncoterm && val.value === this.detailTerms.FOB
				)
			);
		},
	},
	methods: {
		async onRemovePur(payload) {
			console.log('Remove File');
			console.log(payload);
			const res = await PoFulfillment.removeFilePur(payload);
			if (res.status === 200) {
				this.filePurIsEmpty = true;
				this.$toast.add({
					severity: 'success',
					summary: 'File has been Removed !',
					life: 3000,
				});
			}
		},
		onSelect(e) {
			this.fileUploaded = null;
			this.file = e.files[0];
			console.log('select file : ', this.file);
		},
		async onUpload() {
			//this.loadingUpload = true;
			// let file = this.file
			// let fileUploaded = this.fileUploaded
			// let userId = sessionStorage.getItem('idUser');
			let formData = new FormData();
			formData.append('file', this.file);
			formData.append('poHeaderId', this.idValue);
			formData.append('userId', this.idUser);
			console.log('Send PO Doc res:', formData);

			// Uploading file
			this.loadingUpload = true;
			let res = null;
			console.log('On Upload Processing');
			console.log('Status this.filePurIsEmpty: ' + this.filePurIsEmpty);
			if (this.filePurIsEmpty === true) {
				console.log('Insert File');
				res = await PoFulfillment.uploadFilePur(formData);
			} else {
				console.log('Update File');
				res = await PoFulfillment.uploadFileUpdatePur(formData);
			}
			console.log('Send PO Doc res:', res);
			console.log('STATUS', res.status);
			if (res.status === 200) {
				this.fileUploaded = {
					filename: res.data.fileName,
					url: res.data.data.name,
					mimeType: res.data.mimeType,
				};
				// this.$refs.inputFile.clear();
				this.loadingUpload = false;
				// this.attachmentFilePur();
				location.reload();
				return res;
			}
		},
		formatCurrency(value) {
			if (value) return value.toLocaleString('id-ID');
			return;
		},
		formatDate(value) {
			const d = Date.parse(value);
			return new Date(d).toLocaleDateString('id-ID', {
				day: '2-digit',
				month: 'short',
				year: 'numeric',
				hour: '2-digit',
				minute: '2-digit',
				second: '2-digit',
			});
		},
		formatDateSend(date) {
			var d = new Date(date),
				month = '' + (d.getMonth() + 1),
				day = '' + d.getDate(),
				year = d.getFullYear();

			if (month.length < 2) month = '0' + month;
			if (day.length < 2) day = '0' + day;

			return [year, month, day].join('-');
		},
		formatDateDexa(date) {
			var date = new Date(date);
			var respondDate =
				('00' + (date.getMonth() + 1)).slice(-2) +
				'/' +
				('00' + date.getDate()).slice(-2) +
				'/' +
				date.getFullYear() +
				' ' +
				('00' + date.getHours()).slice(-2) +
				':' +
				('00' + date.getMinutes()).slice(-2) +
				':' +
				('00' + date.getSeconds()).slice(-2);
			return respondDate;
		},
		getStatusName(status) {
			// let statusPo;
			switch (status) {
				case 'N':
					return 'Not Confirmed';
				case 'C':
					return 'Confirmed';
				case 'L':
					return 'Cancelled';
				case 'X':
					return 'Close';
				default:
					return 'New';
			}
		},
		getLocation() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					let payload = this.idValue;
					// PoFulfillment.getIdDetail(payload).then(response => {
					//     let data = response.data.data[0].plan_order_num
					// })
					PoFulfillment.getLocation(payload).then((response) => {
						this.isiLocation = response.data.data;
					});
				}
			});
		},
		searchLocation(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredLocation = [...this.isiLocation];
				} else {
					this.filteredLocation = this.isiLocation.filter((item) => {
						return item.ship_to_desc
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		getPoType() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PoFulfillment.getPoType().then((response) => {
						this.isiPoType = response.data.data;
					});
				}
			});
		},
		getFreight() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					if (sessionStorage.companydb !== null) {
						let payload = { dbValue: sessionStorage.companydb };
						PoFulfillment.getFreight(payload).then((response) => {
							this.isiFreight = response.data.data;
						});
					}
				}
			});
		},
		async getTop(dbInstance) {
			const payload = { isi: dbInstance };
			const res = await PoFulfillment.getTop(payload);
			this.isiTop = res.data.data;
			this.top =
				this.detailTerms &&
				this.isiTop.find(
					(val) => val.term_id === this.detailTerms.TERMS_ID
				)?.name;

			console.log('ISI TOP', this.isiTop);
		},
		async getIncoterm(dbInstance) {
			const payload = dbInstance;
			const res = await PoFulfillment.getIncoterm(payload);
			console.log('Incoterm res', res);
			this.isiIncoterm = res.data.data;
			this.incoterm =
				this.detailTerms &&
				this.isiIncoterm.find(
					(val) => val.value === this.detailTerms.FOB
				)?.name;
		},
		getTablePoNumber() {
			// AuthService.whoAmi().then(response => {
			//     if (response === 200 ){
			PoFulfillment.getTablePoNumber().then((response) => {
				this.tablepopuppo = response.data.data;
				console.log(response);
			});
			//     }
			// })
		},
		searchPoType(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPoType = [...this.isiPoType];
				} else {
					this.filteredPoType = this.isiPoType.filter((item) => {
						return item.name
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		getUom() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					if (sessionStorage.companydb !== null) {
						const payload = { dbValue: sessionStorage.companydb };
						PoFulfillment.getUom(payload).then((response) => {
							this.isiUom = response.data.data;
						});
					}
				}
			});
		},
		changeStatusHold() {
			if (
				this.planningOrderStatus !== 'H' ||
				this.planningOrderStatus !== 'HOLD'
			) {
				this.changeHold = true;
				this.changeUnhold = false;
				this.submitpo = false;
				this.respondStatus = false;
				const options = {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
					hour: '2-digit',
					minute: '2-digit',
					second: '2-digit',
				};
				let date = this.respondDate.toLocaleDateString(
					'id-ID',
					options
				);
				let payload = { status: 'H', id: this.idValue, date: date };
				console.log(payload);
				PoFulfillment.changeStatus(payload).then((response) => {
					console.log('RESPONSE', response);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Hold',
						life: 3000,
					});
					this.planningOrderStatus = 'HOLD';
				});
			}
		},
		changeStatusUnhold() {
			if (
				this.planningOrderStatus === 'H' ||
				this.planningOrderStatus === 'HOLD'
			) {
				this.changeUnhold = true;
				this.changeHold = false;
				this.submitpo = true;
				this.respondStatus = true;
				let payload = { status: 'C', id: this.idValue };
				PoFulfillment.changeStatus(payload).then((response) => {
					console.log('RESPONSE', response);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Confirmed',
						life: 3000,
					});
					this.planningOrderStatus = 'CONFIRMED';
				});
			}
		},
		searchPopUpPo(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPopUpPo = [...this.tablepopuppo];
				} else {
					this.filteredPopUpPo = this.tablepopuppo.filter((item) => {
						return item.segment1
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		openResponsive() {
			this.displayResponsive = true;
		},
		closeResponsive() {
			this.displayResponsive = false;
			this.popUpPo = null;
		},
		submitResponsive() {
			this.displayResponsive = false;
			this.poNumber = this.popUpPo.segment1;
			// console.log("IIS",this.popUpPo)
		},
		openPo() {
			// console.log("INI PLANNING ORDER")
			this.changeTable = false;
		},
		openTerms() {
			// console.log("INI TERMS")
			this.changeTable = true;
		},
		back() {
			this.$router.push({ name: 'poFulfillment' });
		},
		onRowSelect(event) {
			// this.$toast.add({severity: 'info', summary: 'Product Selected', detail: 'Name: ' + event.data.pr_line_num, life: 3000});
			// this.untukIndex = event.data.pr_line_num -
			// console.log(event.data.pr_line_num)
		},
		onRowUnselect(event) {
			// this.$toast.add({severity: 'warn', summary: 'Product Unselected', detail: 'Name: ' + event.data.pr_line_num, life: 3000});
		},
		save() {
			this.onUpload();

			// if (this.selectedPo == null || this.selectedPo.length == 0) {
			// 	this.displayPilih = true;
			// } else {
			// 	AuthService.whoAmi().then((response) => {
			// 		// console.log(response.data.data.id)
			// 		var options = {
			// 			year: 'numeric',
			// 			month: 'short',
			// 			day: 'numeric',
			// 			hour: '2-digit',
			// 			minute: '2-digit',
			// 			second: '2-digit',
			// 		};
			// 		var date = new Date().toLocaleDateString('id-ID', options);
			// 		var lopez = {
			// 			last_updated_by: response.data.data.id,
			// 			last_updated_date: date,
			// 		};
			// 		var something = [];
			// 		this.selectedPo.forEach((element) => {
			// 			const index = this.termsTable.findIndex(
			// 				(something) =>
			// 					something.pr_line_num === element.pr_line_num
			// 			);
			// 			this.something = Object.assign(
			// 				this.planningOrderTable[index],
			// 				this.termsTable[index],
			// 				lopez
			// 			);
			// 			something.push(this.something);
			// 			console.log('ISI SOMTEHING', something);
			// 		});
			// 		// console.log("dawdasda",something)
			// 		let payload = { isi: something };
			// 		for (let id of payload.isi) {
			// 			id.need_by_date = id.need_by_date.toLocaleString(
			// 				'id-ID',
			// 				options
			// 			);
			// 			this.$toast.add({
			// 				severity: 'success',
			// 				summary: 'Save Data',
			// 				detail: 'Data has been saved',
			// 				life: 3000,
			// 			});
			// 			PoFulfillment.saveOption(payload)
			// 				.then
			// 				// window.location.reload()
			// 				();
			// 		}

			// 		console.log('test data', payload.isi);
			// 	});
			// }
		},
		submit() {
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			}
			if (
				this.location == null ||
				this.location.length == 0 ||
				this.poType == null ||
				this.poType.length == 0 ||
				this.poNumber == null ||
				this.poNumber.length == 0
			) {
				this.displaySubmit = true;
			} else {
				AuthService.whoAmi().then((response) => {
					// console.log(response.data.data.id)
					var options = {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
						hour: '2-digit',
						minute: '2-digit',
						second: '2-digit',
					};
					var date = new Date().toLocaleString('id-ID', options);
					var lopez = {
						last_updated_by: response.data.data.id,
						last_updated_date: date,
					};
					var po_Tambahan = {
						ship_to_desc: this.location.ship_to_desc,
						po_type: this.poType.name,
						po_number: this.poNumber,
						db_instance: sessionStorage.companydb,
					};
					var status = { status: 'S' };
					var something = [];
					let dateHeader = this.respondDate.toLocaleString(
						'id-ID',
						options
					);
					let header = {
						id: parseInt(this.idValue),
						date: dateHeader,
						status: 'C',
						last_updated_by: response.data.data.id,
						last_updated_date: date,
					};
					// console.log(parseInt(this.idValue))
					this.selectedPo.forEach((element) => {
						const index = this.termsTable.findIndex(
							(something) =>
								something.pr_line_num === element.pr_line_num
						);
						this.something = Object.assign(
							element,
							this.termsTable[index],
							lopez,
							po_Tambahan,
							status
						);
						something.push(this.something);
						element.name = 'PROCESSED';
					});
					let payload = { isi: something, header: header };
					// let payloadHeader = {header : header}
					for (var id of payload.isi) {
						id.need_by_date = id.need_by_date.toLocaleString(
							'id-ID',
							options
						);
						id.confirm_ship_date = new Date(
							id.confirm_ship_date
						).toLocaleString('id-ID', {
							day: 'numeric',
							month: 'short',
							year: 'numeric',
							hour: '2-digit',
							minute: '2-digit',
							second: '2-digit',
						});
						// console.log("Untuk Submit Date", payload.isi[0].need_by_date)
						PoFulfillment.submitPo(payload).then();
						this.$toast.add({
							severity: 'success',
							summary: 'Status Change',
							detail: 'Change Status to Completed',
							life: 3000,
						});
					}
					console.log('ISI PAYLOAD', payload.isi);
					PoFulfillment.submitApi(payload).then((response) => {});
				});
			}
		},
		notAccept() {
			var isTest = true;
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			} else {
				for (let i = 0; i < this.selectedPo.length; i++) {
					if (
						this.selectedPo[i].remarks3 == null ||
						this.selectedPo[i].remarks3.length == 0
					) {
						isTest = false;
						this.displayValidasi = true;
						console.log('HALOOOO');
						break;
					}
				}
				if (isTest) {
					// console.log("isi THIS SOMETHING", this.selectedPo)
					var options = {
						year: 'numeric',
						month: 'short',
						day: 'numeric',
						hour: '2-digit',
						minute: '2-digit',
						second: '2-digit',
					};
					AuthService.whoAmi().then((response) => {
						// console.log("response.data.data.id", response)
						var date = new Date().toLocaleDateString(
							'id-ID',
							options
						);
						var notAccept = {
							status: 'N',
							last_updated_by: response.data.data.id,
							last_updated_date: date,
						};
						let something = [];
						// for (let i = 0 ; i < this.selectedPo.length ; i++){
						//     this.payloadNotAccept = Object.assign(this.selectedPo[i], notAccept)
						// }
						this.selectedPo.forEach((element) => {
							this.payloadNotAccept = Object.assign(
								element,
								notAccept
							);
							something.push(this.payloadNotAccept);
							element.name = 'NOT ACCEPT';
						});
						console.log('isi something', something);
						let payload = { isi: something };
						this.$toast.add({
							severity: 'success',
							summary: 'Status Change',
							detail: 'Change Status to Not Accept',
							life: 3000,
						});
						PoFulfillment.notAcceptStatus(payload).then(
							(response) => {
								console.log(response);
							}
						);
					});
				}
			}
		},
	},
};
</script>
<style scoped lang="scss">
.outofstock {
	font-weight: 700;
	color: #ff5252;
	text-decoration: line-through;
}

.lowstock {
	font-weight: 700;
	color: #ffa726;
}

.instock {
	font-weight: 700;
	color: #66bb6a;
}

::v-deep(.row-accessories) {
	background-color: rgba(0, 0, 0, 0.15) !important;
}

:selection {
	// background-color: #ffffff;
	color: #ff5252;
}
// input{
//     text-align: right;
// }

a.p-button-success {
	text-decoration: none;
	color: #ffffff;
	background: #22c55e;
	border: 1px solid #22c55e;
	padding: 0.75rem 1.25rem !important;
	font-size: 1rem !important;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 6px;
	display: inline-flex;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	overflow: hidden;
	position: relative;
	font-size: 0.875rem;
	padding: 0.65625rem 1.09375rem;
}
</style>
