<template>
    <!-- eslint-disable -->
    <div class="grid">
        <div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
        <div class="col-12">
            <div class="card">
                <div class="surface-section">
                    <div class="font-medium text-2xl text-900 mb-3">Notification Detail</div>

                    <ul class="list-none p-0 m-0">
                        <li class="flex align-items-center py-3 px-2 border-top-0 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Module</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{modulename}}</div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Sender</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{sender}}
                            </div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Date</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{date}}</div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Recipient</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                {{recipient}}
                            </div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                        <li
                            class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Subject</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                                {{subject}}</div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                        <li
                            class="flex align-items-center py-3 px-2 border-top-0 border-bottom-0 surface-border flex-wrap">
                            <div class="text-500 w-6 font-medium">Message</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                                <br />Dear Purchasing team,<br /> We have responded your CAPA with details as
                                follow:</div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                        <li
                            class="flex justify-content py-3 px-2 border-top-0 border-bottom-0 surface-border flex-wrap">
                            <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1 line-height-3">
                                <strong>Document No :</strong> CAPA_9FEB22_1<br />
                                <strong>DR/Audit Date :</strong> 9 Feb 2022<br />
                                <strong>DR/Audit File :</strong> CONTOH ATTACH FILE.pdf<br />
                                <strong>Subject :</strong> testing CAPA_9FEB22_1</div>
                            <div class="text-900 w-full md:w-4 md:flex-order-0 flex-order-1 line-height-3">
                                <strong>Response Date :</strong> 9 Feb 2022<br />
                                <strong>Response File :</strong> 2201119.pdf<br />
                                <strong>Response :</strong> test update dari supplier </div>
                        </li>
                        <!-- <DataTable :value="notifications" v-model:selection="selectedNotifications" dataKey="id"
                            :paginator="false" :rows="5" v-model:filters="filters"
                            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                            :rowsPerPageOptions="[5,10,25]"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                            responsiveLayout="scroll">
                            <Column v-for="col of notifColumns" :field="col.field" :header="col.header" :key="col.field"
                                :sortable="false" />
                        </DataTable> -->
                        <li class="flex align-items-center py-3 px-2 border-top-0 border-bottom-0 surface-border flex-wrap">
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                                <br />To view this CAPA, please visit <router-link to="/dashboard" class="text-blue-500">here</router-link>.<br /><br />
                                Regards,<br />
                                Supplier Portal Administrator</div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <router-link to="/dashboard"><Button label="Return" class="mr-2 mb-2"/></router-link>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
import ProductService from '../../../service/ProductService';
//import NotificationService from '../../service/NotificationService';
export default {
 data() {
     return {
         breadcrumbHome: {icon: 'pi pi-home', to: '/dashboard'},
		 breadcrumbItems: [
		 	{label:'Dashboard', to: '/dashboard'},
		 	{label:'Notification Detail'}
		 ],

         modulename: 'CAPA',
         sender: 'enike.nikawati@argon-group.com',
         date: '9 Feb 2021 16:12:12',
         recipient: 'enike.nikawati@argon-group.com',
         subject: 'CAPA # CAPA_9FEB22_1 has been responded by ANCOL TERANG METAL PRINTING INDUSTRI, PT.',
         
         notifColumns: null,
         notifications: null,
			notification: {},
			selectedNotifications: null,
       }
    },
    productService: null,

	created() {
		this.productService = new ProductService();

        this.notifColumns = [
			{field: 'line', header: 'Line'},
            {field: 'item_num', header: 'Item Number'},
            {field: 'item_desc', header: 'Item Description'},
            {field: 'qty', header: 'Qty'},
            {field: 'uom', header: 'UOM'},
            {field: 'location', header: 'Location'},
            {field: 'currency', header: 'Currency'},
            {field: 'confirm_price', header: 'Confirm Price'},
            {field: 'confirm_qty', header: 'Confirm Qty'},
            {field: 'arrival_at_site', header: 'Confirm Arrival on Site (based on Incoterm)'},
            {field: 'remark', header: 'Remark'},
        ]
	},
	mounted() {
    //    NotificationService.getAllNotifications().then((response) => {
    //           console.log(JSON.stringify(response));
    //           if (response.status == 200) {
    //             console.log(response.data.data);
    //             this.notifications = response.data.data;
    //           } else {
    //             this.notifications = [];
    //           }
    //         });
		this.productService.getNotifDetails().then(data => this.notifications = data);
	},
}
</script>
<style scoped>

</style>