<template>
    <!-- eslint-disable -->
    <div class="grid">
        <div class="col-12">
            <Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
        </div>
        <div class="col-12">
            <div class="card">
                <div class="surface-section">
                    <div class="font-medium text-2xl text-900 mb-3">Notification Detail</div>

                    <ul class="list-none p-0 m-0">
                        <li class="flex align-items-center py-3 px-2 border-top-0 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Module</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{modulename}}</div>
                            <div class="w-6 md:w-2 flex justify-content-end">

                            </div>
                        </li>
                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Sender</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{sender}}
                            </div>
                            <div class="w-6 md:w-2 flex justify-content-end">

                            </div>
                        </li>
                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Date</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{date}}</div>
                            <div class="w-6 md:w-2 flex justify-content-end">

                            </div>
                        </li>
                        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Recipient</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
                                {{recipient}}
                            </div>
                            <div class="w-6 md:w-2 flex justify-content-end">

                            </div>
                        </li>
                        <li
                            class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap">
                            <div class="text-500 w-6 md:w-2 font-medium">Subject</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                                {{subject}}</div>
                            <div class="w-6 md:w-2 flex justify-content-end">

                            </div>
                        </li>
                        <li
                            class="flex align-items-center py-3 px-2 border-top-0 border-bottom-0 surface-border flex-wrap">
                            <div class="text-500 w-6 font-medium">Message</div>
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                                <br />Dear Purchasing team,<br />Your order has been shipped on 31 Dec 2020, with
                                details as
                                follow:</div>
                            <div class="w-6 md:w-2 flex justify-content-end">

                            </div>
                        </li>
                        <div class="grid">
                            <div class="col-12 md:col-6 p-fluid">
                                <div class="card">
                                    <h6 class="header-strong">Shipment Information</h6>
                                    <li class="flex justify-content py-2 px-2 border-top-1 border-bottom-0 surface-border flex-wrap">
                                        <div class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1 line-height-3">
                                            <strong>DO Number :</strong> SN_FARM_DX281221014556 <br />
                                            <strong>Delivery Date :</strong> 31 Dec 2020 </div>
                                    </li>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 p-fluid">
                                <div class="card">
                                    <h6 class="header-strong">Freight Information</h6>
                                    <li class="flex justify-content py-2 px-2 border-top-1 border-bottom-0 surface-border flex-wrap">
                                        <div class="text-900 w-full md:w-6 md:flex-order-0 flex-order-1 line-height-3">
                                            <strong>Freight Carrier :</strong> - <br />
                                            <strong>Comment :</strong> - <br />
                                            <strong>AWB/BL Number :</strong> 1234567890 </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                        <br />
                        <DataTable :value="notifications" v-model:selection="selectedNotifications" dataKey="id"
                            :paginator="false" :rows="5" v-model:filters="filters"
                            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
                            :rowsPerPageOptions="[5,10,25]"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                            responsiveLayout="scroll">
                            <Column v-for="col of notifColumns" :field="col.field" :header="col.header" :key="col.field"
                                :sortable="false" />
                        </DataTable>
                        <li class="flex align-items-center py-3 px-2 border-top-0 border-bottom-0 surface-border flex-wrap">
                            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1 line-height-3">
                                <br />For detailed information of this Shipment Notice, please visit <router-link
                                    to="/dashboard" class="text-blue-500">here</router-link>.<br /><br />
                                Regards,<br />
                                Supplier Portal Administrator</div>
                            <div class="w-6 md:w-2 flex justify-content-end">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <router-link to="/dashboard"><Button label="Return" class="mr-2 mb-2" /></router-link>
        </div>
    </div>
</template>

<script>
/* eslint-disable */
import ProductService from '../../../service/ProductService';
//import NotificationService from '../../service/NotificationService';
export default {
 data() {
     return {
         breadcrumbHome: {icon: 'pi pi-home', to: '/dashboard'},
		 breadcrumbItems: [
		 	{label:'Dashboard', to: '/dashboard'},
		 	{label:'Notification Detail'}
		 ],

         modulename: 'Shipment Notice',
         sender: 'wijana.nugraha@dexagroup.com',
         date: '31 Feb 2021 18:12:12',
         recipient: 'enike.nikawati@argon-group.com',
         subject: 'New Shipment Notice # SN_FARM_DX281221014556 from FARMARINDO JAYA, PT',
         
         notifColumns: null,
         notifications: null,
			notification: {},
			selectedNotifications: null,
       }
    },
    productService: null,

	created() {
		this.productService = new ProductService();

        this.notifColumns = [
			{field: 'po_num', header: 'PO Number'},
            {field: 'line', header: 'Line'},
            {field: 'item_num', header: 'Item Number'},
            {field: 'item_desc', header: 'Item Description'},
            {field: 'uom', header: 'UOM'},
            {field: 'qty_order', header: 'Qty Order'},
            {field: 'qty_ship', header: 'Qty Shipped'},
            {field: 'arrival_at_site_date', header: 'Arrival at Site Date'},
            {field: 'ship_to', header: 'Ship To'},
        ]
	},
	mounted() {
    //    NotificationService.getAllNotifications().then((response) => {
    //           console.log(JSON.stringify(response));
    //           if (response.status == 200) {
    //             console.log(response.data.data);
    //             this.notifications = response.data.data;
    //           } else {
    //             this.notifications = [];
    //           }
    //         });
		this.productService.getShipmentDetails().then(data_notif => this.notifications = data_notif);
	},
}
</script>
<style scoped>
 .header-strong {
     font-weight: 900;
 }

 .content-strong {
     font-weight: 500;
 }
</style>