<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="/" />
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-93461466-1"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());
		</script>
		<script src="https://rawgit.com/vuejs-tips/v-money/master/dist/v-money.js"></script>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<title>Supplier Portal</title>
		<!-- Diganti dengan import di main.js (biar bisa di customize) -->
		<!-- <link id="theme-link" rel="stylesheet" type="text/css" href="<%= BASE_URL %>themes/lara-light-indigo/theme.css"> -->
	</head>
	<body>
		<div id="app">
			<div class="preloader">
				<div class="preloader-content"></div>
			</div>
		</div>
	</body>
</html>
