<template>
	<Card>
		<template #title>
			<span class="text-xl">Open PO</span>
		</template>
		<template #content>
			<div class="flex justify-content-between">
				<!-- Status -->
				<div>
					<p class="font-bold mb-0 mb-4">Status</p>
					<p class="mb-3">New</p>
					<p class="mb-3">Not Confirm</p>
					<p class="mb-3">Confirmed</p>
					<p class="mb-3">Cancelled</p>
					<p class="mb-0">Close</p>
				</div>

				<!-- Total -->
				<div>
					<p class="font-bold mb-0 mb-4">Total</p>
					<!-- This have to following the order of modules name -->
				</div>
			</div>
		</template>
		<template #footer>
			<Button label="Link" class="p-button-link font-bold">
				<span class="mr-2">See details</span>
				<i class="pi pi-arrow-right"></i>
			</Button>
		</template>
	</Card>
</template>

<script>
export default {};
</script>
