<template>
    <div v-if="authLogin">
        <router-link to="/dashboard"></router-link>
    </div>

    <div v-else class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color), rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="text-center mb-5">
                        <img :src="'layout/images/DXG Supplier Portal dan Billing Invoice 03-06.png'" alt="Image" class="mb-5" style="width:181px; height:100px;">
                        <div class="text-900 text-3xl font-medium mb-3"></div>
                        <span v-if="!isHidden" class="text-600 font-medium">Sign in to continue</span>
                    </div>
                
                    <div v-if="!isHidden" class="w-full md:w-10 mx-auto">
                        <label for="userName" class="block text-900 text-xl font-medium mb-2">User Name</label>
                        <InputText id="userName" v-model="userName" type="text" class="w-full mb-3" placeholder="User Name" style="padding:1rem;" @keydown.enter="showCompanyDropdown()" />
                
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <Password id="password1" v-model="password" placeholder="Password" :toggleMask="true" :feedback="false" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem" @keydown.enter="showCompanyDropdown()"></Password>
                        <router-link to="/forgotpass" class="text-blue-500">Forgot Password</router-link>
                        <Button label="Sign In" class="w-full p-3 mt-4 text-xl" @click="showCompanyDropdown()"></button>
                    </div>
                    <div v-if="isHidden" class="w-full md:w-10 mx-auto">
                        <label for="userName" class="block text-900 text-xl font-medium mb-2">Select Company</label>
                        <Dropdown v-if="isSupp" id="state" v-model="selectedCompany" :options="companies" optionLabel="tnname" class="w-full mb-3" placeholder="Select One" />
                        <Dropdown v-if="!isSupp" id="state" v-model="selectedCompany" :options="companies" optionLabel="name" class="w-full mb-3" placeholder="Select One" />
    
                        <Button label="Logout" class="w-3 p-3 mt-4 text-xl p-button-warning" @click="signOut()"></button>
                        <Button label="Go To Dashboard" class="w-8 p-3 mt-4 ml-3 text-xl" @click="doLogin()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import LoginService from '../service/LoginService'
import AuthService from '../service/AuthService'
import TenantService from '../service/TenantmanagerService'
import SwitchCompany from '../service/SwithCompany'
import SimpleCrypto from 'simple-crypto-js'
import LovService from '../service/LovService'
export default {
    data() {        
        return {
            userName: '',
            password: '',
            checked: false,
            isHidden: false,
            selectedCompany: null,
            companies: [],
            authLogin: false,
            dbInstance: null,
            isSupp: null,
        }
    },
    methods: {
        showCompanyDropdown() {
            const data = {
                credential: this.userName,
                secret: this.password,
                appname: 'spb',
            };
            LoginService.signViaAdminSc(data)
            .then((value) => {
                console.log("signViaAdminSc: ", value.data.data);
                // console.log("signViaAdminSc ckdaw: ", value);
                sessionStorage.setItem('authKey', value.data.data);
                console.log("authKey: ", sessionStorage.authKey);
                AuthService.setAuthKey(value.data.data);
                if (value.data.status === 200) {
                    // window.confirm("Please enter a valid credential");

                        if (value.data.tokenId === "XXXXXX") {
                            console.log("Daftar Company ", JSON.stringify(value.data.companylist));

                            TenantService.retriveTenantByNamein(value.data.companylist).then(async (compres) => {
                                this.companies = [];
                                console.log("Compres Log:", compres.data);
                                for (var i of compres.data.data) {
                                    this.companies.push(i);
                                }
                                sessionStorage.setItem('list', JSON.stringify(compres.data.data));
                                

                                this.selectedCompany = this.companies[0]
                                // sessionStorage.setItem('company',JSON.stringify(compres.data.data))
                            })
                            this.isHidden = true;
                            this.isSupp = true;
                        } else if(this.userName === 'dexaadmin'){
                            this.$router.push('/dashboard');
                        } else {
                            AuthService.whoAmi().then((response) => {
                                if(response.status === 200){
                                    console.log('login purch: ', response.data);
                                    LovService.getcompanydb(response.data.data.bioaddress).then((value) => {
                                        console.log(value.data.data)
                                        console.log(response.data.data.idsubtenant)
                                        this.companies = value.data.data;
                                        this.companies.forEach(element => {
                                            // console.log("company ",element.value, response.data.data.idsubtenant)
										if(element.value == response.data.data.idsubtenant){ 
											this.selectedCompany = element;
										}
									});
                                        this.isHidden = true;
                                        this.isSupp = false;
                                    });
                                }
                            });
                            
                            

                            // this.$router.push('/dashboard');
                        }
                    } 
                    
                })
        },
        async doLogin() {
            if(this.isSupp){
                console.log(">>>>>>>>>>>>>>>>>>>> Login by Company ");
                const data = {
                    credential: this.userName,
                    secret: this.password,
                    appname: 'spb',
                    tnid: this.selectedCompany.id,
                    
                };
                console.log("ini :",data)
                LoginService.signViaCompanySc(data)
                .then((value) => {
                    if (this.selectedCompany != null && value.data.status === 200) {              
                        sessionStorage.setItem("authKey", value.data.data)
                        this.$router.push('/dashboard');
                        const secretKey = "some-unique-key"
                        const simpleCrypto = new SimpleCrypto(secretKey)
                        const plainText = this.selectedCompany.tnname
                        const cipherText = simpleCrypto.encrypt(plainText)
                        sessionStorage.setItem("dropdownCompany", cipherText)

                        let payload = { dbValue : this.selectedCompany.tnname}
                        // console.log("matnap : ",JSON.stringify(payload))
                        SwitchCompany.getDbInstance(payload)
                            .then(response => {
                            this.dbInstance = response.data.data
                            console.log(this.dbInstance[0].db_instance)
                            sessionStorage.setItem('companydb', this.dbInstance[0].db_instance);
                        })
                    } else {
                        window.alert("Please select a company");
                    }
                })
            } else {
                const secretKey = "some-unique-key"
                const simpleCrypto = new SimpleCrypto(secretKey)
                const plainText = this.selectedCompany.name
                const cipherText = simpleCrypto.encrypt(plainText)
                sessionStorage.setItem("dropdownCompany", cipherText)
                this.$router.push('/dashboard');

            }
        },
        async signOut() {
            let payload = {
                appid: 4,
                appname: 'spb'
            };
            AuthService.signOutApp(payload).then((response) => {
                console.log('Process >> ' + "Sign Out");
                console.log(response);
                AuthService.loggedOut();
                
            })
            this.isHidden = false;
            // this.$localStorage.clear('authKey');
            sessionStorage.clear();
            this.userName = null;
            this.password = null;
            this.selectedCompany = null;
            console.clear()
        }
    },
    computed: {
        logoColor() {
            
            if (this.$appState.darkTheme) return 'white';
            return 'dark';
            
        }
    },
    mounted() {
        if(sessionStorage.getItem('loggedIn') === 'false'){
            alert('Session has expired\nPlease login again')
            sessionStorage.clear()
        }
        let currentURL = window.location.href.toString();
        let cutURL = currentURL.substring(0, 47); //substring URL SPB.ISUPPLIER-PORTAL
        // let cutURL = currentURL.substring(0, 36); // substring URL LOCALHOST
        // console.log(cutURL);
        
        // if (cutURL === 'http://localhost:8080/resetpassword/') {
        if (cutURL === 'https://spb.isupplier-portal.com/resetpassword/') {
            
            // console.clear();
            console.log(cutURL)
            this.$router.push('/resetpassword');

        // } else if (sessionStorage.getItem('authKey') != null && cutURL !== 'http://localhost:8080/resetpassword/') {
        } else if (sessionStorage.getItem("authKey") != null && cutURL !== 'https://spb.isupplier-portal.com/resetpassword/') {
            this.$router.push({ path: '/dashboard' });
            
            }
       
    },
    created(){
        //nothing
    }
}
</script>

<style scoped>
.pi-eye {
    transform:scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform:scale(1.6);
    margin-right: 1rem;
}
</style>