<template>
	<div>
		<Dialog :modal="true" :dismissableMask="true" :visible="isShown">
			<template #header>
				<h3>Header</h3>
			</template>

			Content

			<template #footer>
				<Button label="No" icon="pi pi-times" class="p-button-text" />
				<Button label="Yes" icon="pi pi-check" autofocus />
			</template>
		</Dialog>
	</div>
</template>

<script>
export default {
	props: ['isShown'],
};
</script>
