<template>
	<!-- eslint-disable -->
	<div class="grid" v-if="currentUser">
		<!-- Welcome user -->
		<!-- <div class="col-12 mb-4">
			<Card>
				<template #content>
					<p class="text-lg">
						<span>Welcome, </span>
						<span class="font-bold">Supplier</span>
					</p>
				</template>
			</Card>
		</div> -->

		<!-- Highlight cards -->
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<Card>
				<template #content>
					<div
						class="flex justify-content-between align-items-center"
					>
						<div>
							<p class="font-bold text-xl m-0 mb-2">
								Planning Order
							</p>
							<p>This month</p>
						</div>
						<div>
							<span class="text-6xl font-bold">
								{{ countPlanningOrders }}
							</span>
						</div>
					</div>
				</template>
			</Card>
		</div>
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<Card>
				<template #content>
					<div
						class="flex justify-content-between align-items-center"
					>
						<div>
							<p class="font-bold text-xl m-0 mb-2">Open PO</p>
							<p>This month</p>
						</div>
						<div>
							<span class="text-6xl font-bold">
								{{ countOpenPO }}
							</span>
						</div>
					</div>
				</template>
			</Card>
		</div>
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<Card>
				<template #content>
					<div
						class="flex justify-content-between align-items-center"
					>
						<div>
							<p class="font-bold text-xl m-0 mb-2">
								Shipment Notice
							</p>
							<p>This month</p>
						</div>
						<div>
							<span class="text-6xl font-bold">
								{{ countShipmentNotice }}
							</span>
						</div>
					</div>
				</template>
			</Card>
		</div>
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<Card>
				<template #content>
					<div
						class="flex justify-content-between align-items-center"
					>
						<div>
							<p class="font-bold text-xl m-0 mb-2">CAPA</p>
							<p>This month</p>
						</div>
						<div>
							<span class="text-6xl font-bold">
								{{ countCapa }}
							</span>
						</div>
					</div>
				</template>
			</Card>
		</div>

		<!-- List cards -->
		<div v-if="!isSupplier" class="col-12 md:col-6 lg:col-3 mb-4">
			<NotifCardList :notifications="notifications" />
		</div>
		<div v-if="isSupplier" class="col-12 md:col-6 lg:col-3 mb-4">
			<NotifCardListPur :notifications="notifications" />
		</div>
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<OpenPOCardList />
		</div>
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<ShipmentNoticeCardList />
		</div>
		<div class="col-12 md:col-6 lg:col-3 mb-4">
			<CapaCardList :capa="capa" />
		</div>

		<!-- Charts -->
		<div class="col-12 lg:col-6 mb-4">
			<MostOrderedChart :currentUser="currentUser" />
		</div>
		<div class="col-12 lg:col-6 mb-4">
			<PlanningOrderChart :currentUser="currentUser" />
		</div>

		<!-- Card table -->
		<div class="col-12 lg:col-6 mb-4">
			<LatestInvoices />
		</div>
		<div class="col-12 lg:col-6 mb-4">
			<LatestReceipts />
		</div>
	</div>
</template>

<script>
/* eslint-disable */
import { FilterMatchMode, FilterOperator } from 'primevue/api';
import AuthService from '../service/AuthService';
import ProductService from '../service/ProductService';
import PlanningOrderService from '../service/PlanningOrderService';
import CapaService from '../service/CapaService';
import NotificationService from '../service/NotificationService';
import CapaDashboard from '@/components/dashboard/CapaList';
import ShipmentNotice from '@/components/dashboard/ShipmentNotice';
import PlanningOrder from '@/components/dashboard/PlanningOrder';
import NotifList from '@/components/dashboard/NotifList';
import InvoiceList from '@/components/dashboard/InvoiceList';
import OpenPO from '@/components/dashboard/OpenPO';
// NEW
import NotifCardList from '@/components/dashboard/cards/NotifCardList.vue';
import NotifCardListPur from '@/components/dashboard/cards/NotifCardListPur.vue';
// import AuthService from '../service/AuthService';
import OpenPOCardList from '@/components/dashboard/cards/OpenPOCardList.vue';
import ShipmentNoticeCardList from '@/components/dashboard/cards/ShipmentNoticeCardList.vue';
import CapaCardList from '@/components/dashboard/cards/CapaCardList.vue';
import MostOrderedChart from '@/components/dashboard/charts/MostOrderedChart.vue';
import PlanningOrderChart from '@/components/dashboard/charts/PlanningOrderChart.vue';
import LatestInvoices from '@/components/dashboard/LatestInvoices.vue';
import LatestReceipts from '@/components/dashboard/LatestReceipts.vue';

export default {
	components: {
		CapaDashboard,
		ShipmentNotice,
		PlanningOrder,
		NotifList,
		InvoiceList,
		OpenPO,
		// NEW
		NotifCardList,
		NotifCardListPur,
		OpenPOCardList,
		ShipmentNoticeCardList,
		CapaCardList,
		MostOrderedChart,
		PlanningOrderChart,
		LatestInvoices,
		LatestReceipts,
	},
	data() {
		return {
			breadcrumbHome: { icon: 'pi pi-home', to: '/dashboard' },
			breadcrumbItems: [{ label: 'Dashboard' }],
			items: [],
			// NEW
			currentUser: null,
			planningOrders: [],
			openPO: [],
			capa: [],
			shipmentNotice: [],
			notifications: [],
			isSupplier: false,
		};
	},

	computed: {
		countPlanningOrders() {
			return this.planningOrders.length;
		},
		countOpenPO() {
			return this.openPO.length;
		},
		countCapa() {
			return this.capa.length;
		},
		countShipmentNotice() {
			return this.shipmentNotice.length;
		},
	},

	productService: null,

	created() {
		this.productService = new ProductService();
		this.initFilters();
		this.initFilters2();

		// NEW
		this.getPlanningOrder();
		this.getOpenPO();
		this.getCapa();
		this.getShipmentNotice();
		this.getNotifications();
	},
	mounted() {
		AuthService.whoAmi().then((respond) => {
			console.log(
				'current tenant level::',
				respond.data.data.leveltenant
			);
			let currentTenantLvl = respond.data.data.leveltenant;
			this.currentUser = respond.data.data;
			if (currentTenantLvl === 1) {
				this.isSupplier = true;
			} else if (currentTenantLvl === 2) {
				this.isSupplier = false;
			}
		});
	},
	methods: {
		clearFilter() {
			this.initFilters();
			this.initFilters2();
		},
		initFilters() {
			this.filters = {
				global: { value: null, matchMode: FilterMatchMode.CONTAINS },
				module: { value: null, matchMode: FilterMatchMode.CONTAINS },
				subject: { value: null, matchMode: FilterMatchMode.CONTAINS },
				date: { value: null, matchMode: FilterMatchMode.CONTAINS },
				status: { value: null, matchMode: FilterMatchMode.CONTAINS },
			};
		},
		initFilters2() {
			this.filters2 = {
				global: { value: null, matchMode: FilterMatchMode.CONTAINS },
				supplier: { value: null, matchMode: FilterMatchMode.CONTAINS },
				doc_no: { value: null, matchMode: FilterMatchMode.CONTAINS },
				doc_date: { value: null, matchMode: FilterMatchMode.CONTAINS },
				subject: { value: null, matchMode: FilterMatchMode.CONTAINS },
				resp_date: { value: null, matchMode: FilterMatchMode.CONTAINS },
				response: { value: null, matchMode: FilterMatchMode.CONTAINS },
				status: { value: null, matchMode: FilterMatchMode.CONTAINS },
			};
		},
		// NEW
		async getPlanningOrder() {
			const res = await PlanningOrderService.getTableData();
			this.planningOrders = res.data.data;
			console.log('Planning order:', this.planningOrders);
		},
		async getOpenPO() {
			const res = await PlanningOrderService.GetTableNested();
			console.log('Open PO res:', res);
			// this.planningOrders = res.data.data;
			// console.log('Planning order:', this.planningOrders);
		},
		async getCapa() {
			const res = await CapaService.getAllCapa();
			this.capa = res.data.data;
			console.log('CAPA:', this.capa);
		},
		async getShipmentNotice() {
			const res = await CapaService.getTableNested();
			this.shipmentNotice = res.data.data.data;
			console.log('Shipment notice:', this.shipmentNotice);
		},
		async getNotifications() {
			const res = await NotificationService.getAllNotifications();
			this.notifications = res.data.data[0];
			console.log('Notifications res:', this.notifications);
		},
	},
};
</script>
