<template>
	<div class="grid">
		<!--  Notification  -->
		<Toast />
		<ConfirmDialog></ConfirmDialog>
		<ConfirmDialog group="positionDialog"></ConfirmDialog>
		<!--  Breadcrumb  -->
		<div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>

		<div class="col-12 p-fluid">
			<div class="card">
				<div class="p-fluid grid formgrid" style="margin-top: 0.5em">
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="poNumber"
								disabled
								type="text"
							/>
							<label for="inputtext">Po Number</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="revision"
								disabled
								type="text"
							/>
							<label for="inputtext">Revision</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="buyer"
								disabled
								type="text"
							/>
							<label for="inputtext">Buyer</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="status"
								disabled
								type="text"
							/>
							<label for="inputtext">Status</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="confirmBy"
								disabled
								type="text"
							/>
							<label for="inputtext">Confirm By</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="shipTo"
								disabled
								type="text"
							/>
							<label for="inputtext">Ship To</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<Calendar
								id="dateformat"
								v-model="confirmDate"
								:showSeconds="true"
								:showTime="true"
								dateFormat="dd-MM-yy"
							/>
							<label for="inputtext">Confirm Date</label>
						</span>
					</div>
				</div>
				<div
					class="card"
					style="
						background-color: #ffecec;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: #da3831; margin-top: -10px">Terms</h5>
				</div>
				<div class="p-fluid grid formgrid">
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="top"
								disabled
								type="text"
							/>
							<label for="inputtext">ToP</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="incoterm"
								disabled
								type="text"
							/>
							<label for="inputtext">Incoterm</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								v-model="freight"
								disabled
								type="text"
							/>
							<label for="inputtext">Freight</label>
						</span>
					</div>
				</div>
				<div
					class="card"
					style="
						background-color: #ffecec;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: #da3831; margin-top: -10px">
						Attachment Document
					</h5>
				</div>

				<!-- Download File button -->
				<!-- <div class="p-fileupload" v-if="attachmentFile">
					<div class="p-fileupload-buttonbar">
						<a
							:href="attachmentFile.po_file"
							class="p-button"
							_target="blank"
						>
							<i class="pi pi-download"></i>
							<span class="ml-2">{{
								attachmentFile.filename
							}}</span>
						</a>
					</div>
				</div> -->

				<div class="p-fileupload">
					<div class="fileupload-buttonbar">
						<table>
							<tr v-if="attachmentFilePur && !filePurIsEmpty">
								<td>
									<p>PO File</p>
								</td>
								<td>
									<p>:</p>
								</td>
								<td>
									<span
										class="inline-block mx-2 font-bold"
										v-if="attachmentFilePur"
										>{{ attachmentFilePur.FILENAME }}</span
									>
								</td>

								<td>
									<p>
										<a
											:href="this.linkFilePur"
											class="p-button-success"
											_target="blank"
										>
											<i class="pi pi-download"></i
											><span class="ml-2">Download</span>
										</a>
									</p>
								</td>
							</tr>
							<tr v-if="attachmentFileSupp && !fileSuppIsEmpty">
								<td>
									<p>Confirm PO File</p>
								</td>
								<td>
									<p>:</p>
								</td>
								<td>
									<p>
										<span
											class="inline-block mx-2 font-bold"
											>{{
												attachmentFileSupp.FILENAME
											}}</span
										>
									</p>
								</td>
								<td>
									<p>
										<a
											:href="this.linkFileSupp"
											class="p-button-success"
											_target="blank"
										>
											<i class="pi pi-download"></i
											><span class="ml-2">Download</span>
										</a>
									</p>
								</td>
								<td>
									<p>
										<Button
											label="Remove"
											class="p-button-danger"
											@click="
												onRemoveSupp(
													attachmentFileSupp.PO_HEADER_ID
												)
											"
										>
											<i class="pi pi-times"></i>
											<span class="ml-2">Remove</span>
										</Button>
									</p>
								</td>
							</tr>
						</table>
					</div>
					<div class="p-fileupload-buttonbar"></div>
				</div>

				<!-- <InputText id="inputtext" v-model="top" disabled type="text"/>
                    <label for="inputtext">ToP</label>
                </span>
          </div>
          <div class="col-12 mb-4 lg:col-6 lg:mb-5">
                <span class="p-float-label">
                    <InputText id="inputtext" v-model="incoterm" disabled type="text"/>
                    <label for="inputtext">Incoterm</label>
                </span>
          </div>
          <div class="col-12 mb-4 lg:col-6 lg:mb-5">
                <span class="p-float-label">
                    <InputText id="inputtext" v-model="freight" disabled type="text"/>
                    <label for="inputtext">Freight</label>
                </span>
          </div>
        </div>
        <div class="card" style="background-color: #ffecec; height: 2em; margin: 0 0 2em 0;">
          <h5 style="color: #da3831; margin-top:-10px"> Attachment Document </h5>
        </div> -->
				<div>
					<div v-if="displayRadioButton">
						<label class="field-radiobutton"
							>Confirmation Option</label
						>
					</div>
					<div v-if="displayRadioButton">
						<table>
							<tr>
								<td>
									<div class="field-radiobutton">
										<RadioButton
											name="option"
											value="manual"
											v-model="confOption"
											@click="changeDisplay(true)"
										/>
										<label for="manual">Manual</label>
									</div>
								</td>
								<td>
									<div class="field-radiobutton">
										<RadioButton
											name="option"
											value="digital"
											v-model="confOption"
											@click="changeDisplay(false)"
										/>
										<label for="digital">Digital</label>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<FileUpload
						id="uploadFile"
						ref="inputFile"
						mode="basic"
						chooseLabel="Choose File"
						uploadLabel="Upload File"
						fileLimit="1"
						@select="onSelect"
						:customUpload="true"
						:showUploadButton="false"
						:showCancelButton="false"
						v-if="displayUploadButton"
						@change="previewFiles"
					>
						<template #empty>No file selected.</template>
					</FileUpload>
				</div>
			</div>
		</div>

		<div class="col-12 p-fluid">
			<div class="card">
				<div
					class="card"
					style="
						background-color: #ffecec;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5
						style="
							color: #da3831;
							margin-top: -10px;
							margin-bottom: 25px;
						"
					>
						Items
					</h5>
				</div>
				<div class="col-12 mb-5">
					<DataTable
						v-model:filters="filters"
						v-model:selection="selectedPo"
						:loading="loading"
						:paginator="true"
						:rows="5"
						:rowsPerPageOptions="[5, 10, 25]"
						:value="items"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
						dataKey="pr_line_num"
						paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
						removableSort
						responsiveLayout="scroll"
					>
						<!--            <Column selectionMode="multiple" headerStyle="width: 3em"></Column>-->
						<template #empty> No Data Found </template>
						<template #loading> Loading... </template>
						<Column
							field="line_num"
							header="Line"
							headerStyle="min-width:5rem;"
						></Column>
						<Column
							field="item_number"
							header="Item Number"
							headerStyle="min-width:12rem;"
						></Column>
						<Column
							field="item_description"
							header="Item Description"
							headerStyle="min-width:20rem;"
							style="text-align: left"
						></Column>
						<Column
							field="uom"
							header="UOM"
							headerStyle="min-width:5rem;"
						></Column>
						<Column
							field="unit_price"
							header="Unit Price"
							headerStyle="min-width:8rem;"
						></Column>
						<Column
							field="quantity"
							header="Quantity"
							headerStyle="min-width:8rem;"
						></Column>
						<Column
							field="note_to_vendor"
							header="Note to Supplier"
							headerStyle="min-width:15rem;"
							style="text-align: left"
						></Column>
						<Column
							header="Arrival At Site"
							headerStyle="min-width:8rem;"
							style="text-align: center"
						>
							<template #body="{ data }">
								{{ data.need_by_date }}
							</template>
						</Column>
						<Column
							header="Est. Arrival At Site"
							headerStyle="min-width:15rem;"
							style="text-align: center"
						>
							<template #body="slotProps">
								<Calendar
									v-model="
										slotProps.data.estimate_supplier_date
									"
									dateFormat="dd M yy"
									:showTime="true"
									:showSeconds="true"
									inputStyle="text-transform: uppercase"
								/>
							</template>
						</Column>
						<Column
							field="reason_not_on_time"
							header="Reason for not on time"
							headerStyle="min-width:20rem;"
							style="text-align: left"
						>
							<template #body="{ data }">
								<InputText
									v-model="data.reason_not_on_time"
									type="text"
								/>
							</template>
						</Column>
						<Column
							field="name"
							header="Line Status"
							headerStyle=" min-width:5rem;"
						></Column>
					</DataTable>
				</div>

				<!-- Tombol -->
				<div class="p-fluid grid formgrid">
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							:class="uppercase"
							class="p-button-secondary"
							label="Back"
							@click="back()"
						>
						</Button>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button :class="uppercase" label="Save" @click="save()">
						</Button>
					</div>
					<div
						v-if="displayConfirm"
						class="col-6 mb-2 lg:col-1 lg:mb-0"
					>
						<Button
							:class="uppercase"
							class="p-button-success"
							label="Confirm"
							@click="confirm()"
						>
						</Button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/* eslint-disable */
import POFulfillment from '../../../service/POFulfillmentService';
import SimpleCrypto from 'simple-crypto-js';
import AuthService from '@/service/AuthService';
import PoFulfillment from '../../../service/PoFulfillment';
import LovService from '../../../service/LovService';

export default {
	name: 'detailPoFulfillmentSup',
	data() {
		return {
			isSupplier: true,
			poKeyId: null,
			dbInstance: null, //this.getCompany(),
			headerId: this.$route.params.id,
			company: sessionStorage.getItem('mailToCompany'),
			poNumber: null,
			confirmDate: null,
			status: null,
			buyer: null,
			revision: null,
			shipTo: null,
			currency: null,
			confirmBy: null,
			top: null,
			freight: null,
			incoterm: null,
			changeTable: false,
			displayConfirm: true,
			confirmation: null,
			files: null,
			linkFilePur: null,
			linkFileSupp: null,
			filePurIsEmpty: null,
			fileSuppIsEmpty: null,
			items: [],
			detailTerms: null,
			attachments: [],
			dateOld: null,
			confOption: 'manual',
			displayRadioButton: true,
			displayUploadButton: true,
			detailFiles: null,
			orderDate: null,
			idUser: null,
			recipientMail: null,
			vendorname: null,
			sender: null,
			payloadEmail: null,
			breadcrumbHome: { icon: 'pi pi-home', to: '/' },
			breadcrumbItems: [
				{ label: 'PO Fulfillment', to: '/mgm/settings/pofulfillment' },
				{ label: 'Edit' },
			],
		};
	},
	async created() {
		if (this.headerId !== null) {
			const whoResp = await AuthService.whoAmi();
			// console.log('iduserkkt::', whoResp.data.data.id)
			this.sender = whoResp.data.data.bioemailactive;
			this.idUser = whoResp.data.data.id;
			if (whoResp.status === 200) {
				this.getEmailToPur();
				// Get detail PO Fulfillment
				const responseHeader = await PoFulfillment.getDetailHeader(
					this.headerId
				);
				this.dbInstance = responseHeader.data.data.DB_INSTANCE;
				this.poNumber = responseHeader.data.data.SEGMENT1;
				this.headerId = responseHeader.data.data.PO_HEADER_ID;
				this.confirmDate = new Date();
				this.status = responseHeader.data.data.STATUS || 'N/A';
				this.orderDate = responseHeader.data.data.ORDER_DATE;
				this.buyer = responseHeader.data.data.BUYER_NAME;
				this.revision = responseHeader.data.data.REVISION_NUM;
				this.shipTo = responseHeader.data.data.SHIP_TO_NAME;
				this.currency = responseHeader.data.data.CURRENCY_CODE;
				this.confirmBy = responseHeader.data.data.CONFIRM_SP_NAME;

				// Get terms detail
				const resTerms = await PoFulfillment.getDetailTerms(
					this.headerId
				);
				this.detailTerms = resTerms.data.data[0];
				this.freight = resTerms.data.data[0].FREIGHT_TERMS;
				// Make string to capitalize
				this.freight = this.freight.toLowerCase();
				this.freight =
					this.freight.charAt(0).toUpperCase() +
					this.freight.slice(1);

				this.getTop(this.dbInstance);
				this.getIncoterm(this.dbInstance);

				// const detail = await POFulfillment.getDetail(this.headerId);
				// console.log('const detail::', detail);
				// console.log('vendorId::', detail.vendor_id);
				// this.dbInstance = detail.db_instance;
				// this.poNumber = detail.po_number;
				// this.headerId = detail.po_header_id;
				// this.confirmDate = new Date();
				// this.status = detail.status;
				// this.orderDate = detail.order_date;
				// this.buyer = detail.buyer_name;
				// this.revision = detail.revision_num;
				// this.shipTo = detail.ship_to_name;
				// this.currency = detail.currency_code;
				// this.confirmBy = detail.confirm_sp_name;
				// this.top = detail.top;
				// this.freight = detail.freight_terms;
				// this.incoterm = detail.incoterm;

				// Get items
				this.items = await POFulfillment.getItems(
					this.headerId,
					this.dbInstance
				);
				console.log('company::', this.company);
				console.log('dbInstance::', this.dbInstance);
				console.log('orgId::', this.items[0].org_id);

				for (var id of this.items) {
					id.need_by_date = new Date(id.need_by_date);
					if (id.need_by_date == 'Invalid Date') {
						id.need_by_date = '';
					}
					id.estimate_supplier_date = new Date(
						id.estimate_supplier_date
					);
					this.dateOld = id.estimate_supplier_date;
					// console.log('isi date', this.testData)
					if (id.name === 'NOT CONFIRM' || id.name === 'NEW') {
						this.displayConfirm = true;
						this.displayRadioButton = true;
						// console.log('HALOOOO');
					} else {
						this.displayConfirm = true;
						this.displayRadioButton = false;
					}
					// console.log('something', something)
				}
				this.attachments = await POFulfillment.getFileInfo(
					this.headerId
				);
				console.log('ATTACHMENTS', this.attachments);
				// console.log("ISI DATA", this.items)

				//jangan ilangin
				const payload = this.headerId;
				PoFulfillment.getDetailFiles(payload).then((response) => {
					console.log('PO Files Res:', response);
					this.detailFiles = response.data.data;
				});

				// Get link download file
				PoFulfillment.downloadFilePur(payload).then((response) => {
					this.linkFilePur = response.data.data;
					console.log('LINK Download Pur', this.linkFilePur);
				});

				PoFulfillment.downloadFileSupp(payload).then((response) => {
					this.linkFileSupp = response.data.data;
					console.log('LINK Download Supp', this.linkFileSupp);
				});
			}
		}
	},
	computed: {
		attachmentFilePur() {
			console.log('ini file');
			let files = this.detailFiles;
			let file = null;
			if (files === null) {
				console.log('List Files Checking on Purchase Is Empty');
				this.filePurIsEmpty = true;
			} else {
				for (const element of files) {
					console.log(element.PO_HEADER_ID);
					console.log(this.headerId);
					if (
						element.PO_HEADER_ID == this.headerId &&
						element.LEVEL_TENANT == 1
					) {
						file = element;
					}
				}
				if (file === null) {
					console.log('File Purchase Is Empty');
					this.filePurIsEmpty = true;
				} else {
					console.log('File Purchase Is Not Empty');
					this.filePurIsEmpty = false;
					this.filePur = file;
				}
			}

			console.log(file);
			return file;
		},
		attachmentFileSupp() {
			console.log('ini file');
			let files = this.detailFiles;
			let file = null;
			if (files == null) {
				console.log('List Files Checking on Supplier Is Empty');
				this.fileSuppIsEmpty = true;
			} else {
				for (const element of files) {
					console.log('Eelement ', element.PO_HEADER_ID);
					console.log('INI HEAD ', this.headerId);
					if (
						element.PO_HEADER_ID == this.headerId &&
						element.LEVEL_TENANT == 2
					) {
						file = element;
					}
				}
				if (file === null) {
					console.log('File Supplier Is Empty');
					this.fileSuppIsEmpty = true;
				} else {
					console.log('File Supplier Is Not Empty');
					this.fileSuppIsEmpty = false;
					this.fileSupp = file;
				}
			}
			console.log(file);
			return file;
		},
	},
	methods: {
		async getTop(dbInstance) {
			const payload = { isi: dbInstance };
			const res = await PoFulfillment.getTop(payload);
			this.isiTop = res.data.data;
			this.top =
				this.detailTerms &&
				this.isiTop.find(
					(val) => val.term_id === this.detailTerms.TERMS_ID
				)?.name;

			console.log('top', this.top);

			console.log('ISI TOP', this.isiTop);
		},
		async getIncoterm(dbInstance) {
			const payload = dbInstance;
			const res = await PoFulfillment.getIncoterm(payload);
			console.log('Incoterm res', res);
			this.isiIncoterm = res.data.data;
			this.incoterm =
				this.detailTerms &&
				this.isiIncoterm.find(
					(val) => val.value === this.detailTerms.FOB
				)?.name;
		},
		sendNotifToPur() {
			// KIRIM NOTIFIKASI KE DASHBOARD
			const payload = {
				idmodule: '4',
				sbjmessage:
					'Purchase Order #' +
					this.poNumber +
					' has been confirmed by ' +
					this.vendorname,
				receiveddate: new Date(),
				status: 'Close',
				notif_type: 'Purchasing',
				sender: this.sender.toString(),
				recipient: this.recipientMail.toString(),
				dbInstance: this.dbInstance,
				orgIdComp: this.items[0].org_id,
				usersenderid: this.idUser,
				// userreceiveid: this.usersenderid,
			};
			POFulfillment.sendPONotifSupp(payload).then((value) => {
				if (value.status === 200) {
					// this.recipientMail = [];
					window.alert('Purchasing Successfully Notified');
					// console.clear();
				}
			});
			// NGIRIM EMAIL
			POFulfillment.sendPOEmail({
				sendpodata: JSON.stringify(this.payloadEmail),
			}).then(() => {
				//  console.log(response.data.status);
			});
		},
		getEmailToPur() {
			// DAPETIN EMAIL RECIPIENT/COMPANY
			const data = {
				idUser: this.idUser,
				companyname: this.company,
			};
			// POFulfillment.getRecipientMail(data).then((respond) => {
			// 	console.log('emailnya recipient::', respond.data.data[0]);
			// 	this.dbInstance = respond.data.data[0][0]['DB_INSTANCE']
			// 	var tampungEmail = [];
			// 	// var getOrgId = null;
			// 	var suppliername = null;
			// 	respond.data.data[0].forEach((element) => {
			// 		tampungEmail.push(element.targetemailgroup);
			// 		// if (getOrgId === null) {
			// 		// 	getOrgId = element.id;
			// 			suppliername = element.vendorname;
			// 		// }
			// 	});
			// 	this.recipientMail = tampungEmail
			// 		.toString()
			// 		.replace(/"/g, '')
			// 		.replace(/[\[\]']+/g, '')
			// 		.replace(/ /g, '')
			// 		.replace(/,/g, ', ');
			// 	this.vendorname = suppliername;
			// 	// this.orgIdNotif = getOrgId;
			// 	// console.log('org_id company::', getOrgId);
			// 	console.log('supplier (responder)::', this.vendorname);
			// 	console.log('tampung email::', this.recipientMail);
			// });
		},
		changeDisplay(value) {
			console.log(this.confOption);
			if (value == true) {
				this.displayUploadButton = true;
			} else {
				this.displayUploadButton = false;
			}
		},
		formatDate(value) {
			const d = Date.parse(value);
			return new Date(d).toLocaleDateString('id-ID', {
				day: '2-digit',
				month: 'short',
				year: 'numeric',
				hour: '2-digit',
				minute: '2-digit',
				second: '2-digit',
			});
		},
		formatDateSend(date) {
			var d = new Date(date),
				month = '' + (d.getMonth() + 1),
				day = '' + d.getDate(),
				year = d.getFullYear();

			if (month.length < 2) month = '0' + month;
			if (day.length < 2) day = '0' + day;

			return [year, month, day].join('-');
		},
		formatDateDexa(date) {
			var date = new Date(date);
			var respondDate =
				('00' + (date.getMonth() + 1)).slice(-2) +
				'/' +
				('00' + date.getDate()).slice(-2) +
				'/' +
				date.getFullYear() +
				' ' +
				('00' + date.getHours()).slice(-2) +
				':' +
				('00' + date.getMinutes()).slice(-2) +
				':' +
				('00' + date.getSeconds()).slice(-2);
			return respondDate;
		},
		getCompany() {
			const secretKey = 'some-unique-key';
			const simpleCrypto = new SimpleCrypto(secretKey);

			return simpleCrypto.decrypt(
				sessionStorage.getItem('dropdownCompany')
			);
		},
		previewFiles(event) {
			console.log(event.target.files);
			this.files = 1;
		},
		async onRemoveSupp(payload) {
			console.log('Remove File');
			console.log(payload);
			const res = await PoFulfillment.removeFileSupp(payload);
			if (res.status === 200) {
				this.fileSuppIsEmpty = true;
				this.$toast.add({
					severity: 'success',
					summary: 'File has been Removed !',
					life: 3000,
				});
			}
		},
		async onUpload() {
			//this.loadingUpload = true;
			// let file = this.file
			// let fileUploaded = this.fileUploaded
			// let userId = sessionStorage.getItem('idUser');
			let formData = new FormData();
			formData.append('file', this.file);
			formData.append('poHeaderId', this.headerId);
			formData.append('userId', sessionStorage.getItem('idUser'));
			console.log('Send PO Doc res:', formData);

			// Uploading file
			this.loadingUpload = true;
			let res = null;
			console.log('On Upload Processing');
			console.log('Status this.filePurIsEmpty: ' + this.fileSuppIsEmpty);
			if (this.fileSuppIsEmpty === true) {
				console.log('Insert File');
				res = await PoFulfillment.uploadFileSupp(formData);
			} else {
				console.log('Update File');
				res = await PoFulfillment.uploadFileUpdateSupp(formData);
			}
			console.log('Send PO Doc res:', res);
			console.log('STATUS', res.status);
			if (res.status === 200) {
				this.fileUploaded = {
					filename: res.data.fileName,
					url: res.data.data.name,
					mimeType: res.data.mimeType,
				};
				// this.$refs.inputFile.clear();
				this.loadingUpload = false;
				location.reload();
				// this.attachmentFilePur();
				return res;
			}
		},
		onSelect(e) {
			this.fileUploaded = null;
			this.file = e.files[0];
			console.log('select file : ', this.file);
		},
		back() {
			this.$router.push({
				name: 'poFulfillment',
			});
		},
		save() {
			AuthService.whoAmi().then((response) => {
				var datesave = this.formatDateSend(new Date());
				var id = response.data.data.id;
				var name = response.data.data.userid;
				if (this.confOption === 'manual') {
					var header_updatesave = {
						username: name,
						userid: id,
						flag: 3,
						header: this.headerId,
						date: datesave,
						confirm_opt: 'ND',
					};
				} else {
					header_updatesave = {
						username: name,
						userid: id,
						flag: 1,
						header: this.headerId,
						date: datesave,
						confirm_opt: 'D',
					};
				}
				var payloadsave = [];
				var placepayloadsave = [];
				for (var index of this.items) {
					console.log('ISI Index', index);
					var olddate = new Date(this.dateOld);
					// console.log("isi old", olddate)
					var newdate = new Date(index.estimate_supplier_date);
					// console.log('isi new', newdate)
					var difftime = newdate.getTime() - olddate.getTime();
					if (difftime === 0) {
						var ot_code = 'O';
					}
					if (difftime > 0) {
						ot_code = 'E';
					}
					if (difftime < 0) {
						ot_code = 'L';
					}
					var ot_value = {
						ot_code: ot_code,
					};
					var status = {
						statusvalue: 'N',
					};
					payloadsave = Object.assign(
						index,
						header_updatesave,
						ot_value,
						status
					);
					placepayloadsave.push(payloadsave);
					index.name = 'NOT CONFIRMED';
				}
				let payloadkirimsave = {
					detail: placepayloadsave,
					header: header_updatesave,
				};
				for (var id of payloadkirimsave.detail) {
					// console.log(id)
					id.estimate_supplier_date = new Date(
						id.estimate_supplier_date
					);
					id.need_by_date = this.formatDateSend(
						new Date(id.need_by_date)
					);
					if (id.remarks == 'null' || id.remarks == null) {
						id.remarks = '';
					}
				}
				console.log('KIRIM', payloadkirimsave.detail);
				PoFulfillment.savePo(payloadkirimsave).then((response) => {
					console.log(response);
				});
				this.$toast.add({
					severity: 'success',
					summary: 'Status Change',
					detail: 'Change Status to Not Confirm',
					life: 3000,
				});
				this.displayConfirm = true;
				this.displayRadioButton = true;
				this.onUpload();
			});
		},
		confirm() {
			AuthService.whoAmi().then((response) => {
				// console.log(response.data.data)
				var user_id = response.data.data.id;
				var user_name = response.data.data.userid;
				if (this.confOption == 'digital') {
					// if (this.files == 1) {
					var datedigi = this.formatDateSend(new Date());
					var header_updatedigi = {
						username: user_name,
						userid: user_id,
						confirm_opt: 'D',
						flag: 1,
						header: this.headerId,
					};
					var add_detaildigi = {
						status: 'C',
						date: datedigi,
					};
					var payloaddigi = [];
					var placepayloaddigi = [];
					this.items.forEach((element) => {
						payload = Object.assign(
							element,
							add_detaildigi,
							header_updatedigi
						);
						placepayloaddigi.push(payloaddigi);
						element.name = 'CONFIRMED';
					});
					let payloadkirimdigi = {
						detail: placepayloaddigi,
						header: header_updatedigi,
					};
					for (var id of payloadkirimdigi.detail) {
						console.log(id);
						id.estimate_supplier_date = new Date(
							id.estimate_supplier_date
						);
						id.need_by_date = this.formatDateSend(
							new Date(id.need_by_date)
						);
						if (
							id.reason_not_on_time == null ||
							id.reason_not_on_time.length > 0
						) {
							id.reason_not_on_time = '';
						}
					}
					console.log('payload kirim digital', payloadkirimdigi);
					let payloadkirimemail = {
						detail: placepayloaddigi,
						header: header_updatedigi,
						buyer: this.buyer,
						order_date: this.orderDate,
						confirm_date: this.confirmDate,
						po_number: this.poNumber,
						currency: this.currency,
						ship_to: this.shipTo,
						rev: this.revision,
						emails: this.recipientMail,
						sender: this.sender,
					};
					this.payloadEmail = payloadkirimemail;
					this.sendNotifToPur();
					POFulfillment.submitDataSupp(payloadkirimdigi).then(
						(response) => {
							console.log(response);
						}
					);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Confirmed',
						life: 3000,
					});
					this.onUpload();
					// }
					// if (this.files == 0 || this.files == null){
					//   window.alert('No PDF Attached');
					// }
				}
				if (this.confOption == 'manual') {
					console.log('isi table', this.items);
					var date = this.formatDateSend(new Date());
					var header_update = {
						username: user_name,
						userid: user_id,
						confirm_opt: 'ND',
						flag: 3,
						header: this.headerId,
					};
					var add_detail = {
						status: 'C',
						date: date,
					};
					var payload = [];
					var placepayload = [];
					this.items.forEach((element) => {
						payload = Object.assign(
							element,
							add_detail,
							header_update
						);
						placepayload.push(payload);
						element.name = 'CONFIRMED';
					});
					let payloadkirim = {
						detail: placepayload,
						header: header_update,
					};
					for (var id of payloadkirim.detail) {
						console.log(id);
						id.estimate_supplier_date = new Date(
							id.estimate_supplier_date
						);
						id.need_by_date = this.formatDateSend(
							new Date(id.need_by_date)
						);
						if (
							id.reason_not_on_time == null ||
							id.reason_not_on_time.length > 0
						) {
							id.reason_not_on_time = '';
						}
					}
					console.log('payload kirim manual::', payloadkirim);
					let payloadkirimemail = {
						detail: placepayload,
						header: header_update,
						buyer: this.buyer,
						order_date: this.orderDate,
						confirm_date: this.confirmDate,
						po_number: this.poNumber,
						currency: this.currency,
						ship_to: this.shipTo,
						rev: this.revision,
						emails: this.recipientMail,
						sender: this.sender,
						vendorname: this.vendorname,
					};
					this.payloadEmail = payloadkirimemail;
					this.sendNotifToPur();

					POFulfillment.submitDataSupp(payloadkirim).then(
						(response) => {
							console.log(response);
						}
					);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Processed',
						life: 3000,
					});
					this.onUpload();
					this.$router.push({
						name: 'poFulfillment',
					});
				}
			});
		},
	},
};
</script>

<style scoped>
a.p-button-success {
	text-decoration: none;
	color: #ffffff;
	background: #22c55e;
	border: 1px solid #22c55e;
	/* padding: 0.75rem 1.25rem;
	font-size: 1rem; */
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 6px;
	display: inline-flex;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	overflow: hidden;
	position: relative;
	font-size: 0.875rem;
	padding: 0.65625rem 1.09375rem;
}
</style>
