<template>
	<div class="grid">
		<!-- Notif Toast -->
		<Toast />

		<!-- Breadcrumb -->
		<div class="col-12 mb-5">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>

		<!-- Search -->
		<div class="col-12 mb-4">
			<div class="content-wrapper">
				<div class="content-header">Search</div>
				<div class="content-body">
					<div class="grid">
						<div class="col-12 lg:col-4">
							<div class="flex align-items-center">
								<span class="font-bold mr-3">Company</span>
								<AutoComplete
									class="w-full"
									@item-select="onSelectCompany"
									v-model="selectedCompany"
									:suggestions="filteredCompanies"
									@complete="searchCompany($event)"
									field="name"
									:dropdown="true"
									forceSelection
								/>
							</div>
						</div>
						<div class="col-12 lg:col-4">
							<div class="p-inputgroup">
								<AutoComplete
									placeholder="Search PO Number"
									class="w-full"
									v-model="poNumber"
									:suggestions="filteredPoNum"
									@complete="searchPoNum($event)"
									field="SEGMENT1"
									forceSelection
								/>
								<!-- <InputText
									type="text"
									v-model="poNumber.SEGMENT1"
									placeholder="Search PO Number"
								/> -->
								<Button
									type="button"
									icon="pi pi-search"
									@click="openSearch"
									aria:haspopup="true"
									aria-controls="overlay_panel"
								/>
							</div>

							<span class="p-input-icon-left w-full">
								<OverlayPanel
									ref="op"
									appendTo="body"
									:showCloseIcon="true"
									id="overlay_panel"
									style="width: 450px"
									:breakpoints="{ '960px': '75vw' }"
								>
									<DataTable
										:value="poNumberList"
										v-model:selection="poNumber"
										selectionMode="single"
										:paginator="true"
										:rows="5"
										@rowSelect="onProductSelect"
										responsiveLayout="scroll"
									>
										<!-- <Column
											field="PO_HEADER_ID"
											header="PO ID"
											sortable
											style="width: 50%"
										></Column> -->
										<Column
											field="SEGMENT1"
											header="PO NUMBER"
											sortable
											style="width: 50%"
										></Column>
										<Column
											field="VENDOR_NAME"
											header="Supplier Name"
											sortable
											style="width: 50%"
										></Column>
										<!-- <Column
											field="SHIP_TO_LOCATION_ID"
											header="Location ID"
											sortable
											style="width: 50%"
										></Column>
										<Column
											field="CURRENCY_CODE"
											header="Currency"
											sortable
											style="width: 50%"
										></Column> -->
									</DataTable>
								</OverlayPanel>
							</span>
						</div>
						<div class="col-12 lg:col-4">
							<Button
								:class="uppercase"
								class="p-button-success mr-2"
								@click="searchPO"
							>
								<span class="uppercase font-bold"
									>Search PO</span
								>
							</Button>
							<Button
								:class="uppercase"
								class="p-button-secondary"
								@click="clearForm"
								><span class="uppercase font-bold"
									>Clear</span
								></Button
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Search results -->
		<div class="col-12 mb-4">
			<div class="content-wrapper">
				<div class="content-header">Search Result</div>
				<div class="content-body">
					<div class="grid align-items-center">
						<!-- Left column -->
						<div class="col-12 lg:col-6">
							<div class="grid align-items-center">
								<div class="col-12 lg:col-4">
									<label
										style="color: #828282"
										class="mr-4 font-bold text-lg"
										for="rev"
										>Rev</label
									>
								</div>
								<div class="col-12 lg:col-6">
									<InputText
										class="w-full"
										id="rev"
										type="text"
										v-model="poValue.REVISION_NUM"
										disabled
									/>
								</div>
							</div>
							<div class="grid align-items-center">
								<div class="col-12 lg:col-4">
									<label
										style="color: #828282"
										class="mr-4 font-bold text-lg"
										for="supplier"
										>Supplier</label
									>
								</div>
								<div class="col-12 lg:col-6">
									<InputText
										class="w-full"
										id="supplier"
										type="text"
										v-model="poValue.VENDOR_NAME"
										disabled
									/>
								</div>
							</div>
							<div class="grid align-items-center">
								<div class="col-12 lg:col-4">
									<label
										style="color: #828282"
										class="mr-4 font-bold text-lg"
										for="ship-to"
										>Ship To</label
									>
								</div>
								<div class="col-12 lg:col-6">
									<InputText
										class="w-full"
										id="ship-to"
										type="text"
										v-model="poValue.SHIP_TO_NAME"
										disabled
									/>
								</div>
							</div>
						</div>
						<!-- Right column -->
						<div class="col-12 lg:col-6">
							<div class="grid align-items-center">
								<div class="col-12 lg:col-4">
									<label
										style="color: #828282"
										class="mr-4 font-bold text-lg"
										for="order-date"
										>Order Date</label
									>
								</div>
								<div class="col-12 lg:col-6">
									<InputText
										class="w-full"
										id="order-date"
										type="text"
										v-model="poValue.ORDER_DATE"
										disabled
									/>
								</div>
							</div>
							<div class="grid align-items-center">
								<div class="col-12 lg:col-4">
									<label
										style="color: #828282"
										class="mr-4 font-bold text-lg"
										for="buyer"
										>Buyer</label
									>
								</div>
								<div class="col-12 lg:col-6">
									<InputText
										class="w-full"
										id="buyer"
										type="text"
										v-model="poValue.BUYER_NAME"
										disabled
									/>
								</div>
							</div>
							<div class="grid align-items-center">
								<div class="col-12 lg:col-4">
									<label
										style="color: #828282"
										class="mr-4 font-bold text-lg"
										for="currency"
										>Currency</label
									>
								</div>
								<div class="col-12 lg:col-6">
									<InputText
										class="w-full"
										id="currency"
										type="text"
										v-model="poValue.CURRENCY_CODE"
										disabled
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Attachment Document -->
		<div class="col-12 mb-4">
			<div class="content-wrapper">
				<div class="content-header">Upload File</div>
				<div class="content-body">
					<div class="">
						<FileUpload
							id="uploadFile"
							ref="inputFile"
							chooseLabel="Choose File"
							uploadLabel="Upload File"
							fileLimit="1"
							accept="application/pdf"
							@select="onSelectFile"
							:customUpload="true"
							:showUploadButton="false"
							:showCancelButton="false"
						>
							<template #empty>No file selected.</template>
						</FileUpload>
						<div style="padding: 0rem 1rem" v-if="loadingUpload">
							<ProgressSpinner
								style="width: 25px; height: 25px"
								strokeWidth="6"
							/>
						</div>
						<p style="padding: 0rem 1rem" v-if="fileUploaded">
							{{ fileUploaded.filename }} has been uploaded
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Items -->
		<div class="col-12 mb-4">
			<div class="content-wrapper">
				<div class="content-header">Items</div>
				<div class="content-body">
					<div>
						<!-- Data table -->
						<div v-if="poItems">
							<DataTable
								:value="poItems"
								responsiveLayout="scroll"
							>
								<Column field="LINE_NUM" header="Line"></Column>
								<Column
									field="ITEM_ID"
									header="Item Number"
								></Column>
								<Column
									field="ITEM_DESCRIPTION"
									header="Item Description"
								></Column>
								<Column field="UOM" header="UOM"></Column>
								<Column
									field="CURRENCY_CODE"
									header="Currency"
								></Column>
								<Column
									field="UNIT_PRICE"
									header="Unit Price"
								></Column>
								<Column
									field="QUANTITY"
									header="Quantity"
								></Column>
								<Column field="AMOUNT" header="Amount"></Column>
								<Column
									field="NEED_BY_DATE"
									header="Arrival at W/H"
								></Column>
								<Column
									field="TYPE_PO"
									header="PO Type"
								></Column>
								<Column
									field="NOTE_TO_VENDOR"
									header="Note to Supplier"
								></Column>
							</DataTable>
						</div>

						<!-- If no data -->
						<p v-else>No data found.</p>

						<!-- Action button for send PO to supplier -->
						<div
							class="flex align-items-center mt-5"
							v-if="poItems"
						>
							<div class="col-12 lg:col-4">
								<div class="flex align-items-center">
									<span class="font-bold mr-3">Preparer</span>
									<AutoComplete
										class="w-full"
										v-model="selectedPreparer"
										:suggestions="filteredPreparer"
										@complete="searchPreparer($event)"
										field="user_name"
										:dropdown="true"
										forceSelection
									/>
								</div>
							</div>
							<Button
								class="p-button-success ml-2"
								@click="handleSendToSupplier"
							>
								<span class="font-bold">Send to Supplier</span>
							</Button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
/* eslint-disable */
import AuthService from '../../service/AuthService';
import PlanningOrderService from '../../service/PlanningOrderService';
import SubmitPoService from '../../service/SubmitPOService';
import Preparer from './Preparer.vue';
import LovService from '../../service/LovService';
import SimpleCrypto from 'simple-crypto-js';

export default {
	name: 'submitpo-list',
	components: { Preparer },
	data() {
		return {
			currentUser: null,
			companies: [],
			selectedCompany: null,
			filteredCompanies: null,
			selectedPreparer: null,
			filteredPreparer: null,
			filteredPoNum: null,
			poNumber: null,
			poNumberSelected: null,
			poNumberList: [],
			poValue: {
				PO_HEADER_ID: null,
				REVISION_NUM: null,
				SHIP_TO_NAME: null,
				CURRENCY_CODE: null,
				VENDOR_NAME: null,
				ORDER_DATE: null,
				BUYER_NAME: null,
				SEGMENT1: null,
			},
			poItems: null,
			poTerm: null,
			isSubmitting: false,
			file: null,
			fileUploaded: null,
			loadingUpload: false,
			vendorId: null,
			orgId: null,
			levelTenant: null,
			orgIdNotif: null,
			emailRecipient: null,
			emailPreparer: null,
			sender: null,
			dbInstance: null,
			usersenderid: null,
			emailAttach: {
				filename: null,
				url: null
			},
			breadcrumbHome: { icon: 'pi pi-home', to: '/' },
			breadcrumbItems: [
				{ label: 'Submit PO', to: '/mgm/settings/submitpo' },
			],
		};
	},
	watch: {
		selectedCompany(event) {
			console.log('select ', event);
			console.log('select ', typeof event);
			console.log('select ', event != null);

			console.log(this.selectedCompany);
			if (typeof event == 'object') {
				// this.poNumber = null;
				this.poNumber = null;
				// this.poItems = null;
				this.poNumberList = null;

				let payload = {
					DB_INSTANCE: this.selectedCompany.db_instance,
					ORG_ID: this.selectedCompany.value,
				};
				SubmitPoService.getPoNum(payload).then((resp) => {
					if (resp.data.status === 200) {
						console.log('poNumberList ', resp.data.data);
						this.poNumberList = resp.data.data;
					}
				});
			} else {
				this.poItems = null;
				this.poNumberList = null;
			}
		},
	},
	async created() {
		this.preparers = await SubmitPoService.getPreparers();
		AuthService.whoAmi().then((response) => {
			this.sender = response.data.data.bioemailactive;
			this.dbInstance = response.data.data.bioaddress;
			this.usersenderid = response.data.data.id;
			this.levelTenant = response.data.data.leveltenant;
		});
		// Check who current logged in user is
		const res = await AuthService.whoAmi();
		console.log('Current auth user:', res);
		if (res.status === 200) {
			this.currentUser = res.data.data;

			if (this.currentUser.leveltenant == 1) {
				// Check if is admin or not and get companies
				// if (this.currentUser.userid == 'dexaadmin') {
				// 	this.getCompanies();
				// } else {
				// 	this.getCompaniesByUserId(this.currentUser.id);
				// }
				if (this.currentUser.userid === 'danu_h') {
					this.getCompanies();
				} else {
					LovService.getcompanydb(res.data.data.bioaddress).then(
						(value) => {
							this.companies = value.data.data;
							try {
								const secretKey = 'some-unique-key';
								const simpleCrypto = new SimpleCrypto(
									secretKey
								);
								const decipherText = simpleCrypto.decrypt(
									sessionStorage.getItem('dropdownCompany')
								);
								this.companies.forEach((element) => {
									if (element.name === decipherText) {
										this.selectedCompany = element;
										throw 'Break';
									}
								});
							} catch (e) {
								if (e !== 'Break') throw e;
							}
						}
					);

					// this.$router.push('/dashboard');
				}
			}
		}
	},
	methods: {
		searchPreparer(event) {
			this.selectedPreparer = event.query;
			this.filteredPreparer = this.preparers.filter((preparer) => {
				return preparer.user_name
					.toLowerCase()
					.match(event.query.toLowerCase());
			});
			// console.log(this.filteredPreparer)
		},
		pad2(n) {
			return (n < 10 ? '0' : '') + n;
		},
		formatDate(date) {
			console.log(date);
			var month = this.pad2(date.getMonth() + 1); //months (0-11)
			var day = this.pad2(date.getDate()); //day (1-31)
			var year;
			if (date.getFullYear() < 0) {
				year = date.getFullYear() * -1;
			} else {
				year = date.getFullYear();
			}
			var combinedNeedDate = new Date(month + '/' + day + '/' + year);
			let formattedDate = [];
			console.log('Date ', date);
			formattedDate[0] =
				combinedNeedDate.getDate() +
				'-' +
				combinedNeedDate.toString().substr(4, 3) +
				'-' +
				combinedNeedDate.getFullYear();
			formattedDate[1] =
				combinedNeedDate.getMonth() +
				1 +
				'/' +
				combinedNeedDate.getDate() +
				'/' +
				combinedNeedDate.getFullYear();
			console.log(
				'ISI FORMATED DATE 1',
				formattedDate[1],
				combinedNeedDate.getMonth() +
					1 +
					'/' +
					combinedNeedDate.getDate() +
					'/' +
					combinedNeedDate.getFullYear()
			);
			return formattedDate;
		},
		formatDateSend(date) {
			var d = new Date(date),
				month = '' + (d.getMonth() + 1),
				day = '' + d.getDate(),
				year = d.getFullYear();

			if (month.length < 2) month = '0' + month;
			if (day.length < 2) day = '0' + day;

			return [year, month, day].join('-');
		},
		searchCompany(event) {
			if (!event.query.trim().length) {
				this.filteredCompanies = [...this.companies];
			} else {
				this.filteredCompanies = this.companies.filter((company) => {
					return company.name
						.toLowerCase()
						.match(event.query.toLowerCase());
				});
			}
		},
		onSelectCompany(e) {
			// Reset form if selected company change
			if (
				this.selectedCompany &&
				this.selectedCompany.name !== e.value.name
			) {
				console.log('reset form');
			}

			console.log(this.selectedCompany.name !== e.value.name);
			console.log('on change', typeof e.value.name);
			console.log('selected comp', typeof this.selectedCompany.name);
		},
		searchPoNum(event) {
			if (!event.query.trim().length) {
				this.filteredPoNum = [...this.poNumberList];
			} else {
				this.filteredPoNum = this.poNumberList.filter((company) => {
					return company.SEGMENT1.toLowerCase().match(
						event.query.toLowerCase()
					);
				});
			}
		},
		async getCompanies() {
			const res = await PlanningOrderService.getCompany();
			console.log('Get companies res:', res);
			this.companies = res.data.data;
		},
		async getCompaniesByUserId(userId) {
			// Get companies by user id
			const res = await PlanningOrderService.getCompanySupp(userId);
			console.log(res);

			const payload = {
				isi: res.data.data[0].company,
			};

			const resCompany = await PlanningOrderService.getCompanyId(payload);
			console.log('Company by userid:', resCompany.data.data);
			this.companies = resCompany.data.data;
		},
		openSearch(event) {
			this.poNumberList = null;

			let payload = {
				DB_INSTANCE: this.selectedCompany.db_instance,
				ORG_ID: this.selectedCompany.value,
			};
			SubmitPoService.getPoNum(payload).then((resp) => {
				if (resp.data.status === 200) {
					console.log('poNumberList ', resp.data.data);
					this.poNumberList = resp.data.data;
					this.vendorId = resp.data.data[0].VENDOR_ID;
					this.orgId = resp.data.data[0].ORG_ID;
					console.log(
						'vendorId::',
						this.vendorId + '\n' + 'orgId::',
						this.orgId
					);
				}
			});
			this.$refs.op.toggle(event);
		},
		searchPO() {
			// Search PO Value
			SubmitPoService.getPo(this.poNumber.PO_HEADER_ID).then(
				async (resp) => {
					if (resp.data.status === 200) {
						console.log('poValue ', resp.data.data);
						this.poValue = resp.data.data[0];
						// console.log('data search PO::',this.poValue)
						this.poValue.ORDER_DATE = this.formatDate(
							new Date(this.poValue.ORDER_DATE)
						)[0];

						// Search PO Items list
						SubmitPoService.getPoList(
							this.poNumber.PO_HEADER_ID
						).then((res) => {
							if (res.data.status === 200) {
								console.log('PO LIST ', res.data.data);
								// this.poValue = res.data.data[0];
								this.poItems = res.data.data.map((item) => {
									// Format date
									item.NEED_BY_DATE = this.formatDate(
										new Date(item.NEED_BY_DATE)
									)[0];

									// Add currency field
									item.CURRENCY_CODE =
										this.poValue.CURRENCY_CODE;
									return item;
								});
							}
						});

						// Search PO Term
						SubmitPoService.getPoTerm(
							this.poNumber.PO_HEADER_ID
						).then((res) => {
							if (res.data.status === 200) {
								this.poTerm = res.data.data[0];
								console.log('PO TERM ', this.poTerm);
								// let sortPoItems = res.data.data[0].sort(function(a, b){
								// return a.LINE_NUM - b.LINE_NUM;
								// });
								// this.poItems = sortPoItems;
							}
						});
					}
					// DAPETIN EMAIL RECIPIENT/COMPANY
					await new Promise((resolve) => setTimeout(resolve, 500));

					const data = {
						// vendor_id: this.vendorId,
						// org_id: this.orgId,
						vendorname: this.poValue.VENDOR_NAME,
						// dbInstance: this.dbInstance,
					};
					console.log('payload for getEmail::', data);
					SubmitPoService.getPurchaseRecipientMail(data).then(
						async (resval) => {
							console.log(
								'id user kkt::',
								resval.data.data[0][0]['idusrkkt']
							);
							const dataTwo = {
								idusrkkt: resval.data.data[0][0]['idusrkkt'],
							};
							SubmitPoService.getRecipientMail(dataTwo).then(
								async (resvaltwo) => {
									this.emailRecipient =
										resvaltwo.data.data[0][0][
											'bioemailactivegroup'
										]
											.replace('[', '')
											.replace(']', '');
									console.log(
										'email supplier kkt::',
										this.emailRecipient
									);
								}
							);
						}
					);
				}
			);
		},
		onSelectCompany() {
			if (this.selectedCompany && this.poValue.PO_HEADER_ID) {
				console.log('reset form');
				this.clearForm();
			}
		},
		onSelectFile(e) {
			console.log(e);
			this.file = e.files[0];
		},
		async handleUploadFile() {
			console.log('file uploading', this.file);

			let formData = new FormData();
			formData.append('file', this.file);
			formData.append('poHeaderId', this.poValue.PO_HEADER_ID);

			// Uploading file
			this.loadingUpload = true;
			const res = await SubmitPoService.sendPoFile(formData);
			console.log('Send PO Doc res:', res);
			if (res.status === 200) {
				this.fileUploaded = {
					filename: res.data.data.fileName,
					url: res.data.data.aossPayload.url,
					mimeType: res.data.data.mimeType,
					poFile: res.data.data.aossPayload.name,
				};
				this.emailAttach.filename = res.data.data.fileName
				
				console.log('nama file::', this.fileUploaded.filename)
				// console.log('nama file (1)::', this.emailAttach.filename)
				console.log('url::', this.fileUploaded.url)

				this.$refs.inputFile.clear();
				this.loadingUpload = false;
				return res;
			}
			this.loadingUpload = false;
			// await new Promise(resolve => setTimeout(resolve, 500));		
		
		},
		handleEmailAttachment(){
			SubmitPoService.downloadFilePur(this.poValue.PO_HEADER_ID).then(
					(response) => {
						this.emailAttach.url = response.data.data;
						console.log('url file::', response.data.data)
							}
						);
				// await new Promise(resolve => setTimeout(resolve, 70));
				console.log('url file::', this.emailAttach.url)
		},
		async submitPoHeader() {
			const orderDate = this.formatDateSend(this.poValue.ORDER_DATE);
			const confirmDate = this.formatDateSend(this.poValue.CONFIRM_DATE);
			const payload = {
				PO_KEY_ID: this.poValue.PO_KEY_ID,
				PO_HEADER_ID: this.poValue.PO_HEADER_ID,
				SEGMENT1: this.poValue.SEGMENT1,
				REVISION_NUM: this.poValue.REVISION_NUM,
				SHIP_TO_LOCATION_ID: this.poValue.SHIP_TO_LOCATION_ID,
				COMMENTS: this.poValue.COMMENTS,
				AGENT_ID: this.poValue.AGENT_ID,
				CURRENCY_CODE: this.poValue.CURRENCY_CODE,
				ATTRIBUTE1: this.poValue.ATTRIBUTE1,
				BUYER_NAME: this.poValue.BUYER_NAME,
				ORG_ID: this.poValue.ORG_ID,
				SHIP_TO_NAME: this.poValue.SHIP_TO_NAME,
				AUTHORIZATION_STATUS: this.poValue.AUTHORIZATION_STATUS,
				STATUS: this.poValue.STATUS,
				VENDOR_ID: this.poValue.VENDOR_ID,
				VENDOR_NAME: this.poValue.VENDOR_NAME,
				ORDER_DATE: orderDate,
				CREATION_DATE: new Date(),
				CREATED_BY: this.currentUser.id,
				LAST_UPDATE_DATE: new Date(),
				LAST_UPDATED_BY: this.currentUser.id,
				ACTIVE: this.poValue.ACTIVE,
				CONFIRM_DATE: confirmDate,
				CONFIRM_FLAG: this.poValue.CONFIRM_FLAG,
				CONFIRM_REQ_ID: this.poValue.CONFIRM_FLAG,
				CONFIRM_SP_NAME: this.poValue.CONFIRM_SP_NAME,
				CONFIRM_TYPE: this.poValue.CONFIRM_TYPE,
				DB_INSTANCE: this.poValue.DB_INSTANCE,
			};

			console.log('PO Header payload:', payload);

			const res = await SubmitPoService.submitPoHeader(payload);
			console.log(res);

			if (res.status === 200) {
				return res;
			}
		},
		async submitPoDetail() {
			const payload = this.poItems.map((item) => {
				const needByDate = this.formatDateSend(item.NEED_BY_DATE);
				const estComplationDate = this.formatDateSend(
					item.ESTIMATE_COMPLATION_DATE
				);
				const estManufacturerDate = this.formatDateSend(
					item.ESTIMATE_MANUFACTURER_DATE
				);
				const estSupplierDate = this.formatDateSend(
					item.ESTIMATE_SUPPLIER_DATE
				);
				const ceationDate = this.formatDateSend(item.CREATION_DATE);
				const lastUpdateDate = this.formatDateSend(
					item.LAST_UPDATE_DATE
				);
				const promisedDate = this.formatDateSend(item.PROMISED_DATE);
				const confirmDate = this.formatDateSend(item.CONFIRM_DATE);

				return {
					PO_LINE_ID: item.PO_LINE_ID,
					PO_HEADER_ID: item.PO_HEADER_ID,
					PO_KEY_ID: this.poValue.PO_KEY_ID,
					LINE_NUM: item.LINE_NUM,
					ITEM_ID: item.ITEM_ID,
					ITEM_NUMBER: item.ITEM_NUMBER,
					ITEM_DESCRIPTION: item.ITEM_DESCRIPTION,
					UNIT_MEAS_LOOKUP_CODE: item.UNIT_MEAS_LOOKUP_CODE,
					UNIT_PRICE: item.UNIT_PRICE,
					QUANTITY: item.QUANTITY,
					NOTE_TO_VENDOR: item.NOTE_TO_VENDOR,
					ORG_ID: item.ORG_ID,
					NEED_BY_DATE: needByDate,
					ESTIMATE_COMPLATION_DATE: estComplationDate,
					ESTIMATE_MANUFACTURER_DATE: estManufacturerDate,
					ESTIMATE_SUPPLIER_DATE: estSupplierDate,
					DELIVERY_INVOICE_DATE: item.DELIVERY_INVOICE_DATE,
					CREATION_DATE: ceationDate,
					CREATED_BY: this.currentUser.id,
					LAST_UPDATE_DATE: lastUpdateDate,
					LAST_UPDATED_BY: this.currentUser.id,
					AMOUNT: item.AMOUNT,
					REMARKS: item.REMARKS,
					PROMISED_DATE: promisedDate,
					OT_CODE: item.OT_CODE,
					ATTRIBUTE5: item.ATTRIBUTE5,
					ATTRIBUTE8: item.ATTRIBUTE8,
					ATTRIBUTE9: item.ATTRIBUTE9,
					STATUS: item.STATUS,
					CONFIRM_DATE: confirmDate,
					ATTRIBUTE3: item.ATTRIBUTE3,
					DB_INSTANCE: item.DB_INSTANCE,
					SEGMENT1: item.SEGMENT1,
					UOM: item.UOM,
					TYPE_PO: item.TYPE_PO,
					REVISION_NUM: this.poValue.REVISION_NUM,
				};
			});

			console.log('PO Details payload', payload);

			const res = await SubmitPoService.submitPoDetail(payload);
			console.log(res);
			if (res.status === 200) {
				return res;
			}
		},
		async submitPoTerm() {
			const payload = {
				PO_KEY_ID: this.poTerm.PO_KEY_ID,
				PO_HEADER_ID: this.poTerm.PO_HEADER_ID,
				TERMS_ID: this.poTerm.TERMS_ID,
				FREIGHT_TERMS: this.poTerm.FREIGHT_TERMS,
				FREIGHT_CARRIER: this.poTerm.FREIGHT_CARRIER,
				FOB: this.poTerm.FOB,
			};

			console.log('PO Term payload', payload);

			const res = await SubmitPoService.submitPoTerm(payload);
			console.log(res);
			if (res.status === 200) {
				return res;
			}
		},
		async sendEmailToSupp() {
			const emailData = {
				PO_HEADER_ID: this.poValue.PO_HEADER_ID,
				CREATION_DATE: new Date(),
				CREATED_BY: this.currentUser.leveltenant,
				LAST_UPDATE_DATE: new Date(),
				LAST_UPDATED_BY: new Date(),
				MIME_TYPE: this.fileUploaded
					? this.fileUploaded.mimeType
					: null,
				PO_SEQ: null,
				EMAIL_RECIPIENT: this.emailRecipient.replace(/"/g, ''),
				EMAIL_PREPARER: this.emailPreparer,
				SENDER: this.sender,
				COMPANY_PUR: this.selectedCompany.name,
				BUYER_PO: this.poValue.BUYER_NAME,
				CURRENCY: this.poValue.CURRENCY_CODE,
				ORDER_DATE: this.poValue.ORDER_DATE,
				PO_ITEMS: this.poItems,
				FILE_NAME: this.emailAttach ? this.emailAttach.filename : null,
				FILE_URL: this.emailAttach ? this.emailAttach.url : null
			};
			console.log('ini payload utk email::', emailData);
			console.log(
				'ini payload utk data table di email::',
				emailData.PO_ITEMS
			);

			const payload = {
				idmodule: '4',
				sbjmessage:
					'New Purchase Order #' +
					this.poNumber.SEGMENT1 +
					' from ' +
					this.selectedCompany.name,
				receiveddate: new Date(),
				status: 'Open',
				notif_type: 'Supplier',
				sender: this.sender.toString(),
				recipient: this.emailRecipient.replace(/"/g,''),
				usersenderid: this.usersenderid,
                userreceiveid: this.vendorId,
				dbInstance: this.selectedCompany.db_instance,
				orgIdComp: this.orgId
			};
			console.log('data notif di dashboard::', payload);
			SubmitPoService.sendNotifPurchaseOrder(payload).then(() => {});
			SubmitPoService.sendPOEmail({
				sendpodata: JSON.stringify(emailData),
			}).then(() => {
				//  console.log(response.data.status);
				this.$toast.add({
					severity: 'success',
					summary: 'Supplier successfully notified!',
					life: 3000,
				});
			});
			
		},
		async submitPoDoc() {
			// Insert PO File data to DB
			const payload = {
				PO_HEADER_ID: this.poValue.PO_HEADER_ID,
				PO_FILE: this.fileUploaded.poFile,
				CREATION_DATE: new Date(),
				CREATED_BY: this.currentUser.id,
				LAST_UPDATE_DATE: new Date(),
				LAST_UPDATED_BY: this.currentUser.id,
				FILENAME: this.fileUploaded.filename,
				MIME_TYPE: this.fileUploaded.mimeType,
				PO_SEQ: null,
				LEVEL_TENANT: this.levelTenant,
			};

			const res = await SubmitPoService.submitPoDoc(payload);
			console.log(res);

			if (res.status === 200) {
				return res;
			}
		},
		async handleSendToSupplier() {
			if (!this.isSubmitting) {
				// Set flag isSubmitting
				this.isSubmitting = true;

				// If there is file attachment
				if (this.file) {
					const resFile = await this.handleUploadFile();
					console.log('Upload file to OSS res:', resFile);

					if (resFile.status === 200) {
						// Insert PO to DB
						const resPoHeader = await this.submitPoHeader();
						const resPoDetail = await this.submitPoDetail();
						const resPoTerm = await this.submitPoTerm();
						const resPoDoc = await this.submitPoDoc();
						const resMailAttach = this.handleEmailAttachment();
						console.log('resmailattach::',resMailAttach)
						// If success submit PO
						if (
							resPoHeader.status === 200 &&
							resPoDetail.status === 200 &&
							resPoTerm.status === 200 &&
							resPoDoc.status === 200
						) {
							this.$toast.add({
								severity: 'success',
								summary: 'PO Successfully Send to Supplier',
								life: 3000,
							});

							// Remove PO Header from is_purchase_order_header_oracle;
							await SubmitPoService.removePoHeader(this.poValue.PO_HEADER_ID)

							// const resPoDoc = await SubmitPoService.sendPoDoc(fileData);
							console.log(resPoDoc);
							// console.log('ini payloadnya::', fileData);
							console.log(
								'selected preparer::',
								this.selectedPreparer.user_id
							);
							const data = {
								userIdPreparer: this.selectedPreparer.user_id,
							};
							SubmitPoService.getPreparerMail(data).then(
								(response) => {
									this.emailPreparer =
										response.data.data[0][0][
											'email_address'
										];
									console.log(
										'email preparer::',
										this.emailPreparer
									);
								}
							);
							const delay = (ms) =>
								new Promise((res) => setTimeout(res, ms));
							await delay(500);
							setTimeout(this.sendEmailToSupp(), 500);

							// Reset flag isSubmitting and clear form
							this.isSubmitting = false;
							this.clearForm();
						} else {
							// Toast notif error submit PO
							this.$toast.add({
								severity: 'error',
								summary: 'Error Submit PO',
								life: 3000,
							});
						}
					}
				} else {
					// Submit PO without upload file
					// Insert PO to DB
					const resPoHeader = await this.submitPoHeader();
					const resPoDetail = await this.submitPoDetail();
					const resPoTerm = await this.submitPoTerm();
					const data = {
						userIdPreparer: this.selectedPreparer.user_id,
					};
					SubmitPoService.getPreparerMail(data).then((response) => {
						this.emailPreparer =
							response.data.data[0][0]['email_address'];
						console.log('email preparer::', this.emailPreparer);
					});
					setTimeout(this.sendEmailToSupp(), 500);

					// If success submit PO
					if (
						resPoHeader.status === 200 &&
						resPoDetail.status === 200 &&
						resPoTerm.status === 200
					) {
						this.$toast.add({
							severity: 'success',
							summary: 'PO Successfully Send to Supplier',
							life: 3000,
						});

						// Remove PO Header from is_purchase_order_header_oracle;
						await SubmitPoService.removePoHeader(this.poValue.PO_HEADER_ID)

						// Reset flag isSubmitting and clear form
						this.isSubmitting = false;
						this.clearForm();
					}
				}
			}
		},
		clearForm() {
			// this.selectedCompany = null;
			this.poNumberList = [];
			this.filteredPoNum = null;
			this.poNumber = null;
			this.poValue = {
				PO_HEADER_ID: null,
				REVISION_NUM: null,
				SHIP_TO_NAME: null,
				CURRENCY_CODE: null,
				VENDOR_NAME: null,
				ORDER_DATE: null,
				BUYER_NAME: null,
				SEGMENT1: null,
			};
			this.poItems = null;
		},
	},
};
</script>

<style scoped></style>
