<template>
	<div>
		<Card>
			<template #title>
				<span class="text-xl">Top 10 Latest Invoices</span>
			</template>

			<template #content>
				<DataTable
					:value="invoices"
					responsiveLayout="scroll"
					:loading="!invoices"
				>
					<Column
						field="invoice_number"
						header="Inovice Number"
					></Column>
					<Column
						field="received_date"
						header="Received Date"
					></Column>
					<Column header="Status">
						<template #body="slotProps">
							<span
								class="font-bold statusOpen"
								v-if="slotProps.data.status === 'Open'"
								>{{ slotProps.data.status }}</span
							>
							<span class="font-bold statusClosed" v-else>{{
								slotProps.data.status
							}}</span>
						</template>
					</Column>
				</DataTable>
			</template>
		</Card>
	</div>
</template>

<script>
export default {
	data() {
		return {
			invoices: [],
		};
	},
	created() {
		this.invoices = [
			{
				invoice_number: 1,
				received_date: '25 May 2022',
				status: 'Open',
			},
			{
				invoice_number: 2,
				received_date: '25 May 2022',
				status: 'Open',
			},
			{
				invoice_number: 3,
				received_date: '25 May 2022',
				status: 'Closed',
			},
		];
	},
};
</script>

<style scoped>
.statusOpen {
	color: #77c664;
}

.statusClosed {
	color: #afafaf;
}
</style>
