<template>
	<div>
		<Card>
			<template #title>
				<span class="text-xl">Top 10 Latest Receipts</span>
			</template>

			<template #content>
				<DataTable
					:value="receipts"
					responsiveLayout="scroll"
					:loading="!receipts"
				>
					<Column field="po_number" header="PO Number"></Column>
					<Column field="item_number" header="Item Number"></Column>
					<Column
						field="transaction_date"
						header="Transaction Date"
					></Column>
				</DataTable>
			</template>
		</Card>
	</div>
</template>

<script>
export default {
	data() {
		return {
			receipts: [],
		};
	},
	created() {
		this.receipts = [
			{
				po_number: 1,
				item_number: '999-00',
				transaction_date: '25 May 2022',
			},
			{
				po_number: 2,
				item_number: '999-00',
				transaction_date: '25 May 2022',
			},
			{
				po_number: 3,
				item_number: '999-00',
				transaction_date: '25 May 2022',
			},
		];
	},
};
</script>
