<template>
    <!-- eslint-disable -->
    <div class="grid">
        <div class="col-12 p-fluid">
            <div class="card">
                <div class="grid formgrid" style="margin: 1em 0 0 0;">
                    <div class="col-12 mb-5 lg:col-2 lg:mb-0">
                        <span class="p-float-label">
                            <Dropdown id="dropdown" :options="cities" v-model="value8" optionLabel="name"></Dropdown>
                            <label for="dropdown">Supplier</label>
                        </span>
                    </div>
                    <div class="col-12 mb-5 lg:col-2 lg:mb-0">
                        <span class="p-float-label p-input-icon-right">
                            <InputText type="search" id="inputtext" v-model="search" @keydown.enter="searchFilter()" />
                            <label for="inputtext">DO Number</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-2 lg:mb-0">
                        <span class="p-float-label">
                            <Dropdown id="dropdown" style="width: 100%;" :options="statusOptions" v-model="selectedStatus" optionLabel=""></Dropdown>
					        <label for="dropdown">Status</label>
                        </span>
                    </div>
                    <div class="col-12 mb-2 lg:col-1 lg:mb-0">
                        <Button label="Go" @click="searchFilter()"></Button>
                    </div>
                    <div class="col-12 mb-2 lg:col-1 lg:mb-0">
                        <Button class="p-button-secondary" label="Clear" @click="clearFilter()"></Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <p><strong>DO Number:</strong> DO_ANCOL_001, ANCOL TERANG MENTAL PRINTING INDUSTRY, PT</p> -->
    <DataTable :value="filtered? filtered : shipments" v-model:selection="selectedShipments" dataKey="id" :paginator="true" :rows="5"
        v-model:filters="filters" resizableColumns="true" :reorderableColumns="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[5,10,25]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        responsiveLayout="scroll">
        <Column v-for="col in columns" :field="col.field" :header="col.header" :key="col.field" :sortable="true" />
    </DataTable>
    <!-- <br />
    <p><strong>DO Number:</strong> DO_ANCOL_001, ANCOL TERANG MENTAL PRINTING INDUSTRY, PT</p>
    <DataTable :value="shipments1" v-model:selection="selectedShipments1" dataKey="id" :paginator="true" :rows="5"
        v-model:filters="filters3" resizableColumns="true"
        paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
        :rowsPerPageOptions="[5,10,25]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
        responsiveLayout="scroll">
        <Column v-for="col of columns" :field="col.field" :header="col.header" :key="col.field" :sortable="true" />
    </DataTable> -->
    <br>
  <!-- <table>
    <template v-for="people, country in byCountry">
        <tr>
        <th>Country</th>
        <th>User</th>
    </tr>
      <tr>
        <td colspan="2">{{country}}</td>
      </tr>
      <tr v-for="person in people">
        <td></td>
        <td>{{person}}</td>
      </tr>
    </template>    
  </table> -->
</template>
<script>
 /* eslint-disable */
import CapaService from '../../service/CapaService'
export default {
 data() {
     return {
         selectedStatus: {},
         search: null,
         columns: [],
         shipments: null,
			shipment: {},
			selectedShipments: null,
         filtered: null,
         statusOptions: ['ALL','Submitted','Draft'],
    //      users: [
    //   {country: 'DO_ANCOL_001', name: 'E-64226-00'},
    //   {country: 'USA', name: 'Taylor'},
    //   {country: 'UK', name: 'Tony'},
    //   {country: 'USA', name: 'Mary'},
    //   {country: 'DO_ANCOL_001', name: 'E-64226-00'},
    // ]
       }
    },

	created() {
		this.columns = [
            {field: 'do_num', header: 'DO Number'},
            {field: 'vendor_name', header: 'Vendor'},
            {field: 'line', header: 'Line'},
            {field: 'item_num', header: 'Item Number'},
            {field: 'item_desc', header: 'Item Description'},
            {field: 'uom', header: 'UOM'},
            {field: 'qty_order', header: 'Qty Order'},
            {field: 'qty_ship', header: 'Qty Shipment'},
            {field: 'delivery_date', header: 'Delivery Date'},
            {field: 'arrival_at_site_date', header: 'Arrival at Site Date'},
            {field: 'ship_to', header: 'Ship To'},
            {field: 'status', header: 'Status'},
        ]
	},
	mounted() {
        this.search = null;
        this.selectedStatus = 'ALL';
        CapaService.getAllShipment().then((response) => {
            //   console.log(JSON.stringify(response));
              if (response.status == 200) {
                this.shipments = response.data.data;
              } else {
                this.shipments = [];
              }
        });
	},

    computed: {
        searchStatus(){
            console.clear();
            console.log("search input:",this.search);
            console.log("status selected:",this.selectedStatus);
            if (this.search === null && this.selectedStatus === 'ALL') {
                this.filtered = null;
            } else if (this.search === null || this.selectedStatus === 'ALL') {
                return this.shipments.filter(item => {
                    return (item.do_num.toLowerCase().match(this.search) || item.status.match(this.selectedStatus))
                })
            } else {
                return this.shipments.filter(item => {
                    return (item.do_num.toLowerCase().match(this.search) && item.status.match(this.selectedStatus))
                })
            }
        },
        searchForm(){
            console.clear();
            console.log("search input:",this.search);
            return this.shipments.filter( item => {
                return (item.item_num.toLowerCase().match(this.search))
                })
        },
    //     byCountry(){
    //   return this.users.reduce((acc, user) => {
    //     (acc[user.country] = acc[user.country] || []).push(user.name)
    //     return acc
    //   }, {})
    // }
    },

    methods: {
        searchAny(){
            this.filtered = this.searchForm;
        },
        searchFilter(){
            this.filtered = this.searchStatus;
        },
        clearFilter(){
            this.filtered = null;
            this.search = null;
            this.selectedStatus = 'ALL';
        }
    }
}
</script>
