<template>
	<div class="card">
		<span class="pl-2">
			<AutoComplete
				v-model="selectedCompany"
				:suggestions="filteredCompany"
				@complete="searchCountry($event)"
				:dropdown="true"
				field="name"
				placeholder="Select a Company"
				forceSelection
			>
				<template #item="slotProps">
					<div class="country-item">
						<div class="ml-2">{{ slotProps.item.name }}</div>
					</div>
				</template>p
			</AutoComplete>
		</span>

		<span class="pl-2">
			<AutoComplete
				v-model="selectedSupplier"
				:suggestions="filteredSupplier"
				@complete="searchSupp($event)"
				:dropdown="true"
				field="vendor_name"
				placeholder="Select a Supplier"
				:disabled="suppStatus"
				forceSelection
			>
				<template #item="slotProps">
					<div class="country-item pl-2">
						<div class="mr-2">{{ slotProps.item.vendor_name }}</div>
					</div>
				</template>
			</AutoComplete>
		</span>

		<span class="pl-2">
			<AutoComplete
				v-model="selectedPrNum"
				:suggestions="filteredPrNum"
				@complete="searchPrNum($event)"
				:dropdown="true"
				field="pr_num"
				placeholder="Select a Pr Num"
				forceSelection
			>
				<template #item="slotProps">
					<div class="country-item pl-2">
						<div class="mr-2">{{ slotProps.item.pr_num }}</div>
					</div>
				</template>
			</AutoComplete>
		</span>

		<span class="pl-2">
			<Dropdown
				v-model="selectedJit"
				:options="jitList"
				optionLabel="name"
				optionValue="value"
				placeholder="Select a JIT"
			/>
		</span>

		<span class="pl-2">
			<Button
				label="Search"
				icon="pi pi-search"
				:disabled="searchButtonStatus"
				@click="search()"
			/>
		</span>
		<span class="pl-2">
			<Button
				label="Refresh"
				icon="pi pi-refresh"
				@click="reset()"
				@page="onPage($event)"
			/>
		</span>
	</div>
	<div class="card">
		<DataTable
			:value="reqTableList"
			:paginator="true"
			:rows="10"
			paginatorTemplate="CurrentPageReport FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown"
			:rowsPerPageOptions="[10, 20, 50]"
			responsiveLayout="scroll"
			:totalRecords="1000"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
			@page="onPage($event)"
			v-model:selection="selectedReq"
			selectionMode="multiple"
			dataKey="id"
			:metaKeySelection="false"
			:loading="loading"
			v-model:first="first"
		>
			<template #header>
				<div class="table-header-container">
					<h5 class="{color: black}">OPEN REQUSITION</h5>
				</div>
			</template>
			<Column
				class="call-button-container"
				header="Company"
				field="company"
			></Column>
			<Column
				class="call-button-container"
				header="Supplier"
				field="vendor_name"
			></Column>
			<Column
				class="call-button-container"
				header="PR Number"
				field="pr_num"
			></Column>
			<Column
				class="call-button-container"
				header="Line"
				field="pr_line_num"
			></Column>
			<Column
				class="call-button-container"
				header="Item Number"
				field="item_num"
			></Column>
			<Column
				class="call-button-container"
				header="Item Description"
				field="item_desc"
			></Column>
			<Column
				class="call-button-container"
				header="Qty"
				field="pr_qty"
			></Column>
			<Column
				class="call-button-container"
				header="UOM"
				field="plan_uom"
			></Column>
			<Column
				class="call-button-container"
				header="Currency"
				field="currency"
			></Column>
			<Column
				class="call-button-container"
				header="Need By Date"
				field="need_by_date"
			>
			</Column>
			<Column
				class="call-button-container"
				header="Ship to"
				field="deliver_to_code"
			></Column>
			<Column
				class="call-button-container"
				header="Manufacturer"
				field="manufacturer_id"
			></Column>
		</DataTable>
		<div style="text-align: right" class="pl-8 pt-3">
			<span class="pl-2">
				<Button
					label="Save As Draft"
					icon="pi pi-plus"
					:disabled="draftButtonStatus"
					@click="pushDraftB()"
				/>
			</span>
			<div v-if="saveDraftStatus">
				<Message severity="error"
					>Please Select Company And Supplier First</Message
				>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="pt-4">
			<div class="p-fluid grid">
				<div class="field col-12 md:col-4 pt-2">
					<span class="p-float-label pl-2">
						<InputText
							id="ponum"
							type="text"
							v-model="poDraftNum"
							disabled
						/>
						<label for="ponum">Planning Order No</label>
					</span>
				</div>
				<div class="field col-12 md:col-4">
					<span class="p-float-label pl-2">
						<Calendar
							id="podate"
							v-model="poDraftDate"
							:showIcon="true"
							dateFormat="dd-M-yy"
							:showTime="true"
							:showSeconds="true"
						/>
						<label for="podate">Planning Order Date</label>
					</span>
				</div>
			</div>
			<div class="p-fluid grid">
				<div class="field col-12 md:col-4">
					<span class="p-float-label pl-2">
						<Dropdown
							id="dropdown"
							v-model="poDraftType"
							:options="poTypeList"
							optionLabel="name"
							optionValue="value"
						/>
						<label for="dropdown">Planning Order Type</label>
					</span>
				</div>
				<div class="field col-12 md:col-4">
					<span class="p-float-label pl-2">
						<Calendar
							id="mustdate"
							v-model="draftMustDate"
							:showIcon="true"
							dateFormat="dd-M-yy"
								:showTime="true"
								:showSeconds="true"
						/>
						<label for="mustdate">Must Response Date</label>
					</span>
				</div>
			</div>
		</div>
		<DataTable :value="draftTableList" responsiveLayout="scroll">
			<template #header>
				<div class="table-header-container">
					<h5 class="{color: black}">Draft</h5>
				</div>
			</template>
			<Column
				class="call-button-container"
				header="Company"
				field="company"
			></Column>
			<Column
				class="call-button-container"
				header="Supplier"
				field="vendor_name"
			></Column>
			<Column
				class="call-button-container"
				header="PR Number"
				field="pr_num_and_line"
			></Column>
			<Column
				class="call-button-container"
				header="Item Number"
				field="item_num"
			></Column>
			<Column
				class="call-button-container"
				header="Item Description"
				field="item_desc"
			></Column>
			<Column
				class="call-button-container centered-input"
				header="Qty"
				field="pr_qty"
			>
				<template #body="slotProps">
					<InputText
						type="text"
						v-model="slotProps.data.pr_qty"
						:style="{ width: '150px' }"
						style="text-align: right"
					/>
				</template>
			</Column>
			<Column header="UOM" field="plan_uom">
				<template #body="slotProps">
					<Dropdown
						v-model="slotProps.data.uom"
						:options="uomList"
						optionLabel="unit_of_measure"
						optionValue="unit_of_measure"
					/>
				</template>
			</Column>
			<Column
				class="call-button-container"
				header="Currency"
				field="currency"
			>
				<template #body="slotProps">
					<Dropdown
						v-model="slotProps.data.currency"
						:options="currenciesList"
						optionLabel="currency_code"
						optionValue="currency_code"
					/>
				</template>
			</Column>
			<Column
				class="call-button-container"
				header="Price"
				field="plan_price"
			>
				<template #body="slotProps">
					<InputText
						type="text"
						v-model="slotProps.data.plan_price"
						:style="{ width: '150px' }"
						style="text-align: right"
					/>
				</template>
			</Column>
			<Column
				class="call-button-container"
				header="Budget"
				field="budget_price"
			></Column>
			<Column
				class="call-button-container"
				header="Arrival at Site"
				field="need_by_date"
			>
				<template #body="slotProps">
					<Calendar
						id="needByDate"
						v-model="slotProps.data.need_by_date"
						:style="{ width: '150px' }"
						:showIcon="true"
						dateFormat="dd-M-yy"
								:showTime="true"
								:showSeconds="true"
					/>

					<!-- <Calendar :style="{width:'150px'}" id="buttonbar" v-model="slotProps.data.need_by_date" :showTime="true" :showSeconds="true" /> -->
				</template>
			</Column>
			<Column
				class="call-button-container"
				header="Ship To"
				field="deliver_to_code"
			></Column>
			<Column
				class="call-button-container-200"
				header="Manufacturer"
				field="manufacturer_id"
			>
				<template #body="slotProps">
					<InputText
						type="type"
						v-model="slotProps.data.manufacturer_name"
						:style="{ width: '100px' }"
						disabled
					/>
					<Button
						icon="pi pi-external-link"
						@click="
							openMaximizable(
								slotProps.data.manufacturer_id,
								slotProps.index,
								slotProps.data.asl_id
							)
						"
					/>
				</template>
			</Column>
			<Column class="call-button-container" header="ToP" field="top_name">
            <template #body="slotProps">
					<Dropdown
						v-model="slotProps.data.top_name"
						:options="topValue"
						optionLabel="name"
						optionValue="term_id"
					/>
				</template>
            </Column>
			<Column class="call-button-container" header="Incoterm" field="fob">
				<template #body="slotProps">
					<Dropdown
						v-model="slotProps.data.fob"
						:options="fobList"
						optionLabel="name"
						optionValue="value"
					/>
				</template>
			</Column>
			<Column
				class="call-button-container"
				header="Freight"
				field="freight_terms"
			>
				<template #body="slotProps">
					<Dropdown
						v-model="slotProps.data.freight_terms"
						:options="freightList"
						optionLabel="name"
						optionValue="value"
					/>
				</template>
			</Column>
			<Column
				class="call-button-container"
				header="Note To Supplier"
				field="note_to_supplier"
			>
				<template #body="slotProps">
					<!-- <InputText type="text" v-model="slotProps.data.note_to_supplier" /> -->
					<Textarea
						v-model="slotProps.data.note_to_supplier"
						:autoResize="true"
						rows="2"
						cols="30"
					/>
				</template>
			</Column>
			<Column class="call-button-container" header="Action">
				<template #body="slotProps">
					<!-- <InputText type="text" v-model="slotProps.data.note_to_supplier" /> -->
					<Button
						icon="pi pi-trash"
						class="p-button-rounded p-button-danger mt-2"
						@click="deleteConfirmation(slotProps)"
					/>
				</template>
			</Column>
		</DataTable>
		<div style="text-align: right" class="pl-8 pt-3">
			<span class="pl-2">
				<Button
					label="Submit"
					icon="pi pi-plus"
					:disabled="submitButtonStatus"
					@click="pushSubmit()"
				/>
			</span>
		</div>
	</div>

	<Dialog
		header="Header"
		v-model:visible="displayMaximizable"
		:style="{ width: '80%' }"
		:maximizable="true"
		:modal="true"
	>
		<DataTable
			:value="manufacturerAslList"
			v-model:selection="selectedManufaturer"
			dataKey="manufacturer_id"
			responsiveLayout="scroll"
		>
			<Column selectionMode="single" headerStyle="width: 3em"></Column>
			<Column field="manufacturer_name" header="Name"></Column>
			<Column field="description" header="Description"></Column>
			<Column field="attribute1" header="Address"></Column>
		</DataTable>

		<template #footer>
			<Button
				label="Yes"
				icon="pi pi-check"
				@click="closeMaximizable"
				autofocus
			/>
		</template>
	</Dialog>
</template>

<script>
/* eslint-disable */
import LovService from '../../service/LovService';
import CreatePoService from '../../service/CreatePoService';
import AuthService from '../../service/AuthService';
import SimpleCrypto from 'simple-crypto-js'

export default {
	data() {
		return {
			cost: 0,
			formatLang: 'en-EN',
			formatStyle: 'currency',
			formatCurrency: 'USD',
			first: 0,
			reqTableList: null,
			companyList: null,
			fobList: null,
			freightList: null,
			currenciesList: null,
			uomList: null,
			poTypeList: null,
			filteredCompany: null,
			selectedCompany: null,
			supplierList: null,
			filteredSupplier: null,
			selectedSupplier: null,
			dbName: String,
			jitList: null,
			selectedJit: null,
			prNumList: [],
			manufacturerList: null,
			selectedPrNum: null,
			filteredPrNum: null,
			totalTableRecords: 1000,
			suppStatus: true,
			commStatus: false,
			loading: false,
			selectedReq: null,
			selectedManufaturer: null,
			searchButtonStatus: true,
			submitButtonStatus: true,
			draftButtonStatus: true,
			saveDraftStatus: false,
			draftTableList: [],
			displayMaximizable: false,
			poDraftNum: null,
			poDraftType: null,
			poDraftDate: null,
			draftMustDate: null,
			clickStatus: false,
			manufacturerIdRow: null,
			manufacturerId: null,
			eventPage: null,
			pushStatus: false,
			priceList: {},
			poMaker: null,
			topValue: [],
			senderNotif: null,
			recipientEmail: null,
            userReceiveId: null, //dari tabel spb_is_user bukan spb_usermapping atau cdid_tenant_user
			userSenderId: null,
			manufacturerAslList: null
		};
	},

	watch: {
		selectedCompany(event) {
			this.selectedSupplier = null;
			this.selectedJit = null;
			this.selectedPrNum = null; 
			if (
				typeof event === 'object' &&
				!Array.isArray(event) &&
				event !== null
			) {
				console.log("company Select ",event)
				this.searchButtonStatus = false;
				this.getSuppName(event);
				this.getPrNumCom(event.name);
				this.suppStatus = false;
			} else {
				this.suppStatus = true;
				this.searchButtonStatus = true;
			}
		},
		selectedSupplier(event) {
			this.selectedJit = null;
			this.selectedPrNum = null;
			if (
				typeof event === 'object' &&
				!Array.isArray(event) &&
				event !== null
			) {
				this.searchButtonStatus = false;
				this.getPrNumSup();
			} else {
				// this.searchButtonStatus = true;
				this.draftButtonStatus = true;
			}
		},
		selectedJit() {
			this.searchButtonStatus = false;
		},
		selectedPrNum(event) {
			if (event !== null) {
				this.searchButtonStatus = false;
			} else {
				// this.searchButtonStatus = true;
			}
		},
		draftTableList: {
			handler(newValue) {
				if (newValue !== null) {
					this.submitButtonStatus = false;
				} else {
					this.submitButtonStatus = true;
				}
			},
		},
		// draftMustDate(event) {
		// 	if (event instanceof Date) {
		// 		this.draftMustDate = this.formatDate(this.draftMustDate)[0];
		// 	}
		// },
		// poDraftDate(event) {
		// 	if (event instanceof Date) {
		// 		this.poDraftDate = this.formatDate(this.poDraftDate)[0];
		// 	}
		// },
		priceList: {
			handler(newValue) {
				const entries = Object.entries(newValue);

				entries.forEach((element) => {
                    if(element['1']['plan_price'] != null){
                        element['1']['plan_price'] = element['1']['plan_price']
						.toString()
						.replace(/\D/g, '')
						.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                    }
					
					// if (element['1']['need_by_date'] instanceof Date) {
					// 	element['1']['need_by_date'] = this.formatDate(
					// 		element['1']['need_by_date']
					// 	)[0];
					// 	console.log(
					// 		'need_by_date ',
					// 		element['1']['need_by_date']
					// 	);
					// }
					// if(!this.pushStatus){
					//     var dateParts = element["1"]["need_by_date"].split("/");
					//     // month is 0-based, that's why we need dataParts[1] - 1
					//     var dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]);

					//     element["1"]["need_by_date"] = dateObject.toString();
					// }
				});
			},
			deep: true,
		},
		// selectedReq(event){
		//     console.log("select REQ ", event)
		//     if(event.length>0){
		//         this.draftButtonStatus = false;
		//     } else{
		//         this.draftButtonStatus = true;
		//     }
		// }
	},
	CreatePoService: null,
	// created() {

	// },
	created() {
			this.first = 0;
			this.loading = true;
			this.reqTableList = null;
			this.selectedCompany = null;
			this.selectedSupplier = null;
			this.selectedJit = null;
			this.selectedPrNum = null;
			this.searchButtonStatus = true;

			AuthService.whoAmi().then((resp) => {
						console.log('who: ', resp);
						// console.log("Sender:", resp.data.data.bioemailactive.toString());
						if (resp.status === 200) {
							// CEK EMAIL USERNYA DULU
							this.senderNotif = resp.data.data.bioemailactive;
							console.log(this.senderNotif.toString());

							if (resp.data.data.userid == "dexaadmin") {
								CreatePoService.getCountAll().then((value) => {
									if (value.status === 200) {
										this.reqTableList = Array.from({
											length: value.data.data[0].CNT,
										});
										LovService.getValueType('COMPANY').then((value) => {
											if (value.status === 200) {
												this.companyList = value.data.data;
												CreatePoService.getPageTableFirst(0, 10).then(
													(value) => {
														// let reqTableListTmp = value.data.data[0];
														if (value.data.status === 200) {
															let reqTableListTmp = value.data.data[0];

															for (const tableList of Object.keys(
																	reqTableListTmp
																)) {
																reqTableListTmp[tableList][
																	'need_by_date'
																] = this.formatDate(
																	new Date(
																		reqTableListTmp[tableList][
																			'need_by_date'
																		]
																	)
																)[0];
															}
															//     for(const company of this.companyList){
															//         if(reqTableListTmp[tableList]["org_id"] == company["value"] && reqTableListTmp[tableList]["db_instance"] == company["db_instance"]){
															//             reqTableListTmp[tableList]["company"] = company["name"];
															//         }
															//     }
															// }
															if (
																this.eventPage != null &&
																this.eventPage.first >=
																value.data.data[0].CNT
															) {
																Array.prototype.splice.apply(
																	this.reqTableList,
																	[
																		this.eventPage.first,
																		reqTableListTmp.length,
																	].concat(reqTableListTmp)
																);
															} else {
																Array.prototype.splice.apply(
																	this.reqTableList,
																	[0, reqTableListTmp.length].concat(
																		reqTableListTmp
																	)
																);
															}
															this.loading = false;
														}
													}
												);
											}
										});
									}
								});
							} else {
								LovService.getcompanydb(resp.data.data.bioaddress).then((value) => {
									this.loading = true
									this.companyList = value.data.data;
									try {
										const secretKey = "some-unique-key"
										const simpleCrypto = new SimpleCrypto(secretKey)
										const decipherText = simpleCrypto.decrypt(sessionStorage.getItem("dropdownCompany"))
										this.companyList.forEach(element => {
											if (element.name === decipherText) {
												this.selectedCompany = element;
												let payload = {
													org_id: this.selectedCompany.value,
													db_instance: this.selectedCompany.db_instance,
													first: 0,
													last: 10,
												};
												this.setCompany(payload, true);
												// this.loading = false
												throw 'Break';
											}
										});
									} catch (e) {
										if (e !== 'Break') throw e
									}
									
								})
								
							}
						

						// LovService.getValueType('FOB').then(value => {
						//     this.fobList = value.data.data;
						// });

						// LovService.getValueType('FREIGHT TERMS').then(value => {
						//     this.freightList = value.data.data;
						// });

						LovService.getValueType('TYPE').then((value) => {
							this.jitList = value.data.data;
						});

						LovService.getValueType('PO TYPE').then((value) => {
							this.poTypeList = value.data.data;
							this.poDraftType = this.poTypeList[0].name;
						});

						// CreatePoService.getAllCurrencies().then(value => {
						//     this.currenciesList = value.data.data;
						// });

						// CreatePoService.getAllUom().then(value => {
						//     this.uomList = value.data.data;
						// });

						

						CreatePoService.getAllPrnumber().then((value) => {
							this.prNumList = value.data.data;
						});
						this.loading = false;
					}
				});
			},
	methods: {
		pad2(n) {
			return (n < 10 ? '0' : '') + n;
		},
		formatDate(date) {
			var month = this.pad2(date.getMonth() + 1); //months (0-11)
			var day = this.pad2(date.getDate()); //day (1-31)
			var year;
			if (date.getFullYear() < 0) {
				year = date.getFullYear() * -1;
			} else {
				year = date.getFullYear();
			}
			var combinedNeedDate = new Date(month + '/' + day + '/' + year +' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds());
			console.log("combinedNeedDate ", combinedNeedDate)
			let formattedDate = [];
			formattedDate[0] =
				combinedNeedDate.getDate() +
				'-' +
				combinedNeedDate.toString().substr(4, 3) +
				'-' +
				combinedNeedDate.getFullYear()+' '+this.pad2(combinedNeedDate.getHours())+':'+this.pad2(date.getMinutes())+':'+this.pad2(date.getSeconds()); 
			formattedDate[1] =
				combinedNeedDate.getMonth() +
				1 +
				'/' +
				combinedNeedDate.getDate() +
				'/' +
				combinedNeedDate.getFullYear() +' '+this.pad2(combinedNeedDate.getHours())+':'+this.pad2(date.getMinutes())+':'+this.pad2(date.getSeconds());
			
			return formattedDate;
		},
		reset() {
			this.first = 0;
			this.loading = true;
			this.reqTableList = null;
			this.selectedCompany = null;
			this.selectedSupplier = null;
			this.selectedJit = null;
			this.selectedPrNum = null;
			this.searchButtonStatus = true;
			this.draftTableList = [];

			CreatePoService.getCountAll().then((value) => {
				if (value.status === 200) {
					this.reqTableList = Array.from({
						length: value.data.data[0].CNT,
					});
					LovService.getValueType('COMPANY').then((value) => {
						this.companyList = value.data.data;
					});

					LovService.getValueType('TYPE').then((value) => {
						this.jitList = value.data.data;
					});

					CreatePoService.getPageTableFirst(0, 10).then((value) => {
						if (value.data.status === 200) {
							let reqTableListTmp = value.data.data[0];

							for (const tableList of Object.keys(
								reqTableListTmp
							)) {
								reqTableListTmp[tableList]['need_by_date'] =
									this.formatDate(
										new Date(
											reqTableListTmp[tableList][
												'need_by_date'
											]
										)
									)[0];
							}

							//     for(const company of this.companyList){
							//         if(reqTableListTmp[tableList]["org_id"] == company["value"] && reqTableListTmp[tableList]["db_instance"] == company["db_instance"]){
							//             reqTableListTmp[tableList]["company"] = company["name"];
							//         }
							//     }
							// }
							if (
								this.eventPage != null &&
								this.eventPage.first >= value.data.data[0].CNT
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										this.eventPage.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
							this.loading = false;
						}
					});

					CreatePoService.getAllPrnumber().then((value) => {
						this.prNumList = value.data.data;
					});
					this.loading = false;
				}
			});
		},
		setCompany(payload) {
			CreatePoService.countComSupp(payload).then((value) => {
				if (value.status === 200) {
					this.reqTableList = Array.from({
						length: value.data.data[0][0].CNT,
					});
				}
			});

			CreatePoService.searchCompany(payload).then((value) => {
				let reqTableListTmp = value.data.data[0];
				if (value.data.status === 200) {
					for (const tableList of reqTableListTmp) {
						for (const company of this.companyList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							if (
								tableList['org_id'] == company['value'] &&
								tableList['db_instance'] ==
									company['db_instance']
							) {
								tableList['company'] = company['name'];
							}
						}
					}
					if (
						this.eventPage != null &&
						this.eventPage.first >= payload.first
					) {
						Array.prototype.splice.apply(
							this.reqTableList,
							[payload.first, reqTableListTmp.length].concat(
								reqTableListTmp
							)
						);
					} else {
						Array.prototype.splice.apply(
							this.reqTableList,
							[0, reqTableListTmp.length].concat(reqTableListTmp)
						);
					}
					this.commStatus = true;
					CreatePoService.searchCompanyPrNum(payload).then(
						(value) => {
							this.prNumList = value.data.data[0];
						}
					);
				}
			});

			this.loading = false;
		},
		setSupplier(payload) {
            this.loading = true;
			CreatePoService.countSupplier(payload).then((value) => {
				var length = value.data.data[0][0].CNT;
                console.log("Length ", length)
				if (value.status === 200 && length > 10) {
					this.reqTableList = Array.from({ length: length });
					CreatePoService.searchSupplier(payload).then((value) => {
						let reqTableListTmp = value.data.data[0];

						if (value.data.status === 200) {
							for (const tableList of reqTableListTmp) {
								tableList['need_by_date'] = this.formatDate(
									new Date(tableList['need_by_date'])
								)[0];
								for (const company of this.companyList) {
									if (
										tableList['org_id'] ==
											company['value'] &&
										tableList['db_instance'] ==
											company['db_instance']
									) {
										tableList['company'] = company['name'];
									}
								}
							}
							if (
								this.eventPage != null &&
								this.eventPage.first >= payload.first
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										payload.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
                            console.log("payload ", payload)
							CreatePoService.searchSupplierPrNum(payload).then(
								(value) => {
									this.prNumList = value.data.data[0];
								}
							);
						}
					});
					this.loading = false;
				} else if (value.data.status === 200) {
					CreatePoService.searchSupplier(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}
						CreatePoService.searchSupplierPrNum(payload).then(
							(value) => {
								this.prNumList = value.data.data[0];
							}
						);
						this.loading = false;
					});
				}
			});

			CreatePoService.getDraftComSupp(payload).then((resp) => {
				if (resp.status === 200) {
					this.draftTableList = resp.data.data;
					this.draftTableList.forEach((element) => {
                        if(element['plan_price'] != null){
                            element['plan_price'] = element['plan_price']
							.toString()
							.replace(/\D/g, '')
							.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                        }
						
                        if(element['need_by_date'] != null){
                            element['need_by_date'] = this.formatDate(
							new Date(element['need_by_date'])
						    )[0];
                        }
						
						element['pr_num_and_line'] =
							element['pr_num'] + '/' + element['pr_line_num'];
						let top = this.topValue.find(
							(x) => x.term_id === element['terms_id']
						);
						// let tops = this.topValue.indexOf(top);
						// element["top_name"] = tops.name
						element['top_name'] = this.topValue.find(
							(value) => value?.term_id == element['terms_id']
						)?.name;
						console.log('element[top_name]', element['top_name']);
						// console.log("element[tops]", tops)
						console.log('element[top]', top);
					});

					this.priceList = { ...this.draftTableList };
				}
			});
		},
		setSupplierJit(payload) {
			CreatePoService.countSupplierJit(payload).then((value) => {
				var length = value.data.data[0][0].CNT;

				if (value.status === 200 && length > 10) {
					this.reqTableList = Array.from({ length: length });
					CreatePoService.searchSupplierJit(payload).then((value) => {
						let reqTableListTmp = value.data.data[0];

						if (value.data.status === 200) {
							for (const tableList of reqTableListTmp) {
								tableList['need_by_date'] = this.formatDate(
									new Date(tableList['need_by_date'])
								)[0];
								for (const company of this.companyList) {
									if (
										tableList['org_id'] ==
											company['value'] &&
										tableList['db_instance'] ==
											company['db_instance']
									) {
										tableList['company'] = company['name'];
									}
								}
							}
							if (
								this.eventPage != null &&
								this.eventPage.first >= payload.first
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										payload.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
							CreatePoService.searchSupplierJitPrNum(
								payload
							).then((value) => {
								this.prNumList = value.data.data[0];
							});
						}
					});
					this.loading = false;
				} else if (value.data.status === 200) {
					CreatePoService.searchSupplierJit(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}
						CreatePoService.searchSupplierJitPrNum(payload).then(
							(value) => {
								this.prNumList = value.data.data[0];
							}
						);
						this.loading = false;
					});
				}
			});

            CreatePoService.getDraftComSuppJit(payload).then((resp) => {
				if (resp.status === 200) {
					this.draftTableList = resp.data.data;
					this.draftTableList.forEach((element) => {
						element['plan_price'] = element['plan_price']
							.toString()
							.replace(/\D/g, '')
							.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
						element['need_by_date'] = this.formatDate(
							new Date(element['need_by_date'])
						)[0];
						element['pr_num_and_line'] =
							element['pr_num'] + '/' + element['pr_line_num'];
						let top = this.topValue.find(
							(x) => x.term_id === element['terms_id']
						);
						// let tops = this.topValue.indexOf(top);
						// element["top_name"] = tops.name
						element['top_name'] = this.topValue.find(
							(value) => value?.term_id == element['terms_id']
						)?.name;
						console.log('element[top_name]', element['top_name']);
						// console.log("element[tops]", tops)
						console.log('element[top]', top);
					});

					this.priceList = { ...this.draftTableList };
				}
			});
		},
		searchAll(payload) {
			CreatePoService.countAll(payload).then((value) => {
				var length = value.data.data[0][0].CNT;
				if (value.status === 200 && length > 10) {
					this.reqTableList = Array.from({ length: length });
					CreatePoService.searchAll(payload).then((value) => {
						let reqTableListTmp = value.data.data[0];

						if (value.data.status === 200) {
							for (const tableList of reqTableListTmp) {
								tableList['need_by_date'] = this.formatDate(
									new Date(tableList['need_by_date'])
								)[0];
								for (const company of this.companyList) {
									if (
										tableList['org_id'] ==
											company['value'] &&
										tableList['db_instance'] ==
											company['db_instance']
									) {
										tableList['company'] = company['name'];
									}
								}
							}
							if (
								this.eventPage != null &&
								this.eventPage.first >= payload.first
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										payload.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
							CreatePoService.searchAllPrNum(payload).then(
								(value) => {
									this.prNumList = value.data.data[0];
								}
							);
						}
					});
					this.loading = false;
				} else if (value.data.status === 200) {
					CreatePoService.searchAll(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}
						CreatePoService.searchAllPrNum(payload).then(
							(value) => {
								this.prNumList = value.data.data[0];
							}
						);
						this.loading = false;
					});
				}
			});

            CreatePoService.getDraftComSuppPrJit(payload).then((resp) => {
				if (resp.status === 200) {
					this.draftTableList = resp.data.data;
					this.draftTableList.forEach((element) => {
						element['plan_price'] = element['plan_price']
							.toString()
							.replace(/\D/g, '')
							.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
						element['need_by_date'] = this.formatDate(
							new Date(element['need_by_date'])
						)[0];
						element['pr_num_and_line'] =
							element['pr_num'] + '/' + element['pr_line_num'];
						let top = this.topValue.find(
							(x) => x.term_id === element['terms_id']
						);
						// let tops = this.topValue.indexOf(top);
						// element["top_name"] = tops.name
						element['top_name'] = this.topValue.find(
							(value) => value?.term_id == element['terms_id']
						)?.name;
						console.log('element[top_name]', element['top_name']);
						// console.log("element[tops]", tops)
						console.log('element[top]', top);
					});

					this.priceList = { ...this.draftTableList };
				}
			});
		},
		setComSupJit(payload) {
			CreatePoService.countComSupJit(payload).then((value) => {
				var length = value.data.data[0][0].CNT;
				if (value.status === 200 && length > 10) {
					this.reqTableList = Array.from({ length: length });
					CreatePoService.searchComSupJit(payload).then((value) => {
						let reqTableListTmp = value.data.data[0];

						if (value.data.status === 200) {
							for (const tableList of reqTableListTmp) {
								tableList['need_by_date'] = this.formatDate(
									new Date(tableList['need_by_date'])
								)[0];
								for (const company of this.companyList) {
									if (
										tableList['org_id'] ==
											company['value'] &&
										tableList['db_instance'] ==
											company['db_instance']
									) {
										tableList['company'] = company['name'];
									}
								}
							}
							if (
								this.eventPage != null &&
								this.eventPage.first >= payload.first
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										payload.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
						}
					});
					this.loading = false;
				} else if (value.data.status === 200) {
					CreatePoService.searchComSupJit(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}

						this.loading = false;
					});
				}
			});

            CreatePoService.getDraftComSuppPr(payload).then((resp) => {
				if (resp.status === 200) {
					this.draftTableList = resp.data.data;
					this.draftTableList.forEach((element) => {
						if (element['plan_price'] != null) {
							element['plan_price'] = element['plan_price']
							.toString()
							.replace(/\D/g, '')
							.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
						}
						element['need_by_date'] = this.formatDate(
							new Date(element['need_by_date'])
						)[0];
						element['pr_num_and_line'] =
							element['pr_num'] + '/' + element['pr_line_num'];
						let top = this.topValue.find(
							(x) => x.term_id === element['terms_id']
						);
						// let tops = this.topValue.indexOf(top);
						// element["top_name"] = tops.name
						element['top_name'] = this.topValue.find(
							(value) => value?.term_id == element['terms_id']
						)?.name;
						console.log('element[top_name]', element['top_name']);
						// console.log("element[tops]", tops)
						console.log('element[top]', top);
					});

					this.priceList = { ...this.draftTableList };
				}
			});
		},
		setCommPr(payload) {
			CreatePoService.countCommPr(payload).then((value) => {
				var length = value.data.data[0][0].CNT;
				if (value.status === 200 && length > 10) {
					this.reqTableList = Array.from({ length: length });
					CreatePoService.searchCommPr(payload).then((value) => {
						let reqTableListTmp = value.data.data[0];

						if (value.data.status === 200) {
							for (const tableList of reqTableListTmp) {
								tableList['need_by_date'] = this.formatDate(
									new Date(tableList['need_by_date'])
								)[0];
								for (const company of this.companyList) {
									if (
										tableList['org_id'] ==
											company['value'] &&
										tableList['db_instance'] ==
											company['db_instance']
									) {
										tableList['company'] = company['name'];
									}
								}
							}
							if (
								this.eventPage != null &&
								this.eventPage.first >= payload.first
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										payload.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
						}
						this.loading = false;
					});
				} else if (value.data.status === 200) {
					CreatePoService.searchCommPr(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}
						this.loading = false;
					});
				}
			});

            
		},
		setCommJit(payload) {
			CreatePoService.countCommJit(payload).then((value) => {
				var length = value.data.data[0][0].CNT;
				if (value.status === 200 && length > 10) {
					this.reqTableList = Array.from({ length: length });
					CreatePoService.searchCommJit(payload).then((value) => {
						let reqTableListTmp = value.data.data[0];

						if (value.data.status === 200) {
							for (const tableList of reqTableListTmp) {
								tableList['need_by_date'] = this.formatDate(
									new Date(tableList['need_by_date'])
								)[0];
								for (const company of this.companyList) {
									if (
										tableList['org_id'] ==
											company['value'] &&
										tableList['db_instance'] ==
											company['db_instance']
									) {
										tableList['company'] = company['name'];
									}
								}
							}
							if (
								this.eventPage != null &&
								this.eventPage.first >= payload.first
							) {
								Array.prototype.splice.apply(
									this.reqTableList,
									[
										payload.first,
										reqTableListTmp.length,
									].concat(reqTableListTmp)
								);
							} else {
								Array.prototype.splice.apply(
									this.reqTableList,
									[0, reqTableListTmp.length].concat(
										reqTableListTmp
									)
								);
							}
						}
					});
					this.loading = false;
				} else if (value.data.status === 200) {
					CreatePoService.searchCommJit(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}

						this.loading = false;
					});
				}
				CreatePoService.searchCommJitPrNum(payload).then((value) => {
					this.prNumList = value.data.data[0];
				});
			});
		},
		setJit(payload) {
			var length;
			CreatePoService.countTableJitAll(payload).then((value) => {
				if (value.status === 200) {
					length = value.data.data[0][0].CNT;
					this.reqTableList = Array.from({
						length: value.data.data[0][0].CNT,
					});
				}
			});
			CreatePoService.searchJit(payload).then((value) => {
				let reqTableListTmp = value.data.data[0];
				if (value.data.status === 200 && length > 10) {
					for (const tableList of reqTableListTmp) {
						tableList['need_by_date'] = this.formatDate(
							new Date(tableList['need_by_date'])
						)[0];
						for (const company of this.companyList) {
							if (
								tableList['org_id'] == company['value'] &&
								tableList['db_instance'] ==
									company['db_instance']
							) {
								tableList['company'] = company['name'];
							}
						}
					}
					if (
						this.eventPage != null &&
						this.eventPage.first >= payload.first
					) {
						Array.prototype.splice.apply(
							this.reqTableList,
							[payload.first, reqTableListTmp.length].concat(
								reqTableListTmp
							)
						);
					} else {
						Array.prototype.splice.apply(
							this.reqTableList,
							[0, reqTableListTmp.length].concat(reqTableListTmp)
						);
					}
					CreatePoService.searchJitPrNum(payload).then((value) => {
						this.prNumList = value.data.data[0];
					});
				} else if (value.data.status === 200) {
					CreatePoService.searchJit(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}

						this.loading = false;
					});
				}
				CreatePoService.searchCommJitPrNum(payload).then((value) => {
					this.prNumList = value.data.data[0];
				});
			});

			this.loading = false;
		},
		setPrNum(payload) {
			var length;
			CreatePoService.countTablePrNum(payload).then((value) => {
				if (value.status === 200) {
					length = value.data.data[0][0].CNT;
					this.reqTableList = Array.from({
						length: value.data.data[0][0].CNT,
					});
				}
			});
			CreatePoService.searchPrNum(payload).then((value) => {
				let reqTableListTmp = value.data.data[0];
				if (value.data.status === 200 && length > 10) {
					for (const tableList of reqTableListTmp) {
						tableList['need_by_date'] = this.formatDate(
							new Date(tableList['need_by_date'])
						)[0];
						for (const company of this.companyList) {
							if (
								tableList['org_id'] == company['value'] &&
								tableList['db_instance'] ==
									company['db_instance']
							) {
								tableList['company'] = company['name'];
							}
						}
					}
					if (
						this.eventPage != null &&
						this.eventPage.first >= payload.first
					) {
						Array.prototype.splice.apply(
							this.reqTableList,
							[payload.first, reqTableListTmp.length].concat(
								reqTableListTmp
							)
						);
					} else {
						Array.prototype.splice.apply(
							this.reqTableList,
							[0, reqTableListTmp.length].concat(reqTableListTmp)
						);
					}
				} else if (value.data.status === 200) {
					CreatePoService.searchPrNum(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}

						this.loading = false;
					});
				}
			});

			this.loading = false;
		},
		setJitPrNum(payload) {
			var length;
			CreatePoService.countTableJitPrNum(payload).then((value) => {
				if (value.status === 200) {
					length = value.data.data[0][0].CNT;
					this.reqTableList = Array.from({
						length: value.data.data[0][0].CNT,
					});
				}
			});
			CreatePoService.searchJitPrNumCom(payload).then((value) => {
				let reqTableListTmp = value.data.data[0];
				if (value.data.status === 200 && length > 10) {
					for (const tableList of reqTableListTmp) {
						tableList['need_by_date'] = this.formatDate(
							new Date(tableList['need_by_date'])
						)[0];
						for (const company of this.companyList) {
							if (
								tableList['org_id'] == company['value'] &&
								tableList['db_instance'] ==
									company['db_instance']
							) {
								tableList['company'] = company['name'];
							}
						}
					}
					if (
						this.eventPage != null &&
						this.eventPage.first >= payload.first
					) {
						Array.prototype.splice.apply(
							this.reqTableList,
							[payload.first, reqTableListTmp.length].concat(
								reqTableListTmp
							)
						);
					} else {
						Array.prototype.splice.apply(
							this.reqTableList,
							[0, reqTableListTmp.length].concat(reqTableListTmp)
						);
					}
				} else if (value.data.status === 200) {
					CreatePoService.searchJitPrNumCom(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}

						this.loading = false;
					});
				}
			});

			this.loading = false;
		},
		setComJitPrNum(payload) {
			var length;
			CreatePoService.countTableComJitPrNum(payload).then((value) => {
				if (value.status === 200) {
					length = value.data.data[0][0].CNT;
					this.reqTableList = Array.from({
						length: value.data.data[0][0].CNT,
					});
				}
			});
			CreatePoService.searchComJitPrNum(payload).then((value) => {
				let reqTableListTmp = value.data.data[0];
				if (value.data.status === 200 && length > 10) {
					for (const tableList of reqTableListTmp) {
						tableList['need_by_date'] = this.formatDate(
							new Date(tableList['need_by_date'])
						)[0];
						for (const company of this.companyList) {
							if (
								tableList['org_id'] == company['value'] &&
								tableList['db_instance'] ==
									company['db_instance']
							) {
								tableList['company'] = company['name'];
							}
						}
					}
					if (
						this.eventPage != null &&
						this.eventPage.first >= payload.first
					) {
						Array.prototype.splice.apply(
							this.reqTableList,
							[payload.first, reqTableListTmp.length].concat(
								reqTableListTmp
							)
						);
					} else {
						Array.prototype.splice.apply(
							this.reqTableList,
							[0, reqTableListTmp.length].concat(reqTableListTmp)
						);
					}
				} else if (value.data.status === 200) {
					CreatePoService.searchComJitPrNum(payload).then((value) => {
						this.reqTableList = value.data.data[0];

						for (const tableList of this.reqTableList) {
							tableList['need_by_date'] = this.formatDate(
								new Date(tableList['need_by_date'])
							)[0];
							for (const company of this.companyList) {
								if (
									tableList['org_id'] == company['value'] &&
									tableList['db_instance'] ==
										company['db_instance']
								) {
									tableList['company'] = company['name'];
								}
							}
						}

						this.loading = false;
					});
				}
			});

			this.loading = false;
		},
		search() {
            console.log("search ", this.selectedCompany, this.selectedSupplier, this.selectedJit, this.selectedPrNum)
            console.log("type pr_num ", typeof this.selectedPrNum)
			this.first = 0;
			this.draftButtonStatus = false;
			this.draftTableList = null;
			this.selectedReq = null;
			LovService.getTop(this.selectedCompany.db_instance).then((resp) => {
				if (resp.data.status === 200) {
					this.topValue = resp.data.data;
				}
			});
			LovService.getFob(this.selectedCompany.db_instance).then((resp) => {
				if (resp.data.status === 200) {
					this.fobList = resp.data.data;
				}
			});
			LovService.getFreight(this.selectedCompany.db_instance).then(
				(resp) => {
					if (resp.data.status === 200) {
						this.freightList = resp.data.data;
					}
				}
			);
			CreatePoService.getAllCurrencies(
				this.selectedCompany.db_instance
			).then((value) => {
				this.currenciesList = value.data.data;
			});

			CreatePoService.getAllUom(this.selectedCompany.db_instance).then(
				(value) => {
					this.uomList = value.data.data;
				}
			);
			if (
				this.selectedCompany !== null &&
				this.selectedSupplier === null &&
				this.selectedJit === null &&
				this.selectedPrNum === null
			) {
				this.loading = true;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					first: 0,
					last: 10,
				};

				this.setCompany(payload, true);
				this.generateDraftHead();
			} else if (
				this.selectedCompany != null &&
				this.selectedSupplier != null &&
				this.selectedJit == null &&
				(this.selectedPrNum == null || this.selectedPrNum.length > 0 || typeof this.selectedPrNum == 'string') 
			) {
                console.log("masuk supp")
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					vendor_id: this.selectedSupplier.vendor_id,
					first: 0,
					last: 10,
				};
				this.userReceiveId = this.selectedSupplier.vendor_id
				this.setSupplier(payload);
				this.getManufacturerVendor(this.selectedSupplier.vendor_id);
				this.generateDraftHead();
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit !== null &&
				this.selectedPrNum === null
			) {
                console.log("masuk supp jit")
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					jit_flag: this.selectedJit,
					first: 0,
					last: 10,
				};

				this.setSupplierJit(payload);
				this.getManufacturerVendor(this.selectedSupplier.vendor_id);
				this.generateDraftHead();
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit !== null &&
				this.selectedPrNum !== null
			) {
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					jit_flag: this.selectedJit,
					pr_num: this.selectedPrNum.pr_num,
					first: 0,
					last: 10,
				};
				this.searchAll(payload);
				this.getManufacturerVendor(this.selectedSupplier.vendor_id);
				this.generateDraftHead();
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit === null &&
				this.selectedPrNum !== null
			) {
                console.log("masuk pr_num")
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					pr_num: this.selectedPrNum.pr_num,
					first: 0,
					last: 10,
				};
				this.setComSupJit(payload);
				this.getManufacturerVendor(this.selectedSupplier.vendor_id);
				this.generateDraftHead();
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier === null &&
				this.selectedJit === null &&
				this.selectedPrNum !== null
			) {
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					pr_num: this.selectedPrNum.pr_num,
					first: 0,
					last: 10,
				};
				this.setCommPr(payload);
				this.generateDraftHead();
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier === null &&
				this.selectedJit !== null &&
				this.selectedPrNum === null
			) {
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					jit_flag: this.selectedJit,
					first: 0,
					last: 10,
				};

				this.setCommJit(payload);
				this.generateDraftHead();
			} else if (
				this.selectedJit !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany === null &&
				this.selectedPrNum === null
			) {
				let payload = {
					jit_flag: this.selectedJit,
					first: 0,
					last: 10,
				};

				this.setJit(payload);
				this.generateDraftHead();
			} else if (
				this.selectedPrNum !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany === null &&
				this.selectedJit === null
			) {
				let payload = {
					pr_num: this.selectedPrNum.pr_num,
					first: 0,
					last: 10,
				};
				this.setPrNum(payload);
				this.generateDraftHead();
			} else if (
				this.selectedPrNum !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany === null &&
				this.selectedJit !== null
			) {
				let payload = {
					pr_num: this.selectedPrNum.pr_num,
					jit_flag: this.selectedJit,
					first: 0,
					last: 10,
				};
				this.setJitPrNum(payload);
				this.generateDraftHead();
			} else if (
				this.selectedPrNum !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany !== null &&
				this.selectedJit !== null
			) {
				let payload = {
					pr_num: this.selectedPrNum.pr_num,
					jit_flag: this.selectedJit,
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					first: 0,
					last: 10,
				};
				this.setComJitPrNum(payload);
				this.generateDraftHead();
			}
		},
		onPage(event) {
			console.log("karena onPage");
            console.log("search ", this.selectedCompany, this.selectedSupplier, this.selectedJit, this.selectedPrNum)
			this.eventPage = event;
			this.loading = true;
			if (
				this.selectedCompany !== null &&
				this.selectedSupplier === null &&
				this.selectedJit === null &&
				this.selectedPrNum === null
			) {
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					first: event.first,
					last: event.rows,
				};
				this.setCompany(payload);
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit === null &&
				this.selectedPrNum === null
			) {
				let payloadMore = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					vendor_id: this.selectedSupplier.vendor_id,
					first: event.first,
					last: event.rows,
				};
				this.setSupplier(payloadMore);
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit !== null &&
				this.selectedPrNum === null
			) {
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					jit_flag: this.selectedJit,
					first: this.eventPage.first,
					last: this.eventPage.rows,
				};
				this.setSupplierJit(payload);
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit === null &&
				this.selectedPrNum !== null
			) {
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					pr_num: this.selectedPrNum.pr_num,
					first: this.eventPage.first,
					last: this.eventPage.rows,
				};
				this.setComSupJit(payload);
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier !== null &&
				this.selectedJit !== null &&
				this.selectedPrNum !== null
			) {
				this.loading = true;
				this.reqTableList = null;
				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					vendor_name: this.selectedSupplier.vendor_name,
					jit_flag: this.selectedJit,
					pr_num: this.selectedPrNum.pr_num,
					first: this.eventPage.first,
					last: this.eventPage.rows,
				};
				this.searchAll(payload);
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier === null &&
				this.selectedJit === null &&
				this.selectedPrNum !== null
			) {
				this.loading = true;
				this.reqTableList = null;

				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					pr_num: this.selectedPrNum.pr_num,
					first: event.first,
					last: event.rows,
				};
				this.setCommPr(payload);
			} else if (
				this.selectedCompany !== null &&
				this.selectedSupplier === null &&
				this.selectedJit !== null &&
				this.selectedPrNum === null
			) {
				this.loading = true;
				this.reqTableList = null;

				let payload = {
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					jit_flag: this.selectedJit,
					first: event.first,
					last: event.rows,
				};
				this.setCommJit(payload);
			} else if (
				this.selectedJit !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany === null &&
				this.selectedPrNum === null
			) {
				let payload = {
					jit_flag: this.selectedJit,
					first: event.first,
					last: event.rows,
				};
				this.setJit(payload);
			} else if (
				this.selectedPrNum !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany === null &&
				this.selectedJit === null
			) {
				let payload = {
					pr_num: this.selectedPrNum.pr_num,
					first: event.first,
					last: event.rows,
				};
				this.setPrNum(payload);
			} else if (
				this.selectedPrNum !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany === null &&
				this.selectedJit !== null
			) {
				let payload = {
					pr_num: this.selectedPrNum.pr_num,
					jit_flag: this.selectedJit,
					first: event.first,
					last: event.rows,
				};
				this.setJitPrNum(payload);
			} else if (
				this.selectedPrNum !== null &&
				this.selectedSupplier === null &&
				this.selectedCompany !== null &&
				this.selectedJit !== null
			) {
				let payload = {
					pr_num: this.selectedPrNum.pr_num,
					jit_flag: this.selectedJit,
					org_id: this.selectedCompany.value,
					db_instance: this.selectedCompany.db_instance,
					first: event.first,
					last: event.rows,
				};
				this.setComJitPrNum(payload);
			} else {
				CreatePoService.getPageTableFirst(event.first, event.rows).then(
					(value) => {
						if (value.data.status === 200) {
							let reqTableListTmp = value.data.data[0];
							for (const tableList of Object.keys(
								reqTableListTmp
							)) {
								reqTableListTmp[tableList]['need_by_date'] =
									this.formatDate(
										new Date(
											reqTableListTmp[tableList][
												'need_by_date'
											]
										)
									)[0];
							}
							Array.prototype.splice.apply(
								this.reqTableList,
								[event.first, reqTableListTmp.length].concat(
									reqTableListTmp
								)
							);
							this.loading = false;
						}
					}
				);
			}
		},
		searchCountry(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredCompany = [...this.companyList];
				} else {
					this.filteredCompany = this.companyList.filter(
						(company) => {
							return company.name
								.toLowerCase()
								.match(event.query.toLowerCase());
						}
					);
				}
			}, 250);
		},
		searchSupp(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredSupplier = [...this.supplierList];
				} else {
					this.filteredSupplier = this.supplierList.filter(
						(supplier) => {
							if (supplier.vendor_name !== null) {
								return supplier.vendor_name
									.toLowerCase()
									.match(event.query.toLowerCase());
							}
						}
					);
				}
			}, 250);
		},
		searchPrNum(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPrNum = [...this.prNumList];
				} else {
					this.filteredPrNum = this.prNumList.filter((prNum) => {
						return prNum.pr_num
							.toString()
							.toLowerCase()
							.match(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		// getSupp(event){
		//     LovService.getDbName(event).then((orgall) => {
		//         if(orgall.data.status === 200) {
		//             this.dbName = JSON.stringify(orgall.data.data[0]["db_instance"]);
		//             this.dbName = this.dbName.replace(/"/g, '');
		//             this.getSuppName(this.dbName);
		//         }
		//     });
		// },
		getSuppName(event) {
			let payload = {
				db_instance: event.db_instance,
				org_id: event.value,
			};
			LovService.getSupplierName(payload).then((orgall) => {
				this.supplierList = orgall.data.data;
			});
		},

		getPrNumCom() {
			CreatePoService.getCommPrnumber(this.selectedCompany.value).then(
				(value) => {
					this.prNumList = value.data.data;
				}
			);
		},
		getPrNumSup() {
			let payloadMore = {
				org_id: this.selectedCompany.value,
				db_instance: this.selectedCompany.db_instance,
				vendor_name: this.selectedSupplier.vendor_name,
				vendor_id: this.selectedSupplier.vendor_id,
				first: 0,
				last: 10,
			};
			CreatePoService.searchSupplierPrNum(payloadMore).then((value) => {
				this.prNumList = value.data.data[0];
			});
		},
		deleteItem() {
			for (var i = 0; i < this.selectedReq.length; i++) {
				const index = this.reqTableList.indexOf(this.selectedReq[i]);
				this.reqTableList.splice(index, 1);
			}
		},
		deleteConfirmation(slotProps) {
			CreatePoService.deleteSaveDraft(slotProps.data);

			// Array.prototype.push.apply(this.reqTableList,slotProps.data)

			// this.draftTableList = [...this.reqTableList,...this.draftTableList]
			this.reqTableList.push(slotProps.data);
			this.draftTableList.splice(slotProps.index, 1);
		},
		pushDraftB() {
			AuthService.whoAmi().then(async(resp) => {
				if (resp.status === 200) {
					if (
						this.selectedCompany !== null &&
						this.selectedSupplier !== null &&
						this.selectedReq !== null &&
						!this.clickStatus
					) {
						this.saveDraftStatus = false;
						this.clickStatus = true;
						LovService.getDetailValue(
							this.selectedCompany.name
						).then((value) => {
							if (value.status === 200) {
								this.generateDraftHead();
							}
						});

						let select = this.selectedReq;
						for (const reqData of select) {
							delete reqData['resv_1'];
							delete reqData['resv_2'];
							reqData['plan_order_date'] =
								new Date().toLocaleDateString('en-US');
							reqData['response_date'] =
								new Date().toLocaleDateString('en-US');
							// reqData['manufacturer_name'] = this.getManValue(reqData['manufacturer_id']);
							reqData['pr_num_and_line'] =
								reqData['pr_num'] +
								'/' +
								reqData['pr_line_num'];
							reqData['top_name'] = this.topValue.find(
								(value) => value?.term_id == reqData['terms_id']
							)?.name;
							reqData['need_by_date'] = this.formatDate(
								new Date(reqData['need_by_date'])
							)[1];
						}

						let payload = { select };
                        // console.log('liat isi payload draft::', payload)
						CreatePoService.pushDraft(payload).then((resp) => {
							if (resp.status === 200) {
								for (const reqData of select) {
									reqData['need_by_date'] = this.formatDate(
										new Date(reqData['need_by_date'])
									)[0];
								}
								if (this.draftTableList !== null) {
									Array.prototype.push.apply(
										this.draftTableList,
										select
									);
									// this.draftTableList = [...this.draftTableList,...select]
								} else {
									this.draftTableList = select;
								}

								this.deleteItem();
								select = null;
								this.selectedReq = null;
								this.priceList = { ...this.draftTableList };
							}
							// this.display = false;/,
						});
						this.clickStatus = false;
					} else {
						this.saveDraftStatus = true;
					}
				}
			});
		},
		addZeroValue(value, limit) {
			while (value.length < limit) {
				value = '0' + value;
			}
			return value;
		},
		generateDraftHead() {
			CreatePoService.getLastSeq(this.selectedCompany.value).then(
				(resp) => {
					var planningOrderNoSeq;
					planningOrderNoSeq = (
						resp.data.data[0][0].seq + 1
					).toString();

					this.poMaker = [];
					this.poMaker.push(this.selectedCompany);
					// this.poDraftNum = this.selectedCompany.code+"22"+planningOrderNoSeq;

					var date = new Date();
					this.poDraftNum =
						this.selectedCompany.code +
						'' +
						this.addZeroValue(new String(date.getMonth() + 1), 2) +
						'' +
						new String(date.getFullYear()).slice(-2) +
						'' +
						this.addZeroValue(planningOrderNoSeq, 6);

					this.poDraftDate = new Date();

					this.draftMustDate = new Date(
						new Date().getTime() + 2 * 24 * 60 * 60 * 1000
					);
				}
			);
		},
		pushSubmit() {
			var pushSubmit = true;
			this.pushStatus = true;
			let user = this.draftTableList;
			var lineId;
			this.takePOsender = [];
			this.poMaker.forEach((element) => {
				this.takePOsender.push(element.name);
			});
			AuthService.whoAmi().then(resp => {
				if (resp.status === 200) {
					this.userSenderId = resp.data.data.id
					CreatePoService.getLastPlannoLineId().then(async (orgall) => {
						lineId = orgall.data.data[0].plan_order_line_id;
						if (orgall.status === 200 && user != null) {
							CreatePoService.getLastPlannoId().then(async (orgall) => {
								for (let list of user) {
									
									list['plan_order_id'] =
										orgall.data.data[0]['plan_order_id'] +
										1;
									list['plan_order_num'] = this.poDraftNum;
									list['created_by'] =
										sessionStorage.getItem('idUser');
									list['plan_order_line_id'] = lineId++;
									list['plan_order_date'] = this.formatDate(
										new Date(this.poDraftDate)
									)[1];
									list['po_type'] = this.poDraftType;
									list['response_date'] = this.formatDate(
										new Date(this.draftMustDate)
									)[1];
									// if(list['need_by_date'] instanceof Date){
									// list['need_by_date'] = list['need_by_date'].toLocaleDateString('en-US');
									list['need_by_date'] = this.formatDate(
										new Date(list['need_by_date'])
									)[1];
									list['status'] = '';

									if (list['manufacturer_name'] == null) {
										pushSubmit = false;
									}
                                    list['terms_id'] = list['top_name']
									// }
								}
                                console.log("submit: ", user)
								const payload = { user };
								if (pushSubmit) {
									CreatePoService.pushSubmitHeader(
										payload
									).then(async(resp) => {
										if (resp.status === 200) {
											CreatePoService.pushSubmitDetail(
												payload
											).then(async(resp) => {
												if (resp.status === 200) {
													this.draftTableList = [];
													CreatePoService.getLastAllSeq(
														this.selectedCompany
															.value
													).then((resp) => {
														const payload = {
															ORG_ID: this
																.selectedCompany
																.value,
															SYEAR: new Date()
																.getFullYear,
															SEQ_NUM:
																resp.data
																	.data[0][0]
																	.seq + 1,
														};
														if (
															resp.status === 200
														) {
															CreatePoService.insertLastAllSeq(
																payload
															);
														}
													});
												}
												// this.display = false;
											});
										}
										// this.display = false;
							
                                        if (this.recipientEmail === null) {
                                                const data = {
                                                    // vendor_id: payload.user[0].vendor_id,
                                                    // org_id: payload.user[0].org_id,
                                                    vendorname: this.selectedSupplier.vendor_name,
                                                    // dbInstance: payload.user[0].db_instance
                                                }
                                                console.log('payload for getEmail::', data)
                                                CreatePoService.getPlannoRecipientMail(data).then(async (resval) => {
													console.log('id user kkt::', resval.data.data[0][0]['idusrkkt'])
													const dataTwo = {
                                                    idusrkkt: resval.data.data[0][0]['idusrkkt'],
													
                                                }
													CreatePoService.getRecipientMail(dataTwo).then(async (resvaltwo) => {
													console.log('email supplier kkt::', (resvaltwo.data.data[0][0]['bioemailactivegroup']).replace('[', '').replace(']', ''))
													this.recipientEmail = (resvaltwo.data.data[0][0]['bioemailactivegroup']).replace('[', '').replace(']', '')
												})
												})
                                            }
                                            await new Promise(resolve => setTimeout(resolve, 800));

                                            // KIRIM NOTIFIKASI KE DASHBOARD
                                            const dataNotif = {
                                                idmodule: '1',
                                                sbjmessage: 'New Planning Order #' + this.poDraftNum.toString() + ' by ' + this.takePOsender.toString(),
                                                receiveddate: new Date(),
                                                status: 'Open',
												notif_type: "Supplier",
                                                sender: this.senderNotif,
                                                recipient: this.recipientEmail.replace(/"/g,''),
                                                usersenderid: this.userSenderId,
                                                userreceiveid: this.userReceiveId,
                                                db_instance: this.selectedCompany.db_instance,
                                                org_id: this.selectedCompany.id
                                            }
                                            console.log('data untuk notifikasi::', dataNotif)
                                            CreatePoService.sendPONotif(dataNotif).then((value) => {
                                                if (value.status === 200) {
                                                    this.recipientEmail = null;
                                                    window.alert('Supplier Successfully Notified');
                                                    // console.clear();

                                                }
                                            })
                                            const payloadEmailB = {
                                                user,
                                                recipient: this.recipientEmail,
                                                sender: this.senderNotif
                                            };
                                            console.log(payloadEmailB)
                                            // KIRIM DATA KE KKTSPBE (sementara) UNTUK DIRPOSES PENGIRIMAN EMAIL
                                            CreatePoService.sendPOEmail({
                                                sendpodata: JSON.stringify(payloadEmailB)
                                            }).then(() => {
                                                //  console.log(response.data.status);
                                            })
										
									});
								} else {
									alert('Please Choose Manufacturer');
								}
							});
						}
					});
				}
			});
		},
		getManufacturerVendor(vendor_id) {
			LovService.getManufacturerVendor(vendor_id).then((value) => {
				if (value.data.status === 200) {
					this.manufacturerList = value.data.data;
				} else {
					this.manufacturerList = [];
				}
			});
		},
		getManValue(index) {
			LovService.getManufacturerId(index).then((resp) => {
				if (resp.status === 200) {
					return resp.data.data[0].manufacturer_name;
				}
			});
		},
		openMaximizable(index, id, asl_id) {
			this.manufacturerIdRow = id;
			this.manufacturerId = index;
			this.manufacturerAslList = [];
			LovService.getManufacturerAsl(asl_id).then((value) => {
				if (value.data.status === 200) {
					this.manufacturerAslList = value.data.data;
					if (this.manufacturerAslList.length > 0) {
						LovService.getManufacturerId(index).then((resp) => {
							if (resp.status === 200) {
								this.selectedManufaturer = resp.data.data[0];
							}
						});
					}
				} else {
					this.manufacturerList = [];
				}
			});


			this.displayMaximizable = true;
		},
		closeMaximizable() {
			if (this.selectedManufaturer != null) {
				this.draftTableList[this.manufacturerIdRow].manufacturer_id =
					this.selectedManufaturer.manufacturer_id;
				this.draftTableList[this.manufacturerIdRow].manufacturer_name =
					this.selectedManufaturer.manufacturer_name;
				this.draftTableList[
					this.manufacturerIdRow
				].manufacturer_address = this.selectedManufaturer.attribute1;
				this.draftTableList[
					this.manufacturerIdRow
				].manufacturer_description =
					this.selectedManufaturer.description;
				this.displayMaximizable = false;
			}
		},
	},
};
</script>
