<template>
	<div class="grid">
		<div class="col-12">
				<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
	</div>
</template>

<script>
// import UserService from '../../service/UserService'
export default {
	data() {
		return{
			breadcrumbHome: {icon: 'pi pi-home', to: '/'},
			breadcrumbItems: [
				{label:'PO Number Jit',
                 to: '/dashboard'
                },
			],
            

		}
	},

    methods: {
       
    },
    computed: {
        
    },
    created(){

    },
    mounted(){
    
    },
    
}
</script>