.p-toast.p-toast-top-right {
    z-index: 1000;
    top: 7rem;
}
body,html {
    font-size: 80%;
    @media screen and (min-width: 768px) {
        body {
           font-size: 100%;
        }
      }
}
.call-button-container {
    min-width: 150px !important;
    left: 50% !important;
}
.call-button-container-200 {
    min-width: 200px !important;
    left: 50% !important;
}
.call-max {
    min-width: 60% !important;
}

.top span {
    margin-left: 10px;
}

.top input {
    display: inline-block;
}