<template>
	<div class="layout-topbar">
		<button class="p-link layout-menu-button layout-topbar-button" @click="onMenuToggle">
			<i class="pi pi-bars"></i>
		</button>
		
		<router-link to="/dashboard" class="layout-topbar-logo">
			<img alt="Logo" :src="topbarImage()" />
			<span>Supplier Portal & Billing</span>
		</router-link>
		
		
		<button class="p-link layout-topbar-menu-button layout-topbar-button"
			v-styleclass="{ selector: '@next', enterClass: 'hidden', enterActiveClass: 'scalein', 
			leaveToClass: 'hidden', leaveActiveClass: 'fadeout', hideOnOutsideClick: true}">
			<i class="pi pi-ellipsis-v"></i>
		</button>


		<ul class="layout-topbar-menu hidden lg:flex origin-top">
			<li>
				<button class="p-link layout-topbar-button">
					<i class="pi pi-user"></i>
					<span>Profile</span>
				</button>
			</li>
			<li>
				<button class="p-link layout-topbar-button" @click="openResponsive">
					<i class="pi pi-building"></i>
					<span>Company</span>
				</button>
			</li>
			<li>
				<button class="p-link layout-topbar-button" @click="openConfirmation">
					<i class="pi pi-sign-out"></i>
					<span>Sign Out</span>
				</button>
			</li>
		</ul>
	</div>

        <Dialog header="Switch Company" v-model:visible="displayResponsive" :breakpoints="{'960px': '75vw'}" :style="{width: '25vw'}" :modal="true">
            <div class="grid formgrid" style="margin: 2em 0 0 0;">
                    <div v-if="this.purchasing === true" class="col-12 mb-5 lg:col-5 lg:mb-0">
                        <span class="p-float-label">
                            <Dropdown v-model="switchcompany" :options="company" optionLabel="name"></Dropdown>
                            <label for="inputtext">Company</label>
                        </span>
                    </div>
					<div v-if="this.supplier === true" class="col-12 mb-5 lg:col-5 lg:mb-0">
                        <span class="p-float-label">
							<Dropdown v-model="switchcompany" :options="companysupplier" optionLabel="tnname"/>

                            <label for="inputtext">Company</label>
                        </span>
                    </div>
                </div>
            <template #footer>
                <Button label="Cancel" @click="closeResponsive" class="p-button-text"/>
                <Button label="Switch" @click="switchResponsive" autofocus />
            </template>
        </Dialog>

        <Dialog header="Sign Out" v-model:visible="displayConfirmation" :breakpoints="{'960px': '75vw'}" :style="{width: '25vw'}" :modal="true">
            <div class="confirmation-content">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem" />
                <span>Are you sure you want to proceed?</span>
            </div>
            <template #footer>
                <Button label="No" icon="pi pi-times" @click="closeConfirmation" class="p-button-text"/>
                <Button label="Yes" icon="pi pi-check" @click="signOut" autofocus />
            </template>
        </Dialog>
</template>

<script>
import AuthService from './service/AuthService';
import SwitchCompany from './service/SwithCompany';
// import LoginService from './service/LoginService';
// import TenantService from './service/TenantmanagerService'
export default {
	data() {
     return {
		displayResponsive: false,
		displayConfirmation: false,
		company: null,
		switchcompany: null,
		isicompany: null,
		isidb: null,
		purchasing: false,
		supplier: false,
		isipayload: null,
		dbInstance: null,
		dbInstanceParse: null,
		dropdownCompany: null,
		companysupplier: null,
       }
    },
	watch:{
        switchcompany(newQuestion) {
			if  (sessionStorage.leveltenant == 1 ){
				if (typeof newQuestion === 'object' && !Array.isArray(newQuestion) && newQuestion !== null){
                    // this.getValueCompany(newQuestion.name);
                    // this.getDbInstance(newQuestion.name);
					console.log("HOLLAAA Purchsing", this.switchcompany.name)
                    }
			}
			if  (sessionStorage.leveltenant == 2 ){
				if (typeof newQuestion === 'object' && !Array.isArray(newQuestion) && newQuestion !== null){
                    // this.getValueCompany(newQuestion.name);
                    // this.getDbInstance(newQuestion.name);
					console.log("HOLLAAA supplier", this.switchcompany.tnname)
                    }
			}
        },
    },
	created() {
		this.SwitchCompany();
		},
    methods: {
		signOut() {
			let payload = { appid: 4, appname: 'spb' };
			AuthService.signOutApp(payload).then((response) => {
			console.log('Process >> ' + "Sign Out" );
			console.log(response);
				if (response.status === 200) {
					this.$localStorage.clear('authKey');
					sessionStorage.clear('Company');
					AuthService.loggedOut();
					this.$router.push('/');
					console.clear()
				} 
			})
		},
		SwitchCompany() {
			// if (sessionStorage.authKey != null){
				if (sessionStorage.leveltenant === 2){
					this.dropdownCompany = sessionStorage.company;
					sessionStorage.removeItem('company')
					// this.switchcompany = sessionStorage.dropdownCompany;
					// console.log("isi swithc",this.switchcompany)
					this.companysupplier = JSON.parse(this.dropdownCompany);
					this.supplier = true;
					console.log("INI SUPPLIER");
				}
						// }
						// else {
						// 	console.log("MAMEN")
						// }
					
			
			// }
		},
	getDbInstance(){
			const payload = this.switchcompany.tnname
			console.log("FAAAK",payload)
			AuthService.whoAmi().then(value => {
				if (value.status === 200){
					SwitchCompany.getDbInstance(payload)
					.then(response => {
					this.dbInstance = response
					console.log("ISI DB", this.dbInstance)
				})
				}
			})
		},
        onMenuToggle(event) {
            this.$emit('menu-toggle', event);
        },
		onTopbarMenuToggle(event) {
            this.$emit('topbar-menu-toggle', event);
        },
		topbarImage() {
			return 'layout/images/DXG Supplier Portal dan Billing Invoice 03-06.png';
		},
		openResponsive() {
            this.displayResponsive = true;
			AuthService.whoAmi().then(response => {
				// console.log(response.data.data.leveltenant)
				if (response.data.data.leveltenant === 1){
					// console.log("ini purchasing")
						this.purchasing = true;
						AuthService.whoAmi().then(response => {
							console.log(response.data.data)
							if (response.data.data.userid === "dexaadmin"){
							SwitchCompany.getCompany().then(response => {
							this.company = response.data.data;
							console.log("ini admin")
						})	
							}
							else {
								console.log("ini purchasing")
								AuthService.whoAmi().then(response => {
									// console.log(response.data.data.id)
									let payload = response.data.data.id
									SwitchCompany.getCompanyPayload(payload).then(response => {
										// console.log(response.data.data)
										let something = [{name : response.data.data[0].company}]
										// console.log(something)
										this.company = something
									})
								})
							}
				})
				}
				if (response.data.data.leveltenant === 2){
					this.supplier = true
					// console.log('DIKAHSD')
					AuthService.whoAmi().then(response => {
							// console.log(response.data.data.id)
							let payload = response.data.data.id
							SwitchCompany.getCompanyPayload(payload).then(response => {
								// console.log(response.data.data)
								let something = [{tnname : response.data.data[0].company}]
								console.log(something)
								this.companysupplier = something
							})
						})
				}
			})
			
        },
        closeResponsive() {
            this.displayResponsive = false;
        },
		switchResponsive() {
			this.displayResponsive = false;
			AuthService.whoAmi().then(value => {
				// console.log(value.data.data.leveltenant)
				if (value.data.data.leveltenant === 1){
					const payload = { dbValue : this.switchcompany.name}
					SwitchCompany.getDbInstance(payload)
					.then(response => {
					this.dbInstance = response.data.data[0].db_instance
					// console.log("ISI DB", this.dbInstance)
					sessionStorage.setItem('companydb', this.dbInstance);
					if (response.status === 200 ){
						// console.log("sok refresh")
						window.location.reload()
					}
				})
				}
				if (value.data.data.leveltenant === 2){
					const payload = { dbValue : this.switchcompany.tnname}
					SwitchCompany.getDbInstance(payload)
					.then(response => {
					this.dbInstance = response.data.data[0].db_instance
					// console.log("ISI DB", this.dbInstance)
					sessionStorage.setItem('companydb', this.dbInstance);
					if (response.status === 200 ){
						// console.log("sok refresh")
						window.location.reload()
					}
				})
				}
			})
			// window.location.reload()
        },
		openConfirmation() {
			this.displayConfirmation = true;
		},
		closeConfirmation() {
			this.displayConfirmation = false;
			console.log("DB COMPANY : ", this.isidb)
		}
    },
	computed: {
		darkTheme() {
			return this.$appState.darkTheme;
		}
	}
}
</script>