.content-wrapper {
	width: 100%;
}

.content-wrapper .content-header {
	padding: 12px 16px;
	background-color: #ffecec;
	color: #da3831;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.content-wrapper .content-body {
	padding: 16px;
	background-color: #fff;
}

/* Override fileupload component style */
.p-fileupload .p-fileupload-buttonbar {
	background: transparent !important;
	border: none !important;
	padding: 0.5rem !important;
}

.p-fileupload .p-fileupload-content {
	background: #ffffff;
	padding: 1.5rem 1rem !important;
	color: #495057;
	border: none !important;
	border-bottom-right-radius: none !important;
	border-bottom-left-radius: none !important;
}

.p-fileupload .p-progressbar {
	/* margin-top: 1rem !important; */
	height: 0 !important;
	display: none !important;
}

.p-fileupload .p-fileupload-buttonbar .p-button {
	font-size: 12.8px;
	font-weight: 700;
	margin-right: 0.75rem !important;
}

.p-fileupload-choose:not(.p-disabled),
.p-fileupload .p-fileupload-buttonbar .p-button {
	background: #ecf2ff !important;
	color: #000000 !important;
	border-color: #ecf2ff !important;
}

.p-fileupload-choose:not(.p-disabled):hover,
.p-fileupload-choose:not(.p-disabled):active,
.p-fileupload
	.p-fileupload-buttonbar
	.p-button:not(.p-disabled):hover
	.p-fileupload
	.p-fileupload-buttonbar
	.p-button:not(.p-disabled):active {
	background: #ffecec !important;
	color: #000000 !important;
	border-color: #ffecec !important;
}
