<template>
	<div class="grid">
		<Toast />
		<ConfirmDialog></ConfirmDialog>
		<ConfirmDialog group="positionDialog"></ConfirmDialog>
		<div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
		<div class="col-12 p-fluid">
			<div class="card">
				<div
					class="card"
					style="
						background-color: #da3831;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: white; margin-top: -10px">
						Add/Edit Planning Order
					</h5>
				</div>
				<div class="p-fluid grid formgrid">
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="planningOrderNum"
								disabled
							/>
							<label for="inputtext">Planning Order No</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="revisition"
								disabled
							/>
							<label for="inputtext">Rev</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<!-- <InputText id="inputtext" type="text" v-model="planningOrderDate" v-bind:disabled="planningOrderDate"/> -->
							<Calendar
								id="dateformat"
								v-model="planningOrderDate"
								dateFormat="dd-M-yy"
								:showTime="true"
								:showSeconds="true"
								disabled
							/>
							<label for="inputtext">Planning Order Date</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="planningOrderStatus"
								disabled
							/>
							<label for="inputtext">Status</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="supplier"
								disabled
							/>
							<label for="inputtext">Supplier</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<Calendar
								id="dateformat"
								v-model="respondDate"
								dateFormat="dd-MM-yy"
								:showTime="true"
								:showSeconds="true"
								:disabled="respondStatus"
							/>
							<label for="inputtext">Must Responded Date</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="respondBy"
								disabled
							/>
							<label for="inputtext">Respond By</label>
						</span>
					</div>
				</div>
				<div class="p-fluid grid formgrid">
					<div class="col-6 mb-4 lg:col-1 lg:mb-5">
						<Button label="Print" @click="printPage()" />
					</div>
					<div
						class="col-6 mb-4 lg:col-1 lg:mb-5"
						v-if="!this.changeHold"
					>
						<Button
							label="Hold"
							class="p-button-warning"
							@click="changeStatusHold()"
						/>
					</div>
					<div
						class="col-6 mb-4 lg:col-1 lg:mb-5"
						v-if="!this.changeUnhold"
					>
						<Button
							label="Unhold"
							class="p-button-warning"
							@click="changeStatusUnhold()"
						/>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 p-fluid">
			<div class="card">
				<div
					class="card"
					style="
						background-color: #da3831;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: white; margin-top: -10px">Submit PO</h5>
				</div>
				<div v-if="this.submitpo" class="p-fluid grid formgrid">
					<div class="col-12 mb-5 lg:col-2 lg:mb-0">
						<span class="p-float-label">
							<AutoComplete
								v-model="location"
								:suggestions="filteredLocation"
								@complete="searchLocation($event)"
								:dropdown="true"
								field="ship_to_desc"
								forceSelection
							>
								<template #item="slotProps">
									<div class="ship to desc-item">
										<div class="ml-2">
											{{ slotProps.item.ship_to_desc }}
										</div>
									</div>
								</template>
							</AutoComplete>
							<label for="inputtext">Location</label>
						</span>
					</div>
					<div class="col-12 mb-5 lg:col-2 lg:mb-0">
						<span class="p-float-label">
							<AutoComplete
								v-model="poType"
								:suggestions="filteredPoType"
								@complete="searchPoType($event)"
								:dropdown="true"
								field="name"
								forceSelection
							>
								<template #item="slotProps">
									<div class="supplier-item">
										<div class="ml-2">
											{{ slotProps.item.name }}
										</div>
									</div>
								</template>
							</AutoComplete>
							<label for="inputtext">PO Type</label>
						</span>
					</div>
					<div class="col-12 mb-3 lg:col-2 lg:mb-0">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="poNumber"
								:maxlength="max"
							/>
							<label for="inputtext">PO Number</label>
						</span>
					</div>
					<div class="col-12 mb-1 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Search"
							icon="pi pi-search"
							@click="openResponsive"
						/>
					</div>
				</div>
				<div
					class="p-fluid grid formgrid"
					style="margin-top: 1.5rem; margin-bottom: 0.5rem"
				>
					<div class="col-6 mb-1 lg:col-2 lg:mb-0">
						<Button
							label="Planning Order"
							class="p-button-secondary p-button-text"
							@click="openPo"
						/>
					</div>
					<div class="col-6 mb-1 lg:col-1 lg:mb-0">
						<Button
							label="Terms"
							class="p-button-secondary p-button-text"
							@click="openTerms"
						/>
					</div>
				</div>

				<div class="col-12 mb-5" v-if="!this.changeTable">
					<DataTable
						:value="planningOrderTable"
						dataKey="plan_order_line_id"
						:paginator="true"
						:rows="5"
						v-model:filters="filters"
						v-model:selection="selectedPo"
						:rowClass="rowClass"
						removableSort
						paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
						:rowsPerPageOptions="[5, 10, 25]"
						:loading="loading"
						selectionMode="multiple"
						:metaKeySelection="false"
						@rowSelect="onRowSelect"
						@rowUnselect="onRowUnselect"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
						responsiveLayout="scroll"
					>
						<!-- <Column selectionMode="multiple" headerStyle="width: 3em"></Column> -->
						<!-- <Column header="#" headerStyle="width:3em">
                    <template #body="slotProps">
                        {{slotProps.index}}
                    </template>
                </Column> -->
						<Column
							field="pr_line_num"
							header="Line"
							:sortable="true"
							headerStyle="min-width:5rem;"
						></Column>
						<Column
							field="item_num"
							header="Item Number"
							:sortable="true"
							headerStyle="min-width:12rem;"
						></Column>
						<Column
							field="item_desc"
							header="Item Description"
							:sortable="true"
							headerStyle="min-width:20rem;"
						></Column>
						<Column header="UOM" headerStyle="min-width:12rem;">
							<template #body="slotProps">
								<Dropdown
									v-model="slotProps.data.uom"
									:options="isiUom"
									optionLabel="unit_of_measure"
									optionValue="unit_of_measure"
									placeholder="Select UOM"
									:editable="true"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							header="Qty"
							headerStyle="min-width:8rem;"
							style="text-align: right"
						>
							<template #body="slotProps">
								<InputNumber
									id="locale-german"
									v-model="slotProps.data.plan_qty"
									mode="decimal"
									locale="id-ID"
									inputStyle="text-align: right"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="ship_to_desc"
							header="Location"
							:sortable="true"
							headerStyle="min-width:20rem;"
						>
						</Column>
						<Column
							header="Note to Supplier"
							:sortable="true"
							headerStyle="min-width:20rem;"
						>
							<template #body="slotProps">
								<InputText
									type="text"
									v-model="slotProps.data.note_to_supplier"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="currency"
							header="Currency"
							:sortable="true"
							headerStyle="min-width:8rem;"
							style="text-align: center"
						>
						</Column>
						<Column
							field="confirm_price"
							header="Confirm Price"
							dataType="numeric"
							:sortable="true"
							header-style="text-align: center"
							style="text-align: right"
						>
							<template #body="{ data }">
								{{ formatCurrency(data.confirm_price) }}
							</template>
						</Column>
						<Column
							field="confirm_qty"
							header="Confirm Qty"
							dataType="numeric"
							:sortable="true"
							header-style="text-align: center"
							style="text-align: right"
						>
							<template #body="{ data }">
								{{ formatCurrency(data.confirm_qty) }}
							</template>
						</Column>
						<Column
							field="remarks"
							header="Remark"
							:sortable="true"
							headerStyle="min-width:10rem;"
						>
						</Column>
						<Column
							header="Reason for not Accept"
							headerStyle="min-width:20rem;"
						>
							<template #body="slotProps">
								<!-- <Textarea v-model="slotProps.data.remarks3" :autoResize="true" rows="5" cols="30" /> -->
								<InputText
									type="text"
									v-model="slotProps.data.remarks3"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="name"
							header="Line Status"
							:sortable="true"
							headerStyle=" min-width:12rem;"
						>
						</Column>
					</DataTable>
				</div>

				<div class="col-12 mb-5" v-if="this.changeTable">
					<DataTable
						:value="termsTable"
						dataKey="plan_order_line_id"
						:paginator="true"
						:rows="5"
						v-model:filters="filters"
						v-model:selection="selectedPo"
						removableSort
						paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
						:rowsPerPageOptions="[5, 10, 25]"
						:loading="loading"
						:metaKeySelection="false"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
						responsiveLayout="scroll"
					>
						<!-- <Column selectionMode="multiple" headerStyle="width: 3em"></Column> -->
						<Column
							field="pr_line_num"
							header="Line"
							:sortable="true"
							headerStyle="min-width:5rem;"
						></Column>
						<Column
							field="item_num"
							header="Item Number"
							:sortable="true"
							headerStyle="min-width:12rem;"
						></Column>
						<Column
							field="item_desc"
							header="Item Description"
							:sortable="true"
							headerStyle="min-width:20rem;"
						></Column>
						<Column
							header="Arrival at Site"
							style="text-align: center"
						>
							<template #body="slotProps">
								<!-- <Calendar id="dateformat" v-model="slotProps.data.need_by_date" dateFormat="dd-MM-yy" style="text-align: center" v-bind:disabled="disabled[slotProps.index]"/> -->
								<Calendar
									id="dateformat"
									v-model="slotProps.data.need_by_date"
									dateFormat="dd M yy"
									style="text-align: center"
									:showTime="true"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column header="Freight" style="text-align: center">
							<template #body="slotProps">
								<Dropdown
									v-model="slotProps.data.freight_terms"
									:options="isiFreight"
									optionLabel="name"
									optionValue="name"
									placeholder="Select Freight"
									:editable="true"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column header="ToP" style="text-align: center">
							<template #body="slotProps">
								<Dropdown
									v-model="slotProps.data.terms_id"
									:options="isiTop"
									optionLabel="name"
									optionValue="term_id"
									placeholder="Select ToP"
									:editable="true"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							header="Confirm Arrival at Site"
							:sortable="true"
							style="text-align: center"
						>
							<template #body="slotProps">
								{{ slotProps.data.confirm_ship_date }}
								
								<!-- {{ new Date(slotProps.data.confirm_ship_date).toLocaleDateString("id-ID", { day: 'numeric', month: 'short', year: 'numeric' ,hour: "2-digit",minute: "2-digit", second: "2-digit"})}} -->
							</template>
						</Column>
						<Column
							header="Incoterm"
							:sortable="true"
							headerStyle="min-width:8rem;"
						>
							<template #body="slotProps">
								<Dropdown
									v-model="slotProps.data.fob_sp"
									:options="isiIncoterm"
									optionLabel="name"
									optionValue="value"
									placeholder="Select Incoterm"
									:editable="true"
									v-bind:disabled="disabled[slotProps.index]"
								/>
							</template>
						</Column>
					</DataTable>
				</div>

				<div class="p-fluid grid formgrid">
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Back"
							class="p-button-secondary"
							@click="back()"
						/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Cancel"
							class="p-button-danger"
							@click="confirm('C')" :disabled="this.button"
						/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button type="button" label="Save" @click="save()" :disabled="this.button"/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Submit"
							class="p-button-success"
							@click="submit()" :disabled="this.button"
						/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Not Accept"
							class="p-button-danger"
							@click="notAccept()" :disabled="this.button"
						/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<Dialog
		header="Search Po Number"
		v-model:visible="displayResponsive"
		:breakpoints="{ '960px': '75vw' }"
		:style="{ width: '75vw' }"
		:modal="true"
	>
		<div class="p-fluid grid formgrid" style="margin-top: 1.5rem">
			<div class="col-6 mb-2 lg:col-2 lg:mb-5">
				<span class="p-float-label">
					<AutoComplete
						v-model="popUpPo"
						:suggestions="filteredPopUpPo"
						@complete="searchPopUpPo($event)"
						:dropdown="true"
						field="segment1"
						forceSelection
					>
						<template #item="slotProps">
							<div class="country-item">
								<div class="ml-2">
									{{ slotProps.item.segment1 }}
								</div>
							</div>
						</template>
					</AutoComplete>
					<label for="inputtext">PO Number</label>
				</span>
			</div>
			<div class="col-6 mb-2 lg:col-1 lg:mb-2">
				<Button type="button" label="Search" @click="searchPo()"/>
			</div>
		</div>
		<DataTable
			:value="filtered? filtered : tablepopuppo"
			dataKey="plan_order_line_id"
			:paginator="true"
			:rows="5"
			v-model:filters="filters"
			removableSort
			paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
			:rowsPerPageOptions="[5, 10, 25]"
			:loading="loading"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
			responsiveLayout="scroll"
		>
			<Column
				field="segment1"
				header="PO Number"
				:sortable="true"
			></Column>
			<Column
				field="vendor_name"
				header="Supplier"
				:sortable="true"
			></Column>
			<Column
				field="employeename"
				header="Buyer"
				:sortable="true"
			></Column>
			<Column field="location_code" header="Ship To"> </Column>
			<Column
				field="attribute1"
				header="PO Type"
				:sortable="true"
				style="text-align: center"
			>
			</Column>
			<Column
				field="creation_date"
				header="Creation Date"
				:sortable="true"
			>
				<template #body="slotProps">
					{{
						new Date(
							slotProps.data.creation_date).toLocaleDateString('id-ID',{ day: 'numeric', month: 'short', year: 'numeric' ,hour: "2-digit",minute: "2-digit", second: "2-digit"})
					}}
				</template>
			</Column>
			<Column field="closed_code" header="Status" :sortable="true">
			</Column>
			<Column
				field="authorization_status"
				header="Approval Status"
				:sortable="true"
				style="text-align: center"
			>
			</Column>
		</DataTable>
		<template #footer>
			<Button
				label="No"
				icon="pi pi-times"
				@click="closeResponsive"
				class="p-button-text"
			/>
			<Button
				label="Yes"
				icon="pi pi-check"
				@click="submitResponsive"
				autofocus
			/>
		</template>
	</Dialog>

	<Dialog
		header="Validation"
		v-model:visible="displayPilih"
		:breakpoints="{ '960px': '20vw' }"
		:style="{ width: '10vw' }"
		:modal="true"
	>
		<div class="confirmation-content">
			<span>Please Select Planning Order First</span>
		</div>
	</Dialog>

	<Dialog
		header="Validation"
		v-model:visible="displayValidasi"
		:breakpoints="{ '960px': '20vw' }"
		:style="{ width: '20vw' }"
		:modal="true"
	>
		<div class="confirmation-content">
			<i
				class="pi pi-exclamation-triangle mr-3"
				style="font-size: 2rem"
			/>
			<span>Reason for Not Accept is empty</span>
		</div>
	</Dialog>

	<Dialog
		header="Validation"
		v-model:visible="displaySubmit"
		:breakpoints="{ '960px': '20vw' }"
		:style="{ width: '20vw' }"
		:modal="true"
	>
		<div class="confirmation-content">
			<i
				class="pi pi-exclamation-triangle mr-3"
				style="font-size: 2rem"
			/>
			<span>Location, PO Type, dan PO Number is empty</span>
		</div>
	</Dialog>
</template>

<script>
/* eslint-disable */
import { FilterMatchMode, FilterOperator } from 'primevue/api';
import PlanningOrder from '../../../service/PlanningOrderService';
import { reactive, ref, toRef, unref } from '@vue/reactivity';
import PlanningOrderService from '../../../service/PlanningOrderService';
import AuthService from '../../../service/AuthService';
export default {
	name: 'planningorder-list',
	data() {
		return {
			idValue: this.$route.params.id,
			idDetail: null,
			isiDetail: null,
			planningOrderNum: null,
			planningOrderDate: null,
			supplier: null,
			respondBy: null,
			revisition: null,
			planningOrderStatus: null,
			respondDate: null,
			location: null,
			isiLocation: null,
			filteredLocation: null,
			displayResponsive: false,
			changeTable: false,
			planningOrderTable: null,
			selectedPo: null,
			selectedTerms: null,
			termsTable: null,
			poType: null,
			isiPoType: null,
			filteredPoType: null,
			selectedPoType: null,
			uom: null,
			isiUom: null,
			freight: null,
			isiFreight: null,
			tablepopuppo: null,
			arrivalDate: null,
			top: null,
			isiTop: null,
			incoterm: null,
			isiIncoterm: null,
			status: null,
			changeStatus: null,
			unholdStatus: null,
			changeHold: false,
			changeUnhold: false,
			popUpPo: null,
			filteredPopUpPo: null,
			poNumber: null,
			qty: null,
			max: 20,
			submitpo: false,
			isInvalid: true,
			displayValidasi: false,
			displayPilih: false,
			something: null,
			disabled: [],
			something: null,
			line: null,
			untukIndex: null,
			payloadNotAccept: null,
			displaySubmit: false,
			respondStatus: true,
			button : false,
			search: null,
			filtered: null,
			ubahConfirm: null,
			monthNames : ["January", "February", "March", "April", "May", "June",
			"July", "August", "September", "October", "November", "December"
			],
			monthShortNames : ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
			"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
			],
			breadcrumbHome: { icon: 'pi pi-home', to: '/' },
			breadcrumbItems: [
				{ label: 'Planning Order', to: '/mgm/settings/planningorder' },
				{ label: 'Detail Planning Order' },
			],
		};
	},
	created() {
		if (this.idValue != 0) {
			sessionStorage.setItem('printPoId', this.idValue);
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					const payload = this.idValue;
					PlanningOrder.getIdDetail(payload).then((response) => {
						this.isiDetail = response.data.data;
						this.planningOrderNum =
							response.data.data[0].plan_order_num;
						let date = new Date(
							response.data.data[0].plan_order_date
						);
						date.setDate(date.getDate());
						this.respondDate = date;
						this.supplier = response.data.data[0].vendor_name;
						this.respondBy = response.data.data[0].response_by;
						// this.revisition = response.data.data[0].revisition;
						if(response.data.data[0].revisition != null){
							this.revisition = response.data.data[0].revisition;
						} else {
							this.revisition = 0;
						}
						this.planningOrderStatus = response.data.data[0].status;
						if (response.data.data[0].status !== 'CONFIRMED') {
							this.respondStatus = false;
						}
						if (response.data.data[0].status === 'HOLD') {
							this.changeHold = true;
							this.changeUnhold = false;
							this.submitpo = false;
						}
						if (response.data.data[0].status !== 'HOLD') {
							this.changeHold = false;
							this.changeUnhold = true;
							this.submitpo = true;
						}
						let dateResp = new Date(
							response.data.data[0].plan_order_date
						);
						date.setDate(date.getDate() + 3);
						this.planningOrderDate = dateResp;
						if (this.planningOrderNum !== null) {
							const payload =
								response.data.data[0].plan_order_num;
							PlanningOrder.getTableDetailPo(payload).then(
								(response) => {
									this.planningOrderTable =
										response.data.data;

									console.log("iuni disini dcek dlu", this.planningOrderTable)
									for (
										let i = 0;
										i < this.planningOrderTable.length;
										i++
									) {
										if (
											this.planningOrderTable[i].name ==
											'COMPLETED'
										) {
											this.disabled[i] = true;
											this.something =
												this.planningOrderTable[
													i
												].confirm_price.toLocaleString(
													'id-ID'
												);
											// console.log(this.disabled)
										} else {
											this.disabled[i] = false;
										}
									}
								}
							);
							PlanningOrder.getTerms(payload).then((response) => {
								// console.log("dawdawda",response)
								let getDistinctLine = null
										let newSetArray = []
										response.data.data.forEach((element) => {
											if (getDistinctLine !== element.plan_order_line_id) {
												newSetArray.push(element)
												getDistinctLine = element.plan_order_line_id
											}
										})
								this.termsTable = [...new Set(newSetArray)]
								// this.termsTable = response.data.data;
								for (let id of this.termsTable) {
									id.confirm_ship_date = this.dateFormat2(new Date(id.confirm_ship_date))
									if (id.confirm_ship_date == '1 Jan 1970 7:0:0'){
										id.confirm_ship_date = ''
									}
									// console.log("isi date",this.dateFormat2(new Date(id.confirm_ship_date)))
									console.log("isi table terms", id)
									if ( id.need_by_date == null ){
										id.need_by_date = ''
									}
									if ( id.need_by_date != null ){
										id.need_by_date = new Date(id.need_by_date)
									}
									if (id.confirm_ship_date == null ){
										id.confirm_ship_date = ''
									}
									else {
										id.need_by_date = new Date(id.need_by_date)
									
									}
									
								}
							});
						}
					});
				}
			});
		}
		this.getLocation();
		this.getPoType();
		this.getUom();
		this.getFreight();
		this.getTablePoNumber();
		this.getTop();
		this.getIncoterm();
	},
	watch: {
		// selectedPo(){
		// 	for(var id of this.selectedPo){
		// 		console.log("INI", id.name)
		// 		if (id.name == 'COMPLETED' || id.name == 'PROCESSED' || id.name == 'NEW' || this.selectedPo.length == 0){
		// 			this.button = true
		// 		}
		// 		else{
		// 			this.button = false
		// 		}
		// 	}
		// }
	},
	mounted() {},
	computed: { 
		searchUser(){
            return this.tablepopuppo.filter( item => {return (item.segment1.toLowerCase().match(this.popUpPo.toLowerCase()))})
        }
	},
	methods: {
		searchPo(){
            console.log("isi pop", this.popUpPo.segment1)
			let payload = {segment1 : this.popUpPo.segment1}
			PlanningOrder.searchPopPo(payload).then(response =>{
				console.log(response)
				this.tablepopuppo = response.data.data
			})
        },
		formatCurrency(value) {
			if (value) return value.toLocaleString('id-ID');
			return;
		},
		formatDateSend(date) {
			var d = new Date(date),
				month = '' + (d.getMonth() + 1),
				day = '' + d.getDate(),
				year = d.getFullYear();

			if (month.length < 2) month = '0' + month;
			if (day.length < 2) day = '0' + day;

			return [year, month, day].join('-');
		},
		formatDateDexa(date){
			var date = new Date(date);
			var respondDate =
					('00' + (date.getMonth() + 1)).slice(-2) +
					'/' +
					('00' + date.getDate()).slice(-2) +
					'/' +
					date.getFullYear() +
					' ' +
					('00' + date.getHours()).slice(-2) +
					':' +
					('00' + date.getMinutes()).slice(-2) +
					':' +
					('00' + date.getSeconds()).slice(-2);
			return respondDate
		},
		dateFormat1(d) {
		var t = new Date(d);
		return t.getDate() + ' ' + this.monthNames[t.getMonth()] + ' ' + t.getFullYear();
		},

		dateFormat2(d) {
		var t = new Date(d);
		return t.getDate() + ' ' + this.monthShortNames[t.getMonth()] + ' ' + t.getFullYear() + ' ' + t.getHours() + ':' + t.getMinutes() + ':' + t.getSeconds();
		},
		getLocation() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					let payload = this.idValue;
					// PlanningOrder.getIdDetail(payload).then(response => {
					//     let data = response.data.data[0].plan_order_num
					// })
					PlanningOrder.getLocation(payload).then((response) => {
						this.isiLocation = response.data.data;
					});
				}
			});
		},
		searchLocation(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredLocation = [...this.isiLocation];
				} else {
					this.filteredLocation = this.isiLocation.filter((item) => {
						return item.ship_to_desc
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		getPoType() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PlanningOrder.getPoType().then((response) => {
						this.isiPoType = response.data.data;
					});
				}
			});
		},
		getFreight() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					if (sessionStorage.companydb !== null) {
						let payload = { dbValue: sessionStorage.companydb };
						PlanningOrder.getFreight(payload).then((response) => {
							this.isiFreight = response.data.data;
						});
					}
				}
			});
		},
		getTop() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					let payload = { isi: sessionStorage.companydb };
					PlanningOrder.getTop(payload).then((response) => {
						this.isiTop = response.data.data;
					});
				}
			});
		},
		getIncoterm() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					if (sessionStorage.companydb !== null) {
						const payload = sessionStorage.companydb;
						console.log('isi payload', payload);
						PlanningOrder.getIncoterm(payload).then((response) => {
							this.isiIncoterm = response.data.data;
						});
					}
				}
			});
		},
		getTablePoNumber() {
			// AuthService.whoAmi().then(response => {
			//     if (response === 200 ){
			PlanningOrder.getTablePoNumber().then((response) => {
				this.tablepopuppo = response.data.data;
				// console.log('tablepop PO',response);
			});
			//     }
			// })
		},
		searchPoType(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPoType = [...this.isiPoType];
				} else {
					this.filteredPoType = this.isiPoType.filter((item) => {
						return item.name
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		getUom() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					if (sessionStorage.companydb !== null) {
						const payload = { dbValue: sessionStorage.companydb };
						PlanningOrder.getUom(payload).then((response) => {
							this.isiUom = response.data.data;
						});
					}
				}
			});
		},
		changeStatusHold() {
			if (
				this.planningOrderStatus !== 'H' ||
				this.planningOrderStatus !== 'HOLD'
			) {
				this.changeHold = true;
				this.changeUnhold = false;
				this.submitpo = false;
				this.respondStatus = false;
				var date = new Date();
				var respondDate =
					('00' + (date.getMonth() + 1)).slice(-2) +
					'/' +
					('00' + date.getDate()).slice(-2) +
					'/' +
					date.getFullYear() +
					' ' +
					('00' + date.getHours()).slice(-2) +
					':' +
					('00' + date.getMinutes()).slice(-2) +
					':' +
					('00' + date.getSeconds()).slice(-2);
				// let date = this.respondDate.toLocaleDateString("id-ID", options)
				let payload = {
					status: 'H',
					id: this.idValue,
					date: respondDate,
				};
				console.log(payload);
				PlanningOrder.changeStatus(payload).then((response) => {
					console.log('RESPONSE', response);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Hold',
						life: 3000,
					});
					this.planningOrderStatus = 'HOLD';
				});
			}
		},
		changeStatusUnhold() {
			if (
				this.planningOrderStatus === 'H' ||
				this.planningOrderStatus === 'HOLD'
			) {
				this.changeUnhold = true;
				this.changeHold = false;
				this.submitpo = true;
				this.respondStatus = true;
				var respondDate = this.formatDateDexa(new Date())
				let payload = {
					status: 'C',
					id: this.idValue,
					date: respondDate,
				};
				PlanningOrder.changeStatus(payload).then((response) => {
					console.log('RESPONSE', response);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Confirmed',
						life: 3000,
					});
					this.planningOrderStatus = 'CONFIRMED';
				});
			}
		},
		searchPopUpPo(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPopUpPo = [...this.tablepopuppo];
				} else {
					this.filteredPopUpPo = this.tablepopuppo.filter((item) => {
						return item.segment1
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		openResponsive() {
			this.displayResponsive = true;
		},
		closeResponsive() {
			this.displayResponsive = false;
			if (this.popUpPo != null || this.popUpPo.length != 0){
				this.getTablePoNumber();
				this.popUpPo = null;
			}
			
		},
		submitResponsive() {
			this.displayResponsive = false;
			this.poNumber = this.popUpPo.segment1;
			// if (this.popUpPo != null || this.popUpPo.length != 0){
			// 	this.getTablePoNumber();
			// }
			// console.log("IIS",this.popUpPo)
		},
		openPo() {
			// console.log("INI PLANNING ORDER")
			this.changeTable = false;
		},
		openTerms() {
			// console.log("INI TERMS")
			this.changeTable = true;
		},
		back() {
			this.$router.push({ name: 'planningOrder' });
		},
		onRowSelect(event) {
			// this.$toast.add({severity: 'info', summary: 'Product Selected', detail: 'Name: ' + event.data.pr_line_num, life: 3000});
			// this.untukIndex = event.data.pr_line_num -
			// console.log(event.data.pr_line_num)
		},
		onRowUnselect(event) {
			// this.$toast.add({severity: 'warn', summary: 'Product Unselected', detail: 'Name: ' + event.data.pr_line_num, life: 3000});
		},
		AllTheSame(array) {
			var first = array[0];
			return array.every(function(element) {
				return element.name === first.name;
			});
		},
		save() {
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			} else {
				AuthService.whoAmi().then((response) => {
					console.log(response.data.data.id)
					// var date = new Date();
					var respondDate = this.formatDateDexa(new Date())
					// var date = new Date().toLocaleDateString("id-ID", options);
					var lopez = {
						last_updated_by: response.data.data.id,
						last_updated_date: respondDate,
					};
					var something = [];
					this.selectedPo.forEach((element) => {
						const index = this.termsTable.findIndex((something) =>something.pr_line_num === element.pr_line_num);
						this.something = Object.assign(this.planningOrderTable[index],this.termsTable[index],lopez
						);
						something.push(this.something);
						// console.log('ISI SOMTEHING', something);
					});
					// console.log("dawdasda",something)
					var checkPO = this.AllTheSame(this.planningOrderTable)
					var statusHeader
					var last_updated_date = this.formatDateSend(new Date())
					var dateHeader = last_updated_date
					if (checkPO) {
						this.selectedPo.forEach(element => {
							if (element.name == 'PROCESSED'){
								statusHeader = 'A'
							}
							if (element.name == 'TO BE PROCESSED'){
								statusHeader = 'C'
							}
							else {
								statusHeader = 'D'
							}
						});
					}
					let header = {
						id: parseInt(this.idValue),
						date: dateHeader,
						status: statusHeader,
						last_updated_by: response.data.data.id,
						last_updated_date: last_updated_date,
					};
					let payload = { isi: something, header : header };
					console.log("isi belum perubahan", payload.isi)
					for (let id of payload.isi) {
						if (id.need_by_date == null || id.need_by_date.length == 0){
							id.need_by_date = ''
						}
						if (id.confirm_ship_date == null || id.confirm_ship_date.length == 0){
							id.confirm_ship_date = ''
						}
						if (id.remarks == null){
							id.remarks = ''
						}
						if (id.remarks3 == null){
							id.remarks3 = ''
						}
						else{
							id.need_by_date = this.formatDateDexa(new Date(id.need_by_date))
							id.confirm_ship_date = this.formatDateDexa(new Date(id.confirm_ship_date))
							id.remarks = id.remarks
							id.remarks3 = id.remarks3
						}
					}
					
					PlanningOrder.saveOption(payload)
							.then
							// window.location.reload()
							();
					console.log('test data', payload.isi);
					this.$toast.add({
							severity: 'success',
							summary: 'Save Data',
							detail: 'Data has been saved',
							life: 3000,
						});
				});
			}
		},
		submit() {
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			}
			if (
				this.selectedPo != null &&
				this.selectedPo.length != 0 &&
				this.location == null ||
				this.location.length == 0 ||
				this.poType == null ||
				this.poType.length == 0 ||
				this.poNumber == null ||
				this.poNumber.length == 0
			) {
				this.displaySubmit = true;
			} if (this.selectedPo.length != 0 || this.selectedPo != null && this.location == null || this.location.length == 0 && this.poType == null ||
				this.poType.length == 0 && this.poNumber == null || this.poNumber.length == 0) {
				AuthService.whoAmi().then((response) => {
					
					var last_updated_date = this.formatDateDexa(new Date())
					var lopez = {
						last_updated_by: response.data.data.id,
						last_updated_date: last_updated_date,
					};
					var po_Tambahan = {
						ship_to_desc: this.location.ship_to_desc,
						po_type: this.poType.name,
						po_number: this.poNumber,
						db_instance: sessionStorage.companydb,
					};
					var status = { status: 'S' };
					var something = [];
					let dateHeader = last_updated_date;
					var checkPO = this.AllTheSame(this.planningOrderTable)
					var statusHeader
					if (checkPO) {
						this.selectedPo.forEach(element => {
							if (element.name == 'PROCESSED'){
								statusHeader = 'A'
							}
							if (element.name == 'TO BE PROCESSED'){
								statusHeader = 'C'
							}
							else {
								statusHeader = 'D'
							}
						});
					}
					let header = {
						id: parseInt(this.idValue),
						date: dateHeader,
						status: statusHeader,
						last_updated_by: response.data.data.id,
						last_updated_date: last_updated_date,
					};
					// console.log(parseInt(this.idValue))
					this.selectedPo.forEach((element) => {
						const index = this.termsTable.findIndex(
							(something) =>
								something.pr_line_num === element.pr_line_num
						);
						this.something = Object.assign(
							element,
							this.termsTable[index],
							lopez,
							po_Tambahan,
							status
						);
						something.push(this.something);
						element.name = 'PROCESSED';
					});
					
					let payload = { isi: something, header: header };
					// let payloadHeader = {header : header}
					for (var id of payload.isi) {
						// confirm_ship_date
						console.log("iudawd", id.confirm_ship_date)
						if (id.confirm_ship_date == null){
							id.confirm_ship_date = ''
						}
						if (id.confirm_ship_date != null){
							id.confirm_ship_date = this.formatDateDexa(id.confirm_ship_date)
						}
						if (id.need_by_date == null){
							id.need_by_date = ''
						}
						if (id.need_by_date != null){
							id.need_by_date = this.formatDateDexa(new Date(id.need_by_date))
						}
						if (id.confirm_ship_date == null){
							id.confirm_ship_date = ''
						}
						if (id.remarks == null){
							id.remarks = ''
						}
						if (id.remarks3 == null){
							id.remarks3 = ''
						}
						else{
							// id.rate_date = this.formatDateDexa(new Date(id.rate_date))
							id.eta_war = this.formatDateDexa(new Date(id.eta_war))
							id.last_updated_date = this.formatDateDexa(new Date(id.last_updated_date))
							id.remarks3 = id.remarks3
							id.remarks = id.remarks
							// id.confirm_ship_date = this.formatDateDexa(id.confirm_ship_date)
						}
						// console.log("Untuk Submit Date", payload.isi[0].need_by_date)

					}
					this.button = true
					PlanningOrder.submitApi(payload).then((response) => {
						console.log("balesan dari api",response)
						if (response.status === 200){
								PlanningOrder.submitPo(payload).then();
								this.button = false
								window.alert('Data Send to Dexa API');
								this.$router.push({
								name: 'planningOrder',
							});
						}
						if (response.status === 202) {
							window.alert('Data PO already exists');
							this.button = false
						}
						if (response.status === 500){
							window.alert('Connection unstable');
							this.button = false
						}
						
					});
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Processed',
						life: 3000,
					});
					console.log('ISI PAYLOAD ke 2', payload.isi);
				
				});
			}
		},
		notAccept() {
			var isTest = true;
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			} else {
				for (let i = 0; i < this.selectedPo.length; i++) {
					if (
						this.selectedPo[i].remarks3 == null ||
						this.selectedPo[i].remarks3.length == 0
					) {
						isTest = false;
						this.displayValidasi = true;
						console.log('HALOOOO');
						break;
					}
				}
				if (isTest) {
					AuthService.whoAmi().then((response) => {
						// console.log("response.data.data.id", response)
						var respondDate = this.formatDateDexa(new Date())
						// var date = new Date().toLocaleDateString("id-ID", options);
						var notAccept = {
							status: 'N',
							last_updated_by: response.data.data.id,
							last_updated_date: respondDate,
						};
						let something = [];
						// for (let i = 0 ; i < this.selectedPo.length ; i++){
						//     this.payloadNotAccept = Object.assign(this.selectedPo[i], notAccept)
						// }
						this.selectedPo.forEach((element) => {
							this.payloadNotAccept = Object.assign(
								element,
								notAccept
							);
							something.push(this.payloadNotAccept);
							element.name = 'NOT ACCEPT';
						});

						let payload = { isi: something };
						PlanningOrder.notAcceptStatus(payload).then(
							(response) => {
								console.log(response);
							}
						);
						console.log('isi something', payload.isi);
						this.$toast.add({
							severity: 'success',
							summary: 'Status Change',
							detail: 'Change Status to Not Accept',
							life: 3000,
						});
					});
				}
			}
		},
		confirm(status) {
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			} else {
				AuthService.whoAmi().then((response) => {
					// console.log(response.data.data.id)
					var respondDate = this.formatDateDexa(new Date())
					var lopez = {
						last_updated_by: response.data.data.id,
						last_updated_date: respondDate,
						status: status,
						response_by: this.respondBy,
						plan_order_id: parseInt(this.idValue),
						db_instance: sessionStorage.companydb,
					};
					var something = [];
					// let header = { id : parseInt(this.idValue), date : dateHeader, status : 'T', last_updated_by : response.data.data.id, last_updated_date : date}
					// console.log(parseInt(this.idValue))
					this.selectedPo.forEach((element) => {
						const index = this.termsTable.findIndex(
							(something) =>
								something.pr_line_num === element.pr_line_num
						);
						this.something = Object.assign(
							element,
							this.termsTable[index],
							lopez
						);
						something.push(this.something);
						element.name = 'TO BE PROCESSED';
						if (status == 'C') {
							element.name = 'CANCELLED';
						}
					});
					let payload = { isi: something };
					for (var id of payload.isi) {
						if (id.need_by_date == null || id.need_by_date.length == 0){
							id.need_by_date = ''
						}
						if (id.need_by_date != null || id.need_by_date.length > 0){
							id.need_by_date = this.formatDateDexa(new Date(id.need_by_date))
						}
						if (id.confirm_ship_date == null || id.confirm_ship_date.length == 0){
							id.confirm_ship_date = ''
						}
						if (id.confirm_ship_date.length > 1){
							id.confirm_ship_date = this.formatDateDexa(new Date(id.confirm_ship_date))
						}
						if (id.remarks == null){
							id.remarks = ''
						}
						if (id.remarks != null){
							id.remarks = id.remarks
						}
						console.log('Untuk Canccelded', payload.isi);
						PlanningOrder.confirmSupp(payload).then(
							(response) => {}
						);
					}
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Status Already Changed',
						life: 3000,
					});
				});
			}
		},
		printPage() {
			let url = 'https://spb.isupplier-portal.com/#/printpopur';
			// let url = 'http://localhost:8080/#/printpopur'; 
			window.open(url, 'Print', 'height=720,width=1280');
		},
	},
};
</script>
<style scoped lang="scss">
.outofstock {
	font-weight: 700;
	color: #ff5252;
	text-decoration: line-through;
}

.lowstock {
	font-weight: 700;
	color: #ffa726;
}

.instock {
	font-weight: 700;
	color: #66bb6a;
}

::v-deep(.row-accessories) {
	background-color: rgba(0, 0, 0, 0.15) !important;
}

:selection {
	// background-color: #ffffff;
	color: #ff5252;
}
// input{
//     text-align: right;
// }
</style>
