<template>
	<div class="grid">
		<Toast />
		<ConfirmDialog></ConfirmDialog>
		<ConfirmDialog group="positionDialog"></ConfirmDialog>
		<div class="col-12">
			<Breadcrumb :home="breadcrumbHome" :model="breadcrumbItems" />
		</div>
		<div class="col-12 p-fluid">
			<div class="card">
				<div
					class="card"
					style="
						background-color: #da3831;
						height: 2em;
						margin: 0 0 2em 0;
					"
				>
					<h5 style="color: white; margin-top: -10px">
						Add/Edit Planning Order
					</h5>
				</div>
				<div class="p-fluid grid formgrid">
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="planningOrderNum"
								v-bind:disabled="planningOrderNum"
							/>
							<label for="inputtext">Planning Order No</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="revisition"
								disabled
							/>
							<label for="inputtext">Rev</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<!-- <InputText id="inputtext" type="text" v-model="planningOrderDate" v-bind:disabled="planningOrderDate"/> -->
							<InputText
								id="inputtext"
								type="text"
								v-model="planningOrderDate"
								v-bind:disabled="planningOrderDate"
							/>
							<label for="inputtext">Planning Order Date</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="planningOrderStatus"
								disabled
							/>
							<label for="inputtext">Status</label>
						</span>
					</div>
					<!-- <div class="col-12 mb-4 lg:col-6 lg:mb-5">
                <span class="p-float-label">
                    <InputText id="inputtext" type="text" v-model="supplier" v-bind:disabled="supplier"/>
                    <label for="inputtext">Supplier</label>
                </span>
            </div> -->
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="respondDate"
								v-bind:disabled="respondDate"
							/>
							<label for="inputtext">Must Respond Date</label>
						</span>
					</div>
					<div class="col-12 mb-4 lg:col-6 lg:mb-5">
						<span class="p-float-label">
							<InputText
								id="inputtext"
								type="text"
								v-model="respondBy"
								v-bind:disabled="respondBy"
							/>
							<label for="inputtext">Respond By</label>
						</span>
					</div>
				</div>
				<div class="p-fluid grid formgrid">
					<div class="col-6 mb-4 lg:col-1 lg:mb-5">
						<Button label="Print" @click="printPage()" />
					</div>
					<!-- <div class="col-6 mb-4 lg:col-1 lg:mb-5" v-if="!this.changeHold">
            <Button label="Hold" class="p-button-warning" @click="changeStatusHold()" />
            </div>
            <div class="col-6 mb-4 lg:col-1 lg:mb-5" v-if="!this.changeUnhold">
            <Button label="Unhold" class="p-button-warning" @click="changeStatusUnhold()"/>
            </div> -->
				</div>
			</div>
		</div>

		<div class="col-12 p-fluid">
			<div class="card">
				<!-- <div class="card" style="background-color: #478fcd; height: 2em; margin: 0 0 2em 0;">
                <h5 style="color: white; margin-top:-10px"> Submit PO </h5>
            </div>
            <div v-if="this.submitpo" class="p-fluid grid formgrid">
            <div class="col-12 mb-5 lg:col-2 lg:mb-0">
                <span class="p-float-label">
                    <AutoComplete v-model="location" :suggestions="filteredLocation" @complete="searchLocation($event)" :dropdown="true" field="ship_to_desc" forceSelection>
                        <template #item="slotProps">
                            <div class="ship to desc-item">
                                <div class="ml-2">{{slotProps.item.ship_to_desc}}</div>
                            </div>
                        </template>
                    </AutoComplete>
                    <label for="inputtext">Location</label>
                </span>
            </div>
            <div class="col-12 mb-5 lg:col-2 lg:mb-0">
                <span class="p-float-label">
                    <AutoComplete v-model="poType" :suggestions="filteredPoType" @complete="searchPoType($event)" :dropdown="true" field="name" forceSelection>
                        <template #item="slotProps">
                            <div class="supplier-item">
                                <div class="ml-2">{{slotProps.item.name}}</div>
                            </div>
                        </template>
                    </AutoComplete>
                    <label for="inputtext">PO Type</label>
                </span>
            </div>
            <div class="col-12 mb-3 lg:col-2 lg:mb-0">
                <span class="p-float-label">
                    <InputText id="inputtext" type="text" v-model="poNumber" />
                    <label for="inputtext">PO Number</label>
                </span>
            </div>
            <div class="col-12 mb-1 lg:col-1 lg:mb-0">
                <Button type="button" label="Search" icon="pi pi-search" @click="openResponsive"/>
            </div>
            </div> -->
				<div
					class="p-fluid grid formgrid"
					style="margin-top: 1.5rem; margin-bottom: 0.5rem"
				>
					<div class="col-6 mb-1 lg:col-2 lg:mb-0">
						<Button
							label="Planning Order"
							class="p-button-secondary p-button-text"
							@click="openPo"
						/>
					</div>
					<div class="col-6 mb-1 lg:col-1 lg:mb-0">
						<Button
							label="Terms"
							class="p-button-secondary p-button-text"
							@click="openTerms"
						/>
					</div>
				</div>

				<div class="col-12 mb-5" v-if="!this.changeTable">
					<DataTable
						:value="planningOrderTable"
						dataKey="pr_line_num"
						:paginator="true"
						:rows="5"
						v-model:filters="filters"
						v-model:selection="selectedPo"
						removableSort
						paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
						:rowsPerPageOptions="[5, 10, 25]"
						:loading="loading"
						selectionMode="multiple"
						:metaKeySelection="false"
						@rowSelect="onRowSelect"
						@rowUnselect="onRowUnselect"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
						responsiveLayout="scroll"
					>
						<!-- <Column selectionMode="multiple" headerStyle="width: 3em"></Column> -->
						<Column
							field="pr_line_num"
							header="Line"
							:sortable="true"
							headerStyle="min-width:5rem;"
						></Column>
						<Column
							field="item_num"
							header="Item Number"
							:sortable="true"
							headerStyle="min-width:12rem;"
						></Column>
						<Column
							field="item_desc"
							header="Item Description"
							:sortable="true"
							headerStyle="min-width:20rem;"
						></Column>
						<Column
							field="uom"
							header="UOM"
							headerStyle="min-width:8rem;"
						>
						</Column>
						<Column
							field="plan_qty"
							header="Qty"
							dataType="numeric"
							headerStyle="min-width:8rem;"
							style="text-align: center" 
						>
							<template #body="{ data }">
								{{ formatCurrency(data.plan_qty) }}
							</template>
						</Column>
						<Column
							field="ship_to_desc"
							header="Location"
							:sortable="true"
							headerStyle="min-width:10rem;"
						>
						</Column>
						<Column
							field="note_to_supplier"
							header="Note to Supplier"
							:sortable="true"
							headerStyle="min-width:10rem;"
						>
						</Column>
						<Column
							field="manufacturer_description"
							header="Manufacturer"
							:sortable="true"
							headerStyle="min-width:10rem;"
						>
						</Column>
						<Column
							field="currency"
							header="Currency"
							:sortable="true"
							headerStyle="min-width:8rem;"
							style="text-align: center"
						>
							<template #body="slotProps">
								<Dropdown
									v-model="slotProps.data.currency"
									:options="currenciesList"
									optionLabel="currency_code"
									optionValue="currency_code" v-bind:disabled="disabledOption[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="confirm_price"
							header="Confirm Price"
							:sortable="true"
							headerStyle="min-width:8rem;"
							style="text-align: center"
						>
							<template #body="slotProps">
								<InputNumber
									id="locale-german"
									v-model="slotProps.data.confirm_price"
									locale="de-DE" v-bind:disabled="disabledOption[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="confirm_qty"
							header="Confirm Qty"
							:sortable="true"
							headerStyle="min-width:8rem;"
							style="text-align: center"
						>
							<template #body="slotProps">
								<InputNumber
									id="locale-german"
									v-model="slotProps.data.confirm_qty"
									locale="de-DE" v-bind:disabled="disabledOption[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="remarks"
							header="Remark"
							:sortable="true"
							headerStyle="min-width:15rem;"
						>
							<template #body="slotProps">
								<InputText
									type="text"
									v-model="slotProps.data.remarks" v-bind:disabled="disabledOption[slotProps.index]"
								/> 
							</template>
						</Column>
						<!-- <Column header="Reason for not Accept" headerStyle="min-width:20rem;">
                    <template #body="slotProps">
                        <Textarea v-model="slotProps.data.remarks3" :autoResize="true" rows="5" cols="30" />
                    </template>
                </Column> -->
						<Column
							field="name"
							header="Line Status"
							:sortable="true"
							headerStyle=" min-width:12rem;"
						>
						</Column>
					</DataTable>
				</div>

				<div class="col-12 mb-5" v-if="this.changeTable">
					<DataTable
						:value="termsTable"
						dataKey="pr_line_num"
						:paginator="true"
						:rows="5"
						v-model:filters="filters"
						v-model:selection="selectedPo"
						removableSort
						paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
						:rowsPerPageOptions="[5, 10, 25]"
						:loading="loading"
						currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
						responsiveLayout="scroll"
					>
						<Column
							field="pr_line_num"
							header="Line"
							:sortable="true"
							headerStyle="min-width:5rem;"
						></Column>
						<!-- <Column field="plan_order_line_id" header="Line" :sortable="true" headerStyle="min-width:5rem;">
                <template #body="slotProps">
                     {{slotProps.index + 1}}
                </template></Column> -->
						<Column
							field="item_num"
							header="Item Number"
							:sortable="true"
							headerStyle="min-width:12rem;"
						></Column>
						<Column
							field="item_desc"
							header="Item Description"
							:sortable="true"
							headerStyle="min-width:20rem;"
						></Column>
						<Column
							header="Arrival at Site"
							style="text-align: center"
							
						>
							<template #body="slotProps">
								{{
								new Date(slotProps.data.need_by_date).toLocaleDateString('id-ID', { day: 'numeric', month: 'short', year: 'numeric' ,hour: "2-digit",minute: "2-digit", second: "2-digit"}) }}
							</template>
						</Column>
						<Column
							header="Arrival at W/H"
							style="text-align: center"
							
						>
						<template #body="slotProps">
								{{
								new Date(slotProps.data.need_by_date).toLocaleDateString('id-ID', { day: 'numeric', month: 'short', year: 'numeric' ,hour: "2-digit",minute: "2-digit", second: "2-digit"}) }}
						</template>
							</Column>
						<Column
							field="top_name"
							header="ToP"
							style="text-align: center"
						>
							<!-- <template #body="slotProps">
                        <Dropdown v-model="slotProps.data.top" :options="isiTop" optionLabel="name" optionValue="name" placeholder="Select ToP" />
                    </template> -->
						</Column>
						<Column
							field="freight_terms"
							header="Freight"
							style="text-align: center"
						>
							<!-- <template #body="slotProps">
                        <Dropdown v-model="slotProps.data.freight" :options="isiFreight" optionLabel="name" optionValue="name" placeholder="Select Freight" />
                    </template> -->
						</Column>

						<Column
							header="Confirm Arrival at Site"
							style="text-align: center"
							headerStyle="min-width:20rem;"
						>
							<template #body="slotProps">
								<Calendar
									v-model="slotProps.data.confirm_ship_date"
									dateFormat="dd M yy"
									:showTime="true"
									:showSeconds="true"
									:showIcon="true"
									inputStyle="text-transform: uppercase" v-bind:disabled="disabledOption[slotProps.index]"
								/>
							</template>
						</Column>
						<Column
							field="fob_sp"
							header="Incoterm"
							headerStyle="min-width:8rem;"
						>
						</Column>
					</DataTable>
				</div>

				<div class="p-fluid grid formgrid">
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Back"
							class="p-button-secondary"
							@click="back()"
						/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button type="button" label="Save" @click="save()" :disabled="this.button"/>
					</div>
					<div class="col-6 mb-2 lg:col-1 lg:mb-0">
						<Button
							type="button"
							label="Confirm"
							class="p-button-success"
							@click="confirm('T')" :disabled="this.button"
						/>
					</div>
					<!-- <div class="col-6 mb-2 lg:col-1 lg:mb-0">
                    <Button type="button" label="Not Accept" class="p-button-danger" @click="notAccept()"/>
                </div> -->
				</div>
			</div>
		</div>
	</div>

	<Dialog
		header="Search Po Number"
		v-model:visible="displayResponsive"
		:breakpoints="{ '960px': '75vw' }"
		:style="{ width: '75vw' }"
		:modal="true"
	>
		<div class="p-fluid grid formgrid" style="margin-top: 1.5rem">
			<div class="col-6 mb-2 lg:col-2 lg:mb-5">
				<span class="p-float-label">
					<AutoComplete
						v-model="popUpPo"
						:suggestions="filteredPopUpPo"
						@complete="searchPopUpPo($event)"
						:dropdown="true"
						field="segment1"
						forceSelection
					>
						<template #item="slotProps">
							<div class="country-item">
								<div class="ml-2">
									{{ slotProps.item.segment1 }}
								</div>
							</div>
						</template>
					</AutoComplete>
					<label for="inputtext">PO Number</label>
				</span>
			</div>
			<div class="col-6 mb-2 lg:col-1 lg:mb-2">
				<Button type="button" label="Search" />
			</div>
		</div>
		<DataTable
			:value="tablepopuppo"
			dataKey="plan_order_line_id"
			:paginator="true"
			:rows="5"
			v-model:filters="filters"
			removableSort
			paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
			:rowsPerPageOptions="[5, 10, 25]"
			:loading="loading"
			currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
			responsiveLayout="scroll"
		>
			<Column
				field="segment1"
				header="PO Number"
				:sortable="true"
			></Column>
			<Column
				field="vendor_name"
				header="Supplier"
				:sortable="true"
			></Column>
			<Column
				field="employeename"
				header="Buyer"
				:sortable="true"
			></Column>
			<Column field="location_code" header="Ship To"> </Column>
			<Column
				field="attribute1"
				header="PO Type"
				:sortable="true"
				style="text-align: center"
			>
			</Column>
			<Column
				field="creation_date"
				header="Creation Date"
				:sortable="true"
			>
			</Column>
			<Column field="closed_code" header="Status" :sortable="true">
			</Column>
			<Column
				field="authorization_status"
				header="Approval Status"
				:sortable="true"
				style="text-align: center"
			>
			</Column>
		</DataTable>
		<template #footer>
			<Button
				label="No"
				icon="pi pi-times"
				@click="closeResponsive"
				class="p-button-text"
			/>
			<Button
				label="Yes"
				icon="pi pi-check"
				@click="submitResponsive"
				autofocus
			/>
		</template>
	</Dialog>

	<Dialog
		header="Validation"
		v-model:visible="displayPilih"
		:breakpoints="{ '960px': '20vw' }"
		:style="{ width: '10vw' }"
		:modal="true"
	>
		<div class="confirmation-content">
			<span>Please Select Planning Order First</span>
		</div>
	</Dialog>

	<Dialog
		header="Validation"
		v-model:visible="displayValidasi"
		:breakpoints="{ '960px': '20vw' }"
		:style="{ width: '20vw' }"
		:modal="true"
	>
		<div class="confirmation-content">
			<i
				class="pi pi-exclamation-triangle mr-3"
				style="font-size: 2rem"
			/>
			<span>Are you sure "Note to Supplier" column is not empty?</span>
		</div>
	</Dialog>

	<Dialog
		header="Validation"
		v-model:visible="displayConfirm"
		:breakpoints="{ '960px': '20vw' }"
		:style="{ width: '20vw' }"
		:modal="true"
	>
		<div class="confirmation-content">
			<i
				class="pi pi-exclamation-triangle mr-3"
				style="font-size: 2rem"
			/>
			<span>Confirm Arrival at Site empty</span>
		</div>
	</Dialog>
</template>

<script>
/* eslint-disable */
import { FilterMatchMode, FilterOperator } from 'primevue/api';
import PlanningOrder from '../../../service/PlanningOrderService';
import { reactive, ref, toRef, unref } from '@vue/reactivity';
import AuthService from '../../../service/AuthService';
import SimpleCrypto from 'simple-crypto-js';
export default {
	name: 'planningorder-list',
	data() {
		return {
			idValue: this.$route.params.id,
			company: sessionStorage.getItem('mailToCompany'),
			idDetail: null,
			isiDetail: null,
			planningOrderNum: null,
			planningOrderDate: null,
			supplier: null,
			respondBy: null,
			revisition: null,
			planningOrderStatus: null,
			respondDate: null,
			location: null,
			isiLocation: null,
			filteredLocation: null,
			displayResponsive: false,
			changeTable: false,
			planningOrderTable: null,
			selectedPo: null,
			termsTable: null,
			poType: null,
			isiPoType: null,
			filteredPoType: null,
			selectedPoType: null,
			uom: null,
			currenciesList: null,
			isiUom: null,
			freight: null,
			isiFreight: null,
			tablepopuppo: null,
			arrivalDate: null,
			top: null,
			isiTop: null,
			incoterm: null,
			isiIncoterm: null,
			status: null,
			changeStatus: null,
			unholdStatus: null,
			changeHold: false,
			changeUnhold: false,
			popUpPo: null,
			filteredPopUpPo: null,
			poNumber: null,
			qty: null,
			submitpo: false,
			isInvalid: true,
			displayValidasi: false,
			displayPilih: false,
			displayConfirm : false,
			something: null,
			sender: null,
			usersenderid: null,
			vendorId: null,
			dbInstance: null,
			recipientMail: null,
			vendorname: null,
			orgIdNotif: null,
			disabledOption: [],
			button : false,
			monthNames : ["January", "February", "March", "April", "May", "June",
			"July", "August", "September", "October", "November", "December"
			],
			monthShortNames : ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
			"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
			],
			breadcrumbHome: { icon: 'pi pi-home', to: '/' },
			breadcrumbItems: [
				{ label: 'Planning Order', to: '/mgm/settings/planningorder' },
				{ label: 'Detail Planning Order' },
			],
		};
	},
	created() {
			const secretKey = 'some-unique-key';
			const simpleCrypto = new SimpleCrypto(secretKey);
			this.recipient = simpleCrypto.decrypt(
				sessionStorage.getItem('dropdownCompany')
			);
			// console.log('Recipient Email::',this.recipient)
			if (this.idValue != 0) {
				sessionStorage.setItem('printPoId', this.idValue);
				AuthService.whoAmi().then((response) => {
					this.sender = response.data.data.bioemailactive;
					// this.dbInstance = response.data.data.bioaddress;
					this.usersenderid = response.data.data.id;
					console.log('sender email::', this.sender);
					if (response.status === 200) {
						// console.log("INI NANTI NGAMBIL DATA DISINI", this.idValue)
						const payload = this.idValue;
						this.respondBy = response.data.data.userid;
						PlanningOrder.getIdDetail(payload).then((response) => {
							// console.log("ISI RESPONSE : ",response.data.data)
							this.isiDetail = response.data.data;
							// console.log("isi detail", this.isiDetail)
							this.planningOrderNum =
								response.data.data[0].plan_order_num;
							// let getMustRespDate = response.data.data[0].response_date;
							// let dateProcessA = getMustRespDate.substring(0,2);
							// let dateProcessB = getMustRespDate.substring(2,5);
							// let dateProcessC = getMustRespDate.substring(6,11);
							// let combineMustRespDate = dateProcessA + '/' + dateProcessB + '/' + dateProcessC;
							// let newDateA = new Date(combineMustRespDate.substring(0,10));
							// this.respondDate = newDateA.getDate()+'-'+newDateA.toString().substr(4,3).toUpperCase()+'-'+newDateA.getFullYear();
							this.respondDate = this.formatDate(
								new Date(response.data.data[0].response_date)
							)[0];
							this.supplier = response.data.data[0].vendor_name;
							// this.respondBy = response.data.data[0].response_by
							// this.revisition = response.data.data[0].revisition;
							if(response.data.data[0].revisition != null){
								this.revisition = response.data.data[0].revisition;
							} else {
								this.revisition = 0;
							}
							this.planningOrderStatus = response.data.data[0].status;
							if (response.data.data[0].status === 'HOLD') {
								// console.log("INI HOLD")
								this.changeHold = true;
								this.changeUnhold = false;
								this.submitpo = false;
							}
							if (response.data.data[0].status !== 'HOLD') {
								// console.log("INI NGGAK")
								this.changeHold = false;
								this.changeUnhold = true;
								this.submitpo = true;
							}
							// let dateResp = response.data.data[0].plan_order_date;
							// let dateRespProcessA = dateResp.substring(0,2);
							// let dateRespProcessB = dateResp.substring(2,5);
							// let dateRespProcessC = dateResp.substring(6,11);
							// let combinedDateResp = dateRespProcessA + '/' + dateRespProcessB + '/' + dateRespProcessC;
							// let newDate = new Date(combinedDateResp.substring(0,10));
							// this.dateRespConvert = newDate.getDate()+'-'+newDate.toString().substr(4,3)+'-'+newDate.getFullYear();
							this.planningOrderDate = this.formatDate(
								new Date(response.data.data[0].plan_order_date)
							)[0];
							if (this.planningOrderNum !== null) {
								const payload =
									response.data.data[0].plan_order_num;
								PlanningOrder.getTableDetailPo(payload).then(
									(response) => {
										this.planningOrderTable = response.data.data;
										this.vendorId = response.data.data[0]['vendor_id']
										this.orgIdNotif = response.data.data[0]['org_id']
										console.log('vendorId utk email::', this.vendorId)
										// await new Promise(resolve => setTimeout(resolve, 500));
										console.log('orgId utk email::', response.data.data[0]['org_id'])
										console.log('isi Response dari payload',this.planningOrderTable);
										for (var id in this.planningOrderTable){
											if ( this.planningOrderTable[id].name == 'TO BE PROCESSED' || this.planningOrderTable[id].name == 'COMPLETED'){
												this.disabledOption[id] = true
											}
											else {
												this.disabledOption[id] = false
											}
											
										}
									}
								);
								
								PlanningOrder.getTermsSupp(payload).then(
									(respond) => {
										
										let getDistinctLine = null
										let newSetArray = []
										respond.data.data.forEach((element) => {
											if (getDistinctLine !== element.plan_order_line_id) {
												newSetArray.push(element)
												getDistinctLine = element.plan_order_line_id
											}
										})
										this.termsTable = [...new Set(newSetArray)]

										for (let id of this.termsTable) {
											console.log("isi table terms", id)
											if ( id.need_by_date != null ){
												id.need_by_date = new Date(id.need_by_date)
												console.log(id.need_by_date)
												if (id.need_by_date == 'Invalid Date'){
													id.need_by_date = ''
												}
												// id.confirm_ship_date = new Date(id.confirm_ship_date)
												id.confirm_ship_date = this.dateFormat2(new Date(id.confirm_ship_date))
												if ( id.confirm_ship_date == '1 Jan 1970 7:0:0'){
													id.confirm_ship_date = new Date()
												}
												console.log('wowwooo',id.confirm_ship_date)
												// console.log("FAAAk", id.confirm_ship_date)
											}
											else {
												id.confirm_ship_date = new Date()
											}
											
											// console.log(id.need_by_date.toLocaleString('id-ID'))
										}
										// let date = new Date(response.data.data.confirm_ship_date)
										console.log("ISI TERMS ", this.termsTable)
									}
								);
							}
						});
					}
				});
		}
		this.getLocation();
		this.getPoType();
		// this.getUom()
		// this.getFreight()
		this.getTablePoNumber();
		// this.getTop();
		// this.getIncoterm()
	},
	watch: {
		// selectedPo(){
		// 	for(var id of this.selectedPo){
		// 		console.log("INI", id.name)
		// 		if (id.name == 'COMPLETED' || id.name == 'TO BE PROCESSED' || id.name == 'PROCESSED' || this.selectedPo.length == 0){
		// 			this.button = true
		// 		}
		// 		else{
		// 			this.button = false
		// 		}
		// 	}
		// }
	},
	mounted() {
		let payload = sessionStorage.companydb;
		PlanningOrder.getAllCurrencies(payload).then((value) => {
			this.currenciesList = value.data.data;
		});
		// DAPETIN EMAIL RECIPIENT/COMPANY
		const data = {
			idUser: sessionStorage.getItem('idUser'),
			companyname: this.company,
		};
		PlanningOrder.getRecipientMail(data).then((respond) => {
			console.log('emailnya recipient::', respond.data.data[0]);
			this.dbInstance = respond.data.data[0][0]['DB_INSTANCE']
			var tampungEmail = [];
			var getOrgId = null;
			var suppliername = null;
			respond.data.data[0].forEach((element) => {
				tampungEmail.push(element.targetemailgroup);
				if (getOrgId === null) {
					getOrgId = element.id;
					suppliername = element.vendorname;
				}
			});
			this.recipientMail = tampungEmail
				.toString()
				.replace(/"/g, '')
				.replace(/[\[\]']+/g, '')
				.replace(/ /g, '')
				.replace(/,/g, ', ');
			this.vendorname = suppliername;
			this.orgIdNotif = getOrgId;
			console.log('org_id company::', getOrgId);
			console.log('supplier (responder)::', this.vendorname);
			console.log('tampung email::', this.recipientMail);
		});
	},
	computed: {
		// respondDate(){
		//     const date = new Date()
		//     date.setDate(date.respondBy()+ 1)
		//     return date
		// }
	},
	methods: {
		formatCurrency(value) {
			if (value) return value.toLocaleString('id-ID');
			return;
		},
		pad2(n) {
			return (n < 10 ? '0' : '') + n;
		},
		dateFormat2(d) {
		var t = new Date(d);
		return t.getDate() + ' ' + this.monthShortNames[t.getMonth()] + ' ' + t.getFullYear() + ' ' + t.getHours() + ':' + t.getMinutes() + ':' + t.getSeconds();
		},
		formatDate(date) {
			var month = this.pad2(date.getMonth() + 1); //months (0-11)
			var day = this.pad2(date.getDate()); //day (1-31)
			var year = date.getFullYear();
			var combinedNeedDate = new Date(month + '/' + day + '/' + year);
			let formattedDate = [];
			console.log('Date ', date);
			formattedDate[0] =
				combinedNeedDate.getDate() +
				'-' +
				combinedNeedDate.toString().substr(4, 3) +
				'-' +
				combinedNeedDate.getFullYear();
			formattedDate[1] =
				combinedNeedDate.getMonth() +
				1 +
				'/' +
				combinedNeedDate.getDate() +
				'/' +
				combinedNeedDate.getFullYear();
			return formattedDate;
		},
		AllTheSame(array) {
			var first = array[0];
			return array.every(function(element) {
				return element.name === first.name;
			});
		},
		 formatDateSend(date){
			var d = new Date(date),
				month = '' + (d.getMonth() + 1),
				day = '' + d.getDate(),
				year = d.getFullYear();

			if (month.length < 2) 
				month = '0' + month;
			if (day.length < 2) 
				day = '0' + day;

			return [year, month, day].join('-');
			},
		formatDateDexa(date){
			var date = new Date(date);
			var respondDate =
					('00' + (date.getMonth() + 1)).slice(-2) +
					'/' +
					('00' + date.getDate()).slice(-2) +
					'/' +
					date.getFullYear() +
					' ' +
					('00' + date.getHours()).slice(-2) +
					':' +
					('00' + date.getMinutes()).slice(-2) +
					':' +
					('00' + date.getSeconds()).slice(-2);
			return respondDate
		},
		getLocation() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PlanningOrder.getLocation().then((response) => {
						// console.log(response.data.data)
						this.isiLocation = response.data.data;
					});
				}
			});
		},

		searchLocation(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredLocation = [...this.isiLocation];
				} else {
					this.filteredLocation = this.isiLocation.filter((item) => {
						return item.ship_to_desc
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		getPoType() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PlanningOrder.getPoType().then((response) => {
						this.isiPoType = response.data.data;
					});
				}
			});
		},
		getFreight() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PlanningOrder.getFreight().then((response) => {
						this.isiFreight = response.data.data;
					});
				}
			});
		},
		getTop() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PlanningOrder.getTop().then((response) => {
						this.isiTop = response.data.data;
					});
				}
			});
		},
		getIncoterm() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					if (sessionStorage.companydb !== null) {
						const payload = sessionStorage.companydb;
						console.log('isi payload', payload);
						PlanningOrder.getIncoterm(payload).then((response) => {
							this.isiIncoterm = response.data.data;
							console.log(this.isiIncoterm);
						});
					}
				}
			});
		},
		getTablePoNumber() {
			// AuthService.whoAmi().then(response => {
			//     if (response === 200 ){
			PlanningOrder.getTablePoNumber().then((response) => {
				this.tablepopuppo = response.data.data;
				// console.log("ISI TABLE : ",this.tablepopuppo)
			});
			//     }
			// })
		},
		searchPoType(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPoType = [...this.isiPoType];
				} else {
					this.filteredPoType = this.isiPoType.filter((item) => {
						return item.name
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		getUom() {
			AuthService.whoAmi().then((response) => {
				if (response.status === 200) {
					PlanningOrder.getUom().then((response) => {
						this.isiUom = response.data.data;
						console.log(this.isiUom);
					});
				}
			});
		},
		changeStatusHold() {
			if (
				this.planningOrderStatus !== 'H' ||
				this.planningOrderStatus !== 'HOLD'
			) {
				this.changeHold = true;
				this.changeUnhold = false;
				this.submitpo = false;
				let payload = { status: 'H', id: this.idValue };
				PlanningOrder.changeStatus(payload).then((response) => {
					console.log('RESPONSE', response);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Hold',
						life: 3000,
					});
					this.planningOrderStatus = 'HOLD';
				});
			}
		},
		changeStatusUnhold() {
			if (
				this.planningOrderStatus === 'H' ||
				this.planningOrderStatus === 'HOLD'
			) {
				this.changeUnhold = true;
				this.changeHold = false;
				this.submitpo = true;
				let payload = { status: 'C', id: this.idValue };
				PlanningOrder.changeStatus(payload).then((response) => {
					console.log('RESPONSE', response);
					this.$toast.add({
						severity: 'success',
						summary: 'Status Change',
						detail: 'Change Status to Confirmed',
						life: 3000,
					});
					this.planningOrderStatus = 'CONFIRMED';
				});
			}
		},
		searchPopUpPo(event) {
			setTimeout(() => {
				if (!event.query.trim().length) {
					this.filteredPopUpPo = [...this.tablepopuppo];
				} else {
					this.filteredPopUpPo = this.tablepopuppo.filter((item) => {
						return item.segment1
							.toLowerCase()
							.startsWith(event.query.toLowerCase());
					});
				}
			}, 250);
		},
		openResponsive() {
			this.displayResponsive = true;
		},
		closeResponsive() {
			this.displayResponsive = false;
			this.popUpPo = null;
		},
		submitResponsive() {
			this.displayResponsive = false;
			this.poNumber = this.popUpPo.segment1;
			console.log('IIS', this.popUpPo);
		},
		openPo() {
			console.log('INI PLANNING ORDER');
			this.changeTable = false;
		},
		openTerms() {
			console.log('INI TERMS');
			this.changeTable = true;
		},
		back() {
			this.$router.push({ name: 'planningOrder' });
		},
		save() {
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			} else {
				AuthService.whoAmi().then((response) => {
					// console.log(response.data.data.id)
					for (var id of this.selectedPo) {
						// console.log("ISI ID TERMS", id)
						var date = this.formatDateDexa(new Date());
						var lopez = {
							last_updated_by: response.data.data.id,
							last_updated_date: date,
						};
						var dateHeader = this.formatDateDexa(new Date())
						var something = [];
						this.selectedPo.forEach((element) => {
							const index = this.termsTable.findIndex(
								(something) =>
								something.pr_line_num === element.pr_line_num

							);
							this.something = Object.assign(
								element, this.termsTable[index], lopez
							);
							something.push(this.something);
							// console.log(element.confirm_ship_date.toLocaleDateString("id-ID", options)
							// console.log('isi date', date);
						});
						var statusHeader
						var checkPO = this.AllTheSame(this.planningOrderTable)
						if (checkPO) {
						this.selectedPo.forEach(element => {
							if (element.name == 'PROCESSED'){
								statusHeader = 'A'
							}
							if (element.name == 'TO BE PROCESSED'){
								statusHeader = 'C'
							}
							else {
								statusHeader = 'D'
							}
						});
						}
						let header = {
							id: this.idValue,
							date: dateHeader,
							status: statusHeader,
							last_updated_by: response.data.data.id,
							last_updated_date: dateHeader,
						};
						let payload = {
							isi: something, header : header
						};
						for (var id of payload.isi) {
							if (id.confirm_ship_date == null ){
								this.displayConfirm = true
								// console.log("Date",id.confirm_ship_date)
							}
							else{
							if (id.remarks == null){
								id.remarks = ''
							}
							id.confirm_ship_date = this.formatDateDexa(new Date(id.confirm_ship_date))
							id.need_by_date = this.formatDateDexa(new Date(id.need_by_date))
							this.$toast.add({
								severity: 'success',
								summary: 'Save Data',
								detail: 'Data has been saved',
								life: 3000,
							});
							console.log("isi save", payload)
							PlanningOrder.saveOptionSupp(payload).then(
								(response) => {
									console.log(response);
								}
							);
							}
						}

					}

				});
			}
			// console.log("HALOOOO")
		},
		confirm(status) {
			if (this.selectedPo == null || this.selectedPo.length == 0) {
				this.displayPilih = true;
			} else {
				AuthService.whoAmi().then((response) => {
					// console.log(response.data.data.id)
					var date = this.formatDateDexa(new Date());
					var lopez = {
						last_updated_by: response.data.data.id,
						last_updated_date: date,
						status: status,
						response_by: this.respondBy,
						plan_order_id: parseInt(this.idValue),
						suppliername: this.vendorname,
						plan_order_num: this.planningOrderNum,
						plan_order_date: this.planningOrderDate.toUpperCase(),
						response_date: this.respondDate.toUpperCase(),
						emails: this.recipientMail,
					};
					var something = [];
					// let header = { id : parseInt(this.idValue), date : dateHeader, status : 'T', last_updated_by : response.data.data.id, last_updated_date : date}
					// console.log(parseInt(this.idValue))
					this.selectedPo.forEach((element) => {
						const index = this.termsTable.findIndex(
							(something) =>
							something.pr_line_num === element.pr_line_num
						);
						this.something = Object.assign(
							element,
							this.termsTable[index],
							lopez
						);
						something.push(this.something);
						element.name = 'TO BE PROCESSED';
						if (status == 'C') {
							element.name = 'CANCELLED';
						}
					});
					var dateHeader = this.formatDateDexa(new Date())
					var statusHeader
					var checkPO = this.AllTheSame(this.planningOrderTable)
					if (checkPO) {
					this.selectedPo.forEach(element => {
						if (element.name == 'PROCESSED'){
							statusHeader = 'A'
						}
						if (element.name == 'TO BE PROCESSED'){
							statusHeader = 'C'
						}
						else {
							statusHeader = 'D'
						}
					});
					}
					let header = {
						id: this.idValue,
						date: dateHeader,
						status: statusHeader,
						last_updated_by: response.data.data.id,
						last_updated_date: dateHeader,
					};
					let payload = {
						isi: something, header : header
					};
					for (var id of payload.isi) {
						if (id.confirm_ship_date == null || id.confirm_ship_date.length == 0) {
							this.displayConfirm = true
							// console.log("Date", id.confirm_ship_date)
						} 
						else {
							id.confirm_ship_date = this.formatDateDexa(new Date(id.confirm_ship_date))
							console.log('Untuk CONFIRM', payload.isi);
							PlanningOrder.confirmSupp(payload).then(
								(response) => {}
							);
							
						}

					}
					this.$toast.add({
								severity: 'success',
								summary: 'Status Change',
								detail: 'Status Already Changed',
								life: 3000,
							});
							// KIRIM NOTIFIKASI KE DASHBOARD
							const payload1 = {
								idmodule: '1',
								sbjmessage: 'Planning Order #' +
									this.planningOrderNum.toString() +
									' has been confirmed by ' +
									this.vendorname.toString(),
								receiveddate: new Date(),
								status: 'Close',
								notif_type: 'Purchasing',
								sender: this.sender.toString(),
								recipient: this.recipientMail.toString(),
								dbInstance: this.dbInstance,
								orgIdComp: this.orgIdNotif,
								usersenderid: this.vendorId,
								// userreceiveid: this.usersenderid,
							};
							PlanningOrder.sendPONotifSupp(payload1).then((value) => {
								if (value.status === 200) {
									// this.recipientMail = [];
									window.alert('Purchasing Successfully Notified');
									// console.clear();

								}
							});
							//NGIRIM EMAIL
							PlanningOrder.sendPOEmail({
								sendpodata: JSON.stringify(payload.isi),
							}).then(() => {
								//  console.log(response.data.status);
							});
							this.$router.push({
								name: 'planningOrder'
							});

				});


			}

		},
		printPage() {
			let url = 'https://spb.isupplier-portal.com/#/printposupp';
			// let url = 'http://localhost:8080/#/printposupp';
			window.open(url, 'Print', 'height=720,width=1280');
		},
	},
};
</script>
